/*
 * Common definition for theme
 */

@font_size_default: 32px;

/* wongi_1012 Add Font Size index */
@font_size_00:	0.5em;	/* 16px */
@font_size_01:	0.6em;	/* 18px */
@font_size_02:	0.6em;	/* 20px */
@font_size_03:	0.7em;	/* 22px */
@font_size_04:	0.8em;	/* 24px */
@font_size_05:	0.8em;	/* 26px */
@font_size_06:	0.9em;	/* 28px */
@font_size_07:	1.0em;	/* 32px */
@font_size_08:	1.125em;	/* 36px */
@font_size_09:	1.2em;	/* 38px */
@font_size_10:	1.3em;	/* 40px */
@font_size_11:	1.3125em;	/* 42px */
@font_size_12:	1.375em;	/* 44px */
@font_size_13:	1.5em;	/* 48px */
@font_size_14:	1.8em;	/* 58px */
@font_size_15:	2.6em;	/* 84px */

/* wongi_1012 Add Color list index */
@color_00: #000000;        /* 000, 000, 000 */
@color_01: #00A8E7;        /* 000, 168, 231 */
@color_02: #2A6D8C;        /* 042, 109, 140 */
@color_03: #2ABE8C;        /* 042, 190, 140 */
@color_04: #2F78DC;        /* 047, 120, 220 */
@color_05: #2FA6D7;        /* 047, 166, 215 */
@color_06: #39A6D7;        /* 057, 166, 215 */
@color_07: #3F8DAD;        /* 063, 141, 173 */
@color_08: #464646;        /* 070, 070, 070 */
@color_09: #514E4C;        /* 081, 078, 076 */
@color_10: #5A5A5A;        /* 090, 090, 090 */
@color_11: #606060;        /* 096, 096, 096 */
@color_12: #646464;        /* 100, 100, 100 */
@color_13: #666666;        /* 102, 102, 102 */
@color_14: #6997AD;        /* 105, 151, 173 */
@color_15: #6C6C6C;        /* 108, 108, 108 */
@color_16: #6C7376;        /* 108, 115, 118 */
@color_17: #8C8998;        /* 140, 137, 152 */
@color_18: #909090;        /* 144, 144, 144 */
@color_19: #929292;        /* 146, 146, 146 */
@color_20: #959595;        /* 149, 149, 149 */
@color_21: #985900;        /* 152, 089, 000 */
@color_22: #999999;        /* 153, 153, 153 */
@color_23: #9EC3D5;        /* 158, 195, 213 */
@color_24: #AB5252;        /* 171, 082, 082 */
@color_25: #B4B4B4;        /* 180, 180, 180 */
@color_26: #B9B9B9;        /* 185, 185, 185 */
@color_27: #BABABA;        /* 186, 186, 186 */
@color_28: #CF2525;        /* 207, 037, 037 */
@color_29: #CF2929;        /* 207, 041, 041 */
@color_30: #D30000;        /* 211, 000, 000 */
@color_31: #DD8615;        /* 221, 134, 21 */
@color_32: #E21414;        /* 226, 020, 020 */
@color_33: #EBECED;        /* 235, 236, 237 */
@color_34: #F01402;        /* 240, 020, 002 */
@color_35: #F4F4F4;        /* 244, 244, 244 */
@color_36: #F9F9F9;        /* 249, 249, 249 */

/* wongi_1012 Add pixel to em index */
@linewidth_00: 0em;    	 /* 0px */
@linewidth_01: 0.03em;   /* 1px */
@linewidth_02: 0.06em;   /* 2px */
@linewidth_03: 0.09em;   /* 3px */
@linewidth_04: 0.13em;   /* 4px */
@linewidth_05: 0.16em;   /* 5px */
@linewidth_06: 0.19em;   /* 6px */
@linewidth_07: 0.22em;   /* 7px */
@linewidth_08: 0.25em;   /* 8px */
@linewidth_09: 0.28em;   /* 9px */
@linewidth_10:0.31em;   /* 10px */
@linewidth_11:0.34em;   /* 11px */
@linewidth_12:0.38em;   /* 12px */


@bgcolor: @color_01; 
@headercolor: #44444a;
@bordercolor: #2A2A2A; 
@buttoncolor_normal: #3A3A3A;	//wongi_button
@buttoncolor_press: #008CD2;	//wongi_button
@buttontextcolor_normal:	#F9F9F9;	//wongi_button
@buttontextcolor_press: 	#F9F9F9;	//wongi_button

 
.LESSbackground-img-with-gradient(@from: top, @startcolor: #3c3c3c, @endcolor: #111) {
	background-image: -webkit-gradient(linear, left top, left bottom, from(@startcolor), to(@endcolor)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(@from, @startcolor, @endcolor);
	background-image:    -moz-linear-gradient(@from, @startcolor, @endcolor);
	background-image:     -ms-linear-gradient(@from, @startcolor, @endcolor);
	background-image:      -o-linear-gradient(@from, @startcolor, @endcolor);
	background-image:         linear-gradient(@from, @startcolor, @endcolor);
}

.LESSborder-radius-topleft(@radius) {
	-moz-border-radius-topleft: 		@radius; 
	-webkit-border-top-left-radius: 	@radius;
	border-top-left-radius: 			@radius;
}

.LESSborder-radius-topright(@radius) {
	-moz-border-radius-topright: 		@radius; 
	-webkit-border-top-right-radius: 	@radius;
	border-top-right-radius: 			@radius;
}

.LESSborder-radius-bottomleft(@radius) {
	-moz-border-radius-bottomleft: 		@radius; 
	-webkit-border-bottom-left-radius: 	@radius;
	border-bottom-left-radius: 			@radius;
}
.LESSborder-radius-bottomright(@radius) {
	-moz-border-radius-bottomright: 		@radius; 
	-webkit-border-bottom-right-radius: 	@radius;
	border-bottom-right-radius: 			@radius;
}

.LESSborder-radius-all(@radius) {
	-moz-border-radius: 		@radius; 
	-webkit-border-radius: 	@radius;
	bordert-radius: 			@radius;
}

.LESSbackground-size(@width, @height) {
	-moz-background-size: @width @height;
	-o-background-size: @width @height;
	-webkit-background-size: @width @height;
	background-size: @width @height;
}


.LESSbox-shadow(@hshadow, @vshadow, @blur, @color) {
	-moz-box-shadow: @hshadow @vshadow @blur @color;
	-webkit-box-shadow: @hshadow @vshadow @blur @color;
	box-shadow: @hshadow @vshadow @blur @color;
}
.LESSdisplaybox() {
	display:-moz-box;
	display:-webkit-box;
	display:box;
}
//position: vertical, horizental
.LESSbox-orient(@position) {
	-moz-box-orient: @position;
	-webkit-box-orient: @position;
	box-orient: @position;
}

//position: start, center, end
.LESSbox-pack(@position) {
	-moz-box-pack: @position;
	-webkit-box-pack: @position;
	box-pack: @position;
}

//position: start, center, end
.LESSbox-align(@position) {
	-moz-box-align: @position;
	-webkit-box-align: @position;
	box-align: @position;
}	
	
//wongi_button //name from GUI guideline
.LESSbutton_text1_style{
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 1.0em;
	font-style:normal;
	color: @buttontextcolor_normal;
	&:hover{color: @buttontextcolor_press;}
}

