
@import "config.less";

/* dayselector CSS */
.ui-dayselector label {
    height: 56px;
    width: 64px;
}

.ui-dayselector  {
	
	.ui-btn {
		border-color : #646464;
		border-style : solid;
		border-width : 1 * @unit_base;
		.ui-btn-inner {
			text-align :center;
			
			padding : 0.8em 0px;
		}
	}
 	.ui-checkbox-off {
		background : #3b3b3b;
		.ui-btn-text {
			color : #f9f9f9;
		}	
	}
	
	.ui-checkbox-off.ui-btn-down-s.ui-btn-hover-s {
		background : #008cd2;
	}
	
	.ui-checkbox-on {
		background : #008cd2;
		.ui-btn-text {
			color : #f9f9f9;	
	   	}	
	}

	.ui-checkbox-on.ui-btn-down-s.ui-btn-hover-s {
		background : #3b3b3b;
	}
	.ui-dayselector-label-saturday {
		.ui-btn-text {	
	    	color: #00a8e7;
		}
	}
	.ui-dayselector-label-sunday {
		.ui-btn-text {
		    color: #f01402;
		}
	}
	.ui-checkbox {
	
		height : 90 * @unit_base;
		
		.ui-btn {
			width : 94 * @unit_base;
		}
		.ui-btn.ui-corner-left	{
			border-top-left-radius : 5 * @unit_base;
			border-bottom-left-radius : 5 * @unit_base;
		} 
		.ui-btn.ui-corner-right	{
			border-top-right-radius : 5 * @unit_base;
			border-bottom-right-radius : 5 * @unit_base;
		}			 
}

}

