<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/TAUApplicationFramework" version="0.1.0" viewmodes="maximized">
    <access origin="*"></access>
    <tizen:application id="vUf39tzQ4w.TAUApplicationFramework" package="vUf39tzQ4w" required_version="2.2"/>
    <content src="src/index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>TAUControllerWithOutRouter</name>
    <tizen:privilege name="http://tizen.org/privilege/fullscreen"/>
    <tizen:profile name="mobile"/>
</widget>
