.my-check-button-style {
	margin: 10px;
}
.my-check-inline-style {
	display: inline;
}

.ui-icon-test{
	background-size: 100% 100%;
	background-image: url(test.png);
}

.ui-icon-test2{
	background-position:0% 0%;
	background-size:50% 50%;
	background-image: url(test.png);
}

.popup-content-padding {
	padding: 18px 24px;
}

.ui-popup-header.popup-2line-title,
.ui-popup-listview .ui-popup-header.popup-2line-title {
	height: 93px;
	padding: 0;
}
.popup-2line-title h1,
.popup-2line-title h2 {
	margin: 0;
	font-weight: normal;
}

.popup-2line-title h1 {
	font-size: 32px;
	line-height: 43px;
	padding-top: 20px;
}
.popup-2line-title h2 {
	font-size: 22px;
	line-height: 30px;
}

.ui-popup-listview .ui-popup-header.popup-2line-title h1 {
	padding-top: 10px;
}
