<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.support-2.3.css">
	<link rel="stylesheet" href="../../../css/style.css">
	<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
	<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.support-2.3.js" data-build-remove="false"></script>
</head>
<body>
<div class="ui-page" id="scrollbarPage">
	<style>
		#hv-list li {
			white-space: nowrap;
		}
	</style>
	<div class="ui-header" data-position="fixed">
		<h1>Contacts</h1>
	</div>
	<div class="ui-content ui-scrollhandler" data-direction="xy" data-scroll="xy">
		<ul class="ui-listview ui-colored-list" id="hv-list">
			<li class="ui-group-index">A</li>
			<li class="ui-li-static">List item 01 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 02 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 03 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 04 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 05 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 06 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 07 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 08 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 09 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 10 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-group-index">B</li>
			<li class="ui-li-static">List item 11 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 12 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 13 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 14 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 15 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 16 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 17 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 18 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 19 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 20 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-group-index">C</li>
			<li class="ui-li-static">List item 21 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 22 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 23 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 24 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 25 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 26 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 27 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 28 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 29 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 30 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-group-index">D</li>
			<li class="ui-li-static">List item 31 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 32 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 33 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 34 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 35 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 36 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 37 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 38 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 39 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 40 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-group-index">E</li>
			<li class="ui-li-static">List item 41 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 42 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 43 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 44 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 45 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 46 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 47 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 48 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 49 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 50 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-group-index">F</li>
			<li class="ui-li-static">List item 51 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 52 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 53 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 54 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 55 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 56 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 57 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 58 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 59 ......................... very .................... long .............. list ............. items</li>
		</ul>
	</div>
</div>
</body>
</html>
