<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.support-2.3.css">
	<link rel="stylesheet" href="../../../css/style.css">
	<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
	<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.support-2.3.js" data-build-remove="false"></script>
</head>
<body>
<div class="ui-page" id="scrollbarPage">
	<style>
		#horizontal-list li {
			white-space: nowrap;
		}
	</style>
	<div class="ui-header" data-position="fixed">
		<h1>Contacts</h1>
	</div>
	<div class="ui-content ui-scrollhandler" data-direction="x">
		<ul class="ui-listview ui-colored-list" id="horizontal-list">
			<li class="ui-group-index">A</li>
			<li class="ui-li-static">List item 01 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 02 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 03 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 04 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 05 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 06 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 07 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 08 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 09 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 10 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-group-index">B</li>
			<li class="ui-li-static">List item 11 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 12 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 13 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 14 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 15 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 16 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 17 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 18 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 19 ......................... very .................... long .............. list ............. items</li>
			<li class="ui-li-static">List item 20 ......................... very .................... long .............. list ............. items</li>
		</ul>
	</div>
</div>
</body>
</html>
