<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../../css/custom.css">
	<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<tau-page class="ui-page" id="activityindicator-demo">
	<div class="ui-header" data-position="fixed">
		<h1>Progress-activity circle</h1>
	</div><!-- /header -->
	<tau-scrollview class="ui-content">
		<p class="activity-p">1. Large Indicator</p>
		<div class="activity-bg">
			<tau-progress type="activitycircle" size="large" id="activity-large" class="ui-progress activity-circle"></tau-progress>
		</div>
		<p class="activity-p">2. Medium Indicator</p>
		<div class="activity-bg">
			<tau-progress type="activitycircle" size="medium" id="activity-medium" class="ui-progress activity-circle"></tau-progress>
		</div>
		<p class="activity-p">3. Small Indicator</p>
		<div class="activity-bg">
			<tau-progress type="activitycircle" size="small" id="activity-small" class="ui-progress activity-circle"></tau-progress>
		</div>
	</tau-scrollview><!-- /content -->
</tau-page><!-- /page -->
</body>
</html>