<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../../css/custom.css">
	<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<tau-page class="ui-page" id="activitybar-demo">
	<div class="ui-header" data-position="fixed">
		<h1>Progress-activity bar</h1>
	</div><!-- /header -->
	<tau-scrollview class="ui-content">
		<tau-listview role="listview">
			<li class="ui-li-static"><tau-progress type="activitybar" class="ui-progress"></tau-progress></li>
		</tau-listview>
	</tau-scrollview><!-- /content -->
</tau-page><!-- /page -->
</body>
</html>