<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../../css/custom.css">
	<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<tau-page class="ui-page" id="progresscircle-demo">
	<div class="ui-header" data-position="fixed">
		<h1>Progress-progress circle</h1>
	</div><!-- /header -->
	<tau-scrollview class="ui-content">
		<div class="progress-bg">
			<div class="result" id="result"></div>
			<tau-progress type="circle" size="large" value="0" class="ui-progress" id="circle"></tau-progress>
		</div>
	</tau-scrollview><!-- /content -->
	<div class="ui-footer" data-position="fixed">
		<tau-button id="minus" href="#" class="ui-btn">-10%</tau-button>
		<tau-button id="plus" href="#" class="ui-btn">+10%</tau-button>
	</div>
	<script src="progresscircle.js"></script>
</tau-page><!-- /page -->
</body>
</html>