.content-padding {
	margin-top: 16px;
	margin-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
}

.button-group-height {
	height: 72px;
}

/* ---------------------------------- LISTVIEW ---------------------------------- */
.ui-listview li, .ui-listview li > * {
        white-space: nowrap;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        overflow: hidden!important;
        -webkit-user-select: none;
}
.ui-listview li .li-text-sub {
        display: block;
        color: rgb(255, 255, 255);
        font-size: 20px;
        opacity: 0.5;
}
.ui-listview li.li-has-multiline {
        padding-top: 14px;
        padding-bottom: 14px;
        min-height: 90px;
}
.ui-listview li.li-has-multiline.disabled,
.ui-listview li.li-has-multiline.disabled > * {
        color: rgb(51, 51, 51);
}
.ui-listview li.li-has-multiline > a {
        margin-top: -14px;
        margin-bottom: -38px;
        padding-top: 14px;
        padding-bottom: 38px;
}
.ui-listview li.li-has-multiline.2lines > a {
        margin-bottom: -62px;
        padding-bottom: 62px;
}
.ui-listview li.li-has-multiline.disabled .li-text-sub {
        color: rgb(31, 31, 31);
}
.ui-listview li.li-has-multiline-sup {
        padding-top: 14px;
        padding-bottom: 14px;
        min-height: 90px;
}
.ui-listview li.li-has-multiline-sup.disabled {
        color: rgb(51, 51, 51);
}
.ui-listview li.li-has-multiline-sup > a {
        margin-top: -38px;
        margin-bottom: -14px;
        padding-top: 38px;
        padding-bottom: 14px;
}
.ui-listview li {
        position: relative;
}
.ui-listview li .checkbox {
        position: absolute;
        right: 8px;
        top: 0px;
        margin-top: 19px;
}
.ui-listview li.li-has-checkbox {
        padding-right: 68px;
}
.ui-listview li .radio {
        position: absolute;
        right: 8px;
        top: 0px;
        margin-top: 19px;
}
.ui-listview li.li-has-radio {
        padding-right: 68px;
}
.ui-listview li.li-has-next-depth {
        padding-right: 60px;
}
/* ------------------------------------------------------------------------------ */
/* ---------------------------------- CHECKBOX ---------------------------------- */
.checkbox {
	position: relative;
	display: inline-block;
}
.checkbox input[type="checkbox"] {
	display: none;
}
.checkbox span {
	width: 50px;
	height: 50px;
	background-image: url(../extra/images/Controller_icon/tw_btn_check_off_holo_dark.png);
	float: left;
}
.checkbox input[type="checkbox"]:checked ~ span{
	background-image: url(../extra/images/Controller_icon/tw_btn_check_on_holo_dark.png);
}
.checkbox:active input[type="checkbox"] ~ span{
	background-image: url(../extra/images/Controller_icon/tw_btn_check_off_pressed_holo_dark.png);
}
.checkbox:active input[type="checkbox"]:checked ~ span{
	background-image: url(../extra/images/Controller_icon/tw_btn_check_on_pressed_holo_dark.png);
}
.checkbox input[type="checkbox"]:disabled ~ span {
	background-image: url(../extra/images/Controller_icon/tw_btn_check_off_disabled_holo_dark.png);
}
.checkbox input[type="checkbox"]:disabled:checked ~ span {
	background-image: url(../extra/images/Controller_icon/tw_btn_check_on_disabled_holo_dark.png);
}
/* ------------------------------------------------------------------------------ */
/* ----------------------------------- RADIO ------------------------------------ */
.radio {
	position: relative;
	display: inline-block;
}
.radio input[type="radio"] {
	display: none;
}
.radio span {
	width: 50px;
	height: 50px;
	background-image: url(../extra/images/Controller_icon/tw_btn_radio_off_holo_dark.png);
	float: left;
}
.radio input[type="radio"]:checked ~ span{
	background-image: url(../extra/images/Controller_icon/tw_btn_radio_on_holo_dark.png);
}
.radio:active input[type="radio"] ~ span{
	background-image: url(../extra/images/Controller_icon/tw_btn_radio_off_pressed_holo_dark.png);
}
.radio:active input[type="radio"]:checked ~ span{
	background-image: url(../extra/images/Controller_icon/tw_btn_radio_on_pressed_holo_dark.png);
}
.radio input[type="radio"]:disabled ~ span {
	background-image: url(../extra/images/Controller_icon/tw_btn_radio_off_disabled_holo_dark.png);
}
.radio input[type="radio"]:disabled:checked ~ span {
	background-image: url(../extra/images/Controller_icon/tw_btn_radio_on_disabled_holo_dark.png);
}
/* ------------------------------------------------------------------------------ */
/* -----------------------------------  NEXT DEPTH------------------------------------ */
.next-depth {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 19px 0 0 0 !important;
    padding: 0 !important;
    width: 50px !important;
    height: 50px !important;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url(../extra/images/Controller_icon/tw_btn_next_depth_holo_dark.png);
    -webkit-tap-highlight-color: transparent;
}
.next-depth:active, .next-depth:focus {
    background-image: url(../extra/images/Controller_icon/tw_btn_next_depth_focused_holo_dark.png);
}
.next-depth.disabled {
    background-image: url(../extra/images/Controller_icon/tw_btn_next_depth_disabled_holo_dark.png);
}
.disabled {
    pointer-events: none;
}
/*Basic Text*/
.basic-text-s-title {
	margin:16px 16px;
	line-height: 40px;
	font-size: 30px;
	color: #FFF;
}
.basic-text-m-title {
	margin:16px 16px;
	line-height: 44px;
	font-size: 34px;
	color: #FFF;
}
.basic-text-l-title {
	margin:16px 16px;
	line-height: 48px;
	font-size: 38px;
	color: #FFF;
}
.basic-text-notitle{
	margin:16px 16px;
	line-height: 48px;
	font-size: 38px;
	color: #FFF;
}
