<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../../lib/tau/mobile/theme/default/tau.css">
    <link rel="stylesheet" href="../../css/custom.css">
	<script type="text/javascript" src="../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<div data-role="page" id="demo-page">
	<div data-role="header" data-position="fixed">
		<h1>List</h1>
	</div>
	<div data-role="content">
		<ul data-role="listview">
            <li data-role="list-divider">Stacked List</li>
			<li class="ui-li-anchor"><a href="liststyles.html">List Styles</a></li>
            <li class="ui-li-anchor"><a href="normallist.html">Normal List</a></li>
            <li class="ui-li-anchor"><a href="selectall.html">Selectable List</a></li>
            <li class="ui-li-anchor"><a href="expandable.html">Expandable List</a></li>
            <li class="ui-li-anchor"><a href="virtuallist.html">Virtual List</a></li>
            <li data-role="list-divider">Grid List</li>
            <li class="ui-li-anchor"><a href="#">Grid List</a></li>
		</ul>
	</div>
</div>
</body>
</html>
