<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"  href="../../lib/tau/mobile/theme/default/tau.css">
    <link rel="stylesheet" href="../../css/style.css">
	<script type="text/javascript" src="../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<div class="ui-page" id="list-drag-page">
	<div class="ui-header" data-position="fixed">
		<h1>List Styles</h1>
		<a class="ui-header-btn ui-header-btn-text ui-header-btn-right" id="drag">DRAG</a>
	</div>
	<div class="ui-content">
		<ul class="ui-listview ui-colored-list" id="drag-list">



			<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>1 text...</span>
					</span>
				</span>
			</li>

			<li class="ui-li-flex ui-li-multilines">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>Primary text</span>
					</span>
					<span class="ui-li-text-sub">Multi sublines</span>
					<span class="ui-li-text-sub">Multi sublines</span>
					<span class="ui-li-text-sub">Multi sublines</span>
				</span>
			</li>

			<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>2 text...</span>
						<span class="ui-li-text-sub-2">Sub Text 2</span>
					</span>
				</span>
			</li>
			<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>3 text...</span>
						<span class="ui-li-text-sub-2">Sub Text 2</span>
					</span>
				</span>
			</li>
			<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>4 text...</span>
						<span class="ui-li-text-sub-2">Sub Text 2</span>
					</span>
				</span>
			</li>
			<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>5 text...</span>
						<span class="ui-li-text-sub-2">Sub Text 2</span>
					</span>
				</span>
			</li>
			<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>6 text....</span>
						<span class="ui-li-text-sub-2">Sub Text 2</span>
					</span>
				</span>
			</li>
			<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>7 text...</span>
						<span class="ui-li-text-sub-2">Sub Text 2</span>
					</span>
				</span>
			</li>
			<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>8 text...</span>
						<span class="ui-li-text-sub-2">Sub Text 2</span>
					</span>
				</span>
			</li>
			<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>9 text...</span>
						<span class="ui-li-text-sub-2">Sub Text 2</span>
					</span>
				</span>
			</li>
			<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>10</span>
						<span class="ui-li-text-sub-2">Sub Text 2</span>
					</span>
				</span>
			</li>
			<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>11</span>
						<span class="ui-li-text-sub-2">Sub Text 2</span>
					</span>
				</span>
			</li>
			<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>12</span>
						<span class="ui-li-text-sub-2">Sub Text 2</span>
					</span>
				</span>
			</li>
			<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>13</span>
						<span class="ui-li-text-sub-2">Sub Text 2</span>
					</span>
				</span>
			</li>
			<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>14</span>
						<span class="ui-li-text-sub-2">Sub Text 2</span>
					</span>
				</span>
			</li>
			<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>15</span>
						<span class="ui-li-text-sub-2">Sub Text 2</span>
					</span>
				</span>
			</li>
			<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>16</span>
						<span class="ui-li-text-sub-2">Sub Text 2</span>
					</span>
				</span>
			</li>
			<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>17</span>
						<span class="ui-li-text-sub-2">Sub Text 2</span>
					</span>
				</span>
			</li>
			<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>18</span>
						<span class="ui-li-text-sub-2">Sub Text 2</span>
					</span>
				</span>
			</li>
			<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>19</span>
						<span class="ui-li-text-sub-2">Sub Text 2</span>
					</span>
				</span>
			</li>
			<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>20</span>
						<span class="ui-li-text-sub-2">Sub Text 2</span>
					</span>
				</span>
			</li>
			<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>21</span>
						<span class="ui-li-text-sub-2">Sub Text 2</span>
					</span>
				</span>
			</li>
			<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>22</span>
						<span class="ui-li-text-sub-2">Sub Text 2</span>
					</span>
				</span>
			</li>
			<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>23</span>
						<span class="ui-li-text-sub-2">Sub Text 2</span>
					</span>
				</span>
			</li>
			<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>24</span>
						<span class="ui-li-text-sub-2">Sub Text 2</span>
					</span>
				</span>
			</li>
			<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>25</span>
						<span class="ui-li-text-sub-2">Sub Text 2</span>
					</span>
				</span>
			</li>
			<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>26</span>
						<span class="ui-li-text-sub-2">Sub Text 2</span>
					</span>
				</span>
			</li>

			<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>27</span>
						<span class="ui-li-text-sub-2">Sub Text 2</span>
					</span>
				</span>
			</li>
		</ul>
	</div>
	<script type="text/javascript" src="reorder.js"></script>
</div>
</body>
</html>
