.input-focus-parent {
	border-color: @default_color;
	color: @color_input_text_focus;
	&::-webkit-input-placeholder {
		color: @color_input_text_focus;
	}
	background-clip: padding-box;
}

.input-box{
	background: @color_list_editfield;
	display: block;

	border-style: solid;
	border: solid @color_list_editfield;
	border-width: 5 * @one_px;
	.border-radius(5 * @one_px);

	input:not([type=number]):not([type=checkbox]):not([type=radio]), textarea {
		border: none;
	}

	&.ui-focus{
		.input-focus-parent();
	}

	.fitInputToBox{
		width: 100%;
	}
}

input:not([type=number]):not([type=checkbox]):not([type=radio]), textarea {
	background-color: @color_input_bg;
	color: @color_input_text;
	text-align: left;
	vertical-align: middle;
	font-size: 32 * @virtual_px;
	font: bold;
	border: solid 2 * @virtual_px rgb(177, 177, 177);

	&:focus {
		color: @color_input_text_focus;
	}
}

textarea {
	height: 117 * @virtual_px;
}

input[type]:not([type=number]).small {
	font-size: 24 * @virtual_px;
}

input[type=password].pin {
  background-color: @color_input_bg;
  color: @color_input_text;
  vertical-align: middle;
  text-align: center;
  font-size: 45 * @virtual_px;
  font: bold;
  width: 58 * @virtual_px;
  height: 58 * @virtual_px;
}

.ui-listview li {
	input:not([type=number]):not([type=checkbox]):not([type=radio]) {
		margin: -10 * @virtual_px 0;

		&[type=password].pin {
			margin: -17 * @virtual_px 0;
		}
	}
}
