@font_size_list_item: 30px;
@unit_ux: 1px;
/************************
Listview
*************************/
.ui-listview li {
	font-size: @font_size_list_item;
	width: 100%;
	border-bottom: 1px solid @color_listview_border;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;
	color: @color_listview_text;

	> * {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		-webkit-user-select: none;
		color: @color_listview_text;
	}
	a.ui-btn {
		display: block;
		text-align: left;
		.ui-btn-inner {
			margin: 21 * @unit_ux 32 * @unit_ux 26 * @unit_ux 38 * @unit_ux;
			color: rgb(164, 167, 174);
			.ui-btn-text {
				margin: 11 * @unit_ux 0;
				display: block;
			}
			.ui-icon {
				background-color: rgb(164, 167, 174);
			}
		}
		.LESSbox-boxsizing(content-box); // Change size calculation criteria
	}
}
.ui-virtualgrid {

	margin: 20 * @unit_ux 0 0 20 * @unit_ux;

	.grid-icon {
		width: 210 * @unit_ux;
		margin: 0 20 * @unit_ux 20 * @unit_ux 0;
		display: block;
		overflow: hidden;

		&.ui-btn-icon-top .ui-btn-inner.ui-btn-hastxt {
			padding-top: 126 * @unit_ux;
		}

		&.ui-btn .ui-icon {
			width: 106px;
			height: 106px;
			-webkit-mask-size: 106px 106px;
			margin-left: -53px;
			background-size: 106px 106px;
		}
		&:not(.ui-focus) {
			background-color: rgb(27, 64, 61);
		}
	}
	.grid-thumbnail {
		width: 303 * @unit_ux;
		margin: 0 20 * @unit_ux 20 * @unit_ux 0;
		display: block;
		overflow: hidden;

		&.ui-btn .ui-btn-inner {
			margin: 0;
		}

		.grid-thumbnail-info {
			left: 21 * @unit_ux;
			right: 21 * @unit_ux;
			top: 8 * @unit_ux;
			position: absolute;
			color: rgb(200, 200, 200);
			font-size: 22 * @unit_ux;
			text-align: right;
			z-index: 3;
		}

		.grid-thumbnail-pic {
			z-index: 2;
			width: 303 * @unit_ux;
			height: 303 * @unit_ux;
			overflow: hidden;
			background-color: rgb(26,70,95);
			position: relative;
			img {
				min-width: 200 * @unit_ux;
				min-height: 200 * @unit_ux;
				max-width: 200 * @unit_ux;
				max-height: 200 * @unit_ux;
				position: absolute;
				top: 152 * @unit_ux;
				left: 152 * @unit_ux;
				margin: -100 * @unit_ux;
			}
		}

		.grid-thumbnail-pic-full {
			width: 303 * @unit_ux;
			height: 303 * @unit_ux;
			overflow: hidden;
			position: relative;
			z-index: 2;
			img {
				min-width: 303 * @unit_ux;
				min-height: 303 * @unit_ux;
				position: absolute;
				top: 152 * @unit_ux;
				left: 152 * @unit_ux;
				margin: -152 * @unit_ux;
			}
		}

		.grid-thumbnail-contents {
			background: rgb(33, 36, 13);
			padding: 15 * @unit_ux 20 * @unit_ux;
			font-size: 26px;
			overflow: hidden;
			text-overflow: ellipsis;
			color: rgb(211, 211, 211);
			z-index: 2;
			.grid-thumbnail-content {
				overflow: hidden;
				text-overflow: ellipsis;
				height: 31 * @unit_ux;
				display: block;
			}
			.grid-thumbnail-subtext {
				overflow: hidden;
				text-overflow: ellipsis;
				color: rgb(128,128,128);
				font-size: 22 * @unit_ux;
				margin-top: -6 * @unit_ux;
				display: block;
			}
		}

		&.ui-btn.ui-focus {
			.grid-thumbnail-pic {
				border: solid  @color_listview_focus;
				border-top-width: 8 * @unit_ux;
				border-left-width: 8 * @unit_ux;
				border-right-width: 8 * @unit_ux;
				img {
					top: 144 * @unit_ux;
					left: 144 * @unit_ux;
					margin: -100 * @unit_ux;
				}
			}

			.grid-thumbnail-pic-full {
				border: solid  @color_listview_focus;
				border-top-width: 8 * @unit_ux;
				border-left-width: 8 * @unit_ux;
				border-right-width: 8 * @unit_ux;
				img {
					top: 144 * @unit_ux;
					left: 144 * @unit_ux;
					margin: -152 * @unit_ux;
				}
			}

			.grid-thumbnail-contents {
				background:  @color_listview_focus;
				.grid-thumbnail-content, .grid-thumbnail-subtext {
					color: rgb(255, 255, 255);
				}
			}
		}

		&.ui-btn.ui-selected {
			.ui-btn-inner {
				border: solid rgb(255, 169, 85) 10 * @unit_ux;
			}
			.ui-btn-text{
				margin: -10  * @unit_ux;
			}
		}
	}
}