.input-search-bar {
	padding: 23 * @virtual_px;
	vertical-align: middle;
	position: relative;

	.ui-corner-all {
		.border-radius(.3em);
	}

	.ui-input-search {
		display: block;
		background-color: @color_searchbar;
		top: 10 * @virtual_px;
		position: relative;

		input.ui-input-text {
			.border-radius(5 * @virtual_px);
			height: 68 * @virtual_px;
			&::-webkit-input-placeholder {
				color: @color_searchbar_default_text;
			}
			padding: 0 30 * @virtual_px 0 15 * @virtual_px;
			border: solid 3 * @virtual_px @color_searchbar_border;
			.transition(border-color 200ms);
			width: 100%;
			outline: 0 !important;
		}

		.ui-image-search {
			position: absolute;
			top: 0 * @virtual_px;
			width: 22 * @virtual_px;
			height: 22 * @virtual_px;
			margin-top: 4.5 * @virtual_px;
			margin-left: 8 * @virtual_px;
			margin-right: 8 * @virtual_px;
		}

		.ui-btn-icon-notext.ui-input-clear {
			width: 36 * @virtual_px;
			height: 33 * @virtual_px;
			.ui-btn-inner {
				padding: 5 * @virtual_px 8 * @virtual_px;
			}
			display: inline-block;
		}
	}

	.ui-search-bar-icon-box {
		position: absolute;
		top: 11 * @virtual_px;
		width: 45 * @virtual_px;
		height: 45 * @virtual_px;
		.mask-image('images/Searchbar/ico_search.png');
		.mask-size(45 * @virtual_px);
		background-color: @color_searchbar_icon;
		.transition(background-color 200ms);
		right: 11 * @virtual_px;
	}

	.ui-input-search-default {
		margin-right: 73 * @virtual_px;
		.transition(all 400ms linear);
	}

	.ui-input-search-wide {
		margin-right: 0 * @virtual_px;
		.transition(all 400ms linear);
	}

	.ui-btn-icon-cancel.ui-input-cancel {
		display: inline-block;
		position: absolute;

		top: 8 * @virtual_px;
		right: 0 * @virtual_px;
		height: 33 * @virtual_px;
		margin-right: 8 * @virtual_px;
		box-shadow: 0 1 * @virtual_px 1 * @virtual_px @color_searchbar_button_shadow0 inset, 0 1 * @virtual_px 1 * @virtual_px @color_searchbar_button_shadow1;

		vertical-align: middle;
		padding: 0;

		width: 68 * @virtual_px;
		.transition(all 00ms linear);

		.ui-btn-inner {
			padding-top: 6 * @virtual_px;
			padding-bottom: 6 * @virtual_px;
			.ui-btn-text {
				font-size: 15 * @virtual_px;
			}
		}

		&.ui-btn-cancel-hide {
			right: -75 * @virtual_px;
			visibility: hidden;
		}
		&.ui-btn-cancel-show {
			right: 0;
			visibility: visible;
		}
	}

	.ui-btn.ui-btn-search-front-icon {
		position: absolute;
		top: 32 * @virtual_px;
		width: 130 * @virtual_px;
		min-width: 130 * @virtual_px;
		padding: 0;
		.ui-btn-inner {
			padding: 0;
			.ui-icon {
				margin: 12 * @virtual_px auto;
				width: 45 * @virtual_px;
				height: 45 * @virtual_px;
				background-size: 45 * @virtual_px 45 * @virtual_px;
				.mask-image();
			}
		}
	}
}

.ui-search-bar-icon-left {
	.ui-input-search {
		margin-left: 150 * @virtual_px;
	}
	.ui-btn.ui-btn-search-front-icon {
		left: 0;
	}
}

.ui-search-bar-icon-right {
	.ui-input-search {
		margin-right: 150 * @virtual_px;
	}
	.ui-btn.ui-btn-search-front-icon {
		right: 0;
	}
}

.input-search-bar .ui-input-search.ui-focus {
	input.ui-input-text {
		border-color: @color_searchbar_border_focus;
	}
	.ui-search-bar-icon-box {
		background-color: @color_searchbar_icon_focus;
	}
}

label.ui-input-text {
	font-size: 22 * @virtual_px;
	line-height: 1.2;
	display: block;
	font-weight: normal;
	margin: 0 0 .3em;
}

.ui-input-text {
	.appearance(none);

	padding: .4em;
	line-height: 1.4;
	font-size: 16 * @virtual_px;
	display: block;
	width: 95%;
}

textarea.ui-input-text {
	height: 50 * @virtual_px;
	resize: none;
	.transition(height 200ms linear);
	white-space: normal;
}

.ui-input-clear-hidden {
	display: none;
}

input::-webkit-input-placeholder {
	max-width: 100% !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
	overflow: hidden !important;
}

.ui-title + .input-search-bar {
	float: right;
}