#pageIndexScrollbar::after {
    content: "This component is not supported in circular device";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: -webkit-flex;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(0,149,255,1);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}