<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet"  href="../../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../../css/custom.css">
	<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>

<div data-role="page" id="ButtonDemo">
	<div data-role="header" data-position="fixed">
		<h1>Buttons</h1>
	</div>
	<div data-role="content">
		<ul data-role = "listview">
			<li data-role="list-divider">Basic Box Buttons</li>
			<li class="ui-li-static">Button<button data-inline="true">Button</button></li>
			<li class="ui-li-static">Button<button data-inline="true" data-icon="arrow-r">Button</button></li>
			<li class="ui-li-static">Button<button data-inline="true" data-icon="arrow-r" data-iconpos="left">Button</button></li>
			<li class="ui-li-static">Button<button data-inline="true" data-icon="call" data-iconpos="right">Button</button></li>

			<li data-role="list-divider">Circle Buttons</li>
			<li class="ui-li-static">Add<button data-inline="true" data-icon="add" data-style="circle"></button></li>
			<li class="ui-li-static">Delete<button data-inline="true" data-icon="delete" data-style="circle"></button></li>
			<li class="ui-li-static">Cancel<button data-inline="true" data-icon="cancel" data-style="circle"></button></li>
			<li class="ui-li-static">Reorder<button data-inline="true" data-icon="reorder" data-style="circle"></button></li>

			<li data-role="list-divider">No Background Buttons</li>
			<li class="ui-li-static">Add<button data-inline="false" data-icon="add" data-style="nobg"></button></li>
			<li class="ui-li-static">Delete<button data-inline="true" data-icon="delete" data-style="nobg"></button></li>
			<li class="ui-li-static">Cancel<button data-inline="true" data-icon="cancel" data-style="nobg"></button></li>
			<li class="ui-li-static">Reorder<button data-inline="true" data-icon="reorder" data-style="nobg"></button></li>

			<li data-role="list-divider">Icon Buttons</li>
			<li class="ui-li-static">data-icon = "arrow-l" <button data-inline="true" data-icon="arrow-l"></button></li>
			<li class="ui-li-static">data-icon = "arrow-r" <button data-inline="true" data-icon="arrow-r"></button></li>
			<li class="ui-li-static">data-icon = "arrow-u" <button data-inline="true" data-icon="arrow-u"></button></li>
			<li class="ui-li-static">data-icon = "arrow-d" <button data-inline="true" data-icon="arrow-d"></button></li>
			<li class="ui-li-static">data-icon = "delete" <button data-inline="true" data-icon="delete"></button></li>
			<li class="ui-li-static">data-icon = "check" <button data-inline="true" data-icon="check"></button></li>
			<li class="ui-li-static">data-icon = "gear" <button data-inline="true" data-icon="gear"></button></li>
			<li class="ui-li-static">data-icon = "refresh" <button data-inline="true" data-icon="refresh"></button></li>
			<li class="ui-li-static">data-icon = "forward" <button data-inline="true" data-icon="forward"></button></li>
			<li class="ui-li-static">data-icon = "back" <button data-inline="true" data-icon="back"></button></li>
			<li class="ui-li-static">data-icon = "grid" <button data-inline="true" data-icon="grid"></button></li>
			<li class="ui-li-static">data-icon = "info" <button data-inline="true" data-icon="info"></button></li>
			<li class="ui-li-static">data-icon = "home" <button data-inline="true" data-icon="home"></button></li>
			<li class="ui-li-static">data-icon = "alert" <button data-inline="true" data-icon="alert"></button></li>

			<li data-role="list-divider">Custom buttons</li>
			<li><a href="buttonNoList.html">Buttons Pages(not in list) </a></li>
		</ul>
	</div>
</div>

</body>
</html>
