.box-sizing(@sizing) {
    -webkit-box-sizing: @sizing; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: @sizing;    /* Firefox, other Gecko */
    box-sizing: @sizing;         /* Opera/IE 8+ */
}

.box-shadow(@shadow) {
    -moz-box-shadow: @shadow;
    -webkit-box-shadow: @shadow;
    box-shadow: @shadow;
}