
.ui-listview .ui-li-has-action-icon {
	.ui-action-text{
		width: -webkit-calc(~"100% - "74*@unit_base);
		height: 100%;
		position: absolute;
		left: 0;
		padding-left: 16 * @unit_base;
		padding-top: 20 * @unit_base;
		padding-bottom: 20 * @unit_base;
		margin-top: -20 * @unit_base;
	}

	.ui-action-divider {
		position: absolute;
		height: 60 * @unit_base;
		width: 2 * @unit_base;
		background-color: @color_text;
		right: 72 * @unit_base;
		top: 20%;
	}

	.ui-action-delete, .ui-action-setting, .ui-action-add {
		position: absolute;
		height: 100%;
		width: 72 * @unit_base;
		right:0;
		top: 0;
		-webkit-mask-size: 56 * @unit_base 56 * @unit_base;
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-position: center center;
		padding-top: 45 * @unit_base;
		padding-bottom: 45 * @unit_base;
	}

	.ui-action-delete {
		-webkit-mask-image: url(./images/listview/tw_list_delete_holo_dark.png);
		background-color: @color_list_actionicon_image_normal;
	}
	.ui-action-setting {
		-webkit-mask-image: url(./images/listview/tw_list_setting_holo_dark.png);
		background-color: @color_list_actionicon_image_normal;
	}
	.ui-action-add {
		-webkit-mask-image: url(./images/listview/tw_list_add_holo_dark.png);
		background-color: @color_list_actionicon_image_normal;
	}

	.ui-action-text:active, .ui-action-delete:active, .ui-action-setting:active, .ui-action-add:active {
		background-color: @color_list_actionicon_divider;
	}
}