/***********************
Processing
***********************/
.sprite(@x, @xsize, @ysize, @count, @totalCount) when (@count > 0) {
	.sprite(@x, @xsize, @ysize, (@count - 1), @totalCount);
	@timePercentage: round((100/(@totalCount - 1)) * (@count - 1)) * 1%;
	@{timePercentage} {
		-webkit-mask-position: (mod((@count - 1), @x) * @xsize)  (floor((@count - 1) / @x)) * @ysize;
	}
}

@-webkit-keyframes fullprocess {
	.sprite(7, -100vw, -100vw, 60, 60);
}

@-webkit-keyframes smallprocess {
	.sprite(7, -76px, -76px, 60, 60);
}

.ui-processing {
	background-color: @color_processing;
	-webkit-mask-image: url("./images/Processing/processingsmall.png");
	-webkit-mask-repeat: no-repeat;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: step-start;
	-webkit-animation-name: smallprocess;

	width: 76 * @unit_base;
	height: 76 * @unit_base;
	margin: 0 auto;
}
.ui-processing-text {
	margin: 0 auto;
	text-align: center;
	width: 168 * @unit_base;
	font-size: 24 * @unit_base;
	color: @color_processing_text;
}

.ui-processing.ui-processing-full-size {
	background-color: @color_processing;
	-webkit-mask-image: url("./images/Processing/processingfull.png");
	-webkit-mask-repeat: no-repeat;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: step-start;
	-webkit-animation-name: fullprocess;
	pointer-events: none;
	position: fixed;
	width: 100vw;
	height: 100vw;
	top: 0;
	left: 0;
	margin: 0;
}
