
.slp-ui-button-reveal{
	height: 37px;
	width:37px;
    border-width:2 1 1 2;

	-webkit-border-image: url(../src/slp/button/00_button_reveal.png) 2 1 1 1 stretch stretch;
	outline: none;
}

.slp-ui-button-info{
	height: 37px;
	width:37px;
	border-width:2 1 1 2;
	-webkit-border-image: url(../src/slp/button/00_button_info.png) 2 1 1 2 stretch stretch;
	outline: none;
}

.slp-ui-button-call{
	height: 37px;
	width:37px;
	border-width: 2 1 1 2;
	-webkit-border-image: url(../src/slp/button/00_button_call.png) 2 1 1 2 stretch stretch;
	outline: none;
}

	
	
}
