.result {
	font-size:52px;
	text-align:center;
	display:inline;
	line-height:56px;
	margin-right:15px;
}
.ui-content{
	display: flex;
	display: -webkit-flex;
	align-items:center;
	-webkit-align-items:center;
	justify-content: center;
	-webkit-justify-content: center;
}