.my-check-button-style {
	margin: 10px;
}
.my-check-inline-style {
	display: inline;
}

.ui-icon-test{
	background-size: 100% 100%;
	background-image: url(test.png);
}

.ui-icon-test2{
	background-position:0% 0%;
	background-size:50% 50%;
	background-image: url(test.png);
}

#sample-box {
	width: 100%;
	height: 1000px;
	background: aliceblue;
}

#float-page .a,
.example-child-box.a {
	width: 200px;
	height: 100px;
	background-color: #ff0000;
}
#float-page .b,
.example-child-box.b {
	width: 30%;
	height: 20%;
	background-color: #0000ff;
}
#float-page .c,
.example-child-box.c {
	width: 40%;
	height: 100px;
	background-color: #008000;
}
#float-page .d,
.example-child-box.d {
	width: 300px;
	height: 20%;
	background-color: #00ffff;
}
#float-page .e,
.example-child-box.e {
	width: 200px;
	height: 10%;
	background-color: deepskyblue;
}
#float-page .f,
.example-child-box.f {
	width: 30%;
	height: 100px;
	background-color: #ffff00;
}

#float-page .ea,
.example-child-box.ea {
	width: 30%;
	height: 50%;
	background-color: indianred;
}
#float-page .eb,
.example-child-box.eb {
	width: 100px;
	height: 100%;
	background-color: blueviolet;
}

/*LINEAR*/
#linear-page #sample-box {
	height: 400px;
}
.ui-btn{
	width: 100%;
}
.ui-scrollview-view .a {
	width: 200px;
	height: 100px;
	background-color: #ff0000;
	flex: 0 1 auto;
}
.ui-scrollview-view .b {
	width: 30%;
	height: 30%;
	background-color: #0000ff;
	flex: 0 1 auto;
}
.ui-scrollview-view .c {
	width: 40%;
	height: 120px;
	background-color: #008000;
	flex: 0 1 auto;
}
.ui-scrollview-view .d {
	width: 300px;
	height: 40%;
	background-color: #00ffff;
	flex: 0 1 auto;
}
