<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../../css/custom.css">
	<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<div data-role="page" id="headerRightButtonPage">
	<div data-role="header" data-position="fixed">
		<h1>Right button</h1>
		<button class="ui-header-btn-right ui-btn-icon btn-icon-back"></button>
	</div>
	<div data-role="content">
		<ul data-role="listview">
			<li class="ui-li-static">List item</li>
            <li class="ui-li-static">List item</li>
            <li class="ui-li-static">List item</li>
            <li class="ui-li-static">List item</li>
            <li class="ui-li-static">List item</li>
		</ul>
	</div>
</div>
</body>
</html>
