<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
  <link rel="stylesheet" href="../../../css/style.css">
</head>
<body>
<div class="ui-page" id="headerTwoButtonsPage">
  <header>
    <h1>Two Buttons</h1>
    <a class="ui-header-btn ui-header-btn-left ui-header-btn-icon btn-icon-back" data-rel="back"></a>
    <a class="ui-header-btn ui-header-btn-right ui-header-btn-icon btn-icon-add"></a>
  </header>
  <div class="ui-content">
    <ul class="ui-listview ui-colored-list">
      <li class="ui-li-static">List item</li>
      <li class="ui-li-static">List item</li>
      <li class="ui-li-static">List item</li>
      <li class="ui-li-static">List item</li>
      <li class="ui-li-static">List item</li>
    </ul>
  </div>
</div>
<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js"
        data-build-remove="false"></script>
</body>
</html>
