.content-padding {
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 42px;
	padding-right: 42px;
}

.button-group-height {
	height: 72px;
}

/* ---------------------------------- LISTVIEW ---------------------------------- */
.ui-listview li .li-text-sub {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 32px;
        color: rgb(51, 51, 51);
}

.ui-listview .li-text-sub-right-icon {
	width: calc(100% - 34px);
}

.ui-listview li.li-has-2line {
	padding-top: 18px;
	padding-bottom: 17px;
	height: 115px;
}

.ui-listview li.li-has-3line {
	padding-top: 9px;
	padding-bottom: 10px;
	height: 128px;
}

.ui-listview.expand-list li.li-has-2line .ui-marquee{
	-webkit-transform: translate3d(0, 16px, 0);
}
.ui-listview.expand-list li.li-has-2line.ui-snap-listview-selected .ui-marquee{
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: all ease 1s;
}

.ui-listview.expand-list li.li-has-2line .ui-li-sub-text{
	-webkit-transform: translate3d(0, -20px, 0);
	opacity: 0;
}
.ui-listview.expand-list li.li-has-2line.ui-snap-listview-selected .ui-li-sub-text{
	-webkit-transform: translate3d(0, 0, 0);
	opacity: 1;
	-webkit-transition: all ease 1s;
}

.ui-listview.expand-list li.li-has-3line .ui-marquee{
	-webkit-transform: translate3d(0, 30px, 0);
}
.ui-listview.expand-list li.li-has-3line.ui-snap-listview-selected .ui-marquee{
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: all ease 1s;
}

.ui-listview.expand-list li.li-has-3line .ui-li-sub-text:nth-child(2){
	-webkit-transform: translate3d(0, -10px, 0);
	opacity: 0;
}
.ui-listview.expand-list li.li-has-3line.ui-snap-listview-selected .ui-li-sub-text:nth-child(2){
	-webkit-transform: translate3d(0, 0, 0);
	opacity: 1;
	-webkit-transition: all ease 1s;
}

.ui-listview.expand-list li.li-has-3line .ui-li-sub-text:last-child{
	-webkit-transform: translate3d(0, -42px, 0);
	opacity: 0;
}
.ui-listview.expand-list li.li-has-3line.ui-snap-listview-selected .ui-li-sub-text:last-child{
	-webkit-transform: translate3d(0, 0, 0);
	opacity: 1;
	-webkit-transition: all ease 1s;
}

.ui-listview li.li-has-multiline {
        padding-top: 6px;
        padding-bottom: 5px;
        min-height: 100px;
}
.ui-listview li.li-has-radio.disabled,
.ui-listview li.li-has-radio.disabled > *,
.ui-listview li.li-has-checkbox.disabled,
.ui-listview li.li-has-checkbox.disabled > *,
.ui-listview li.li-has-multiline.disabled,
.ui-listview li.li-has-multiline.disabled > *,
.ui-listview li.li-has-multiline-sup.disabled,
.ui-listview li.li-has-multiline-sup.disabled > * {
        color: rgb(51, 51, 51);
}
.ui-listview li.li-has-multiline > a {
        margin-top: -6px;
        margin-bottom: -6px;
        padding-top: 11px;
        padding-bottom: 12px;
}

.ui-listview li.li-has-multiline-sup {
        padding-top: 6px;
        padding-bottom: 5px;
        min-height: 100px;
}
.ui-listview li.li-has-multiline-sup > a {
        margin-top: -36px;
        margin-bottom: -5px;
        padding-top: 36px;
        padding-bottom: 5px;
}
.ui-listview li {
        position: relative;
}
.ui-listview li input[type="checkbox"]:not(.ui-switch-input),
.ui-listview li input[type="radio"] {
        position: absolute;
        right: 30px;
        top: 0px;
        margin-top: 25px;
}
.ui-listview .li-has-toggle .ui-toggleswitch {
	position: absolute;
	right: 30px;
	top: 50%;
	-webkit-transform: translate3d(0, -50%, 0);

}
.ui-listview .li-has-radio.disabled,
.ui-listview li.li-has-multiline.li-has-radio.disabled,
.ui-listview li.li-has-multiline.li-has-radio.disabled .li-text-sub,
.ui-listview li.li-has-multiline.li-has-checkbox.disabled,
.ui-listview li.li-has-multiline.li-has-checkbox.disabled .li-text-sub {
	color: rgb(51, 51, 51);
}
.ui-listview li.li-has-checkbox label,
.ui-listview li.li-has-radio label,
.ui-listview li.li-has-toggle > label,
.ui-listview li.li-has-thumb-right label,
.ui-listview li.li-has-thumb-left label{
	display: block;
	padding: 31.5px 94px 31.5px 40px;
	margin-top: -30px;
	margin-bottom: -21px;
	margin-left: -38px;
	margin-right: -8px;
}
.ui-listview li.li-has-thumb-left label{
	padding: 31.5px 40px 31.5px 94px;
}
.ui-listview li img {
	position: absolute;
	top: 50%;
	-webkit-transform: translate3d(0, -50%, 0);
	width: 56px;
	height: 56px;
	background-color: rgba(245, 245, 245, 1);
}
.ui-listview li.li-has-thumb-right img {
	right: 30px;
}
.ui-listview li.li-has-thumb-left img {
	left: 30px;
}
.ui-listview li.li-has-multiline.li-has-checkbox label,
.ui-listview li.li-has-multiline.li-has-radio label,
.ui-listview li.li-has-multiline.li-has-toggle label:not(.ui-toggleswitch),
.ui-listview li.li-has-multiline.li-has-thumb-right label,
.ui-listview li.li-has-multiline.li-has-thumb-left label {
	display: block;
	padding-bottom: 12px;
	padding-left: 16px;
	padding-right: 64px;
	padding-top: 11px;
	margin-top: -6px;
	margin-bottom: -6px;
	margin-left: -16px;
	margin-right: -16px;
}
.ui-listview li.li-has-multiline.li-has-thumb-left label {
	padding-left: 64px;
	padding-right: 40px;
	margin-left: 0;
}
.ui-listview li.li-has-multiline.li-has-toggle label:not(.ui-toggleswitch) {
	padding-right: 123px;
}

.select-btn {
	position: absolute;
	top: 22px;
	left: 50%;
	-webkit-transform: translateX(-50%);

	height: 79px;
	width: 100px;
	border: 5px solid rgb(29, 72, 105);
	line-height: 79px;
	border-radius: 40px;

	text-align: center;
	background-color: rgb(8, 56, 94);
	box-shadow: 0 3px 4px rgb(17, 17, 17);
	z-index: 90;
}
.select-btn-text {
	display: block;
	line-height: 69px;
}
.ui-listview li.select {
	background-color: rgb(8, 42, 57);
}
li.static::before {
	content:"";
	-webkit-mask-image: url(../manual/list/images/tw_list_check_ic.png);
	-webkit-mask-repeat: no-repeat;
	background-color: rgba(112, 186, 15, 1);
	width: 0;
	height: 56px;
	position: absolute;
	left: 40%;
	-webkit-transform: translateX(-50%);
	-webkit-transition: width 150ms, left 150ms;
}li.select::before {
	content:"";
	-webkit-mask-image: url(../manual/list/images/tw_list_check_ic.png);
	-webkit-mask-repeat: no-repeat;
	background-color: rgba(112, 186, 15, 1);
	width: 56px;
	height: 56px;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-webkit-transition: width 150ms, left 150ms;
}
.ui-listview-li li img {
	height: 56px;
	width: 56px;
	background-color: rgb(8, 42, 57);
}
/* ------------------------------------------------------------------------------ */
/* -----------------------------------  NEXT DEPTH------------------------------------ */
.ui-listview li.li-has-next-depth {
        padding-right: 60px;
}
.ui-listview li.li-has-next-depth a,
.ui-listview li.li-has-next-depth.disabled {
	position: relative;
	margin-right: -60px;
	padding-right: 60px;
}
.ui-listview li.li-has-next-depth a:after {
	position: absolute;
	content: "";
	right: 30px;
	width: 50px;
	height: 50px;
	top: 50%;
	margin-top: -25px;
	background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: right center;
    background-image: url(../extra/images/Controller_icon/tw_btn_next_depth_holo_dark.png);
}
.ui-listview li.li-has-next-depth.disabled a:after {
	position: absolute;
	right: 30px;
	content: "";
	width: 50px;
	height: 50px;
	top: 50%;
	margin-top: -25px;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: right center;
    background-image: url(../extra/images/Controller_icon/tw_btn_next_depth_disabled_holo_dark.png);
}
.ui-listview li.li-has-next-depth a:active:after,
.ui-listview li.li-has-next-depth a:focus:after {
	position: absolute;
	content: "";
	right: 30px;
	width: 50px;
	height: 50px;
	top: 50%;
	margin-top: -25px;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: right center;
    background-image: url(../extra/images/Controller_icon/tw_btn_next_depth_focused_holo_dark.png);
}
.ui-listview li.li-has-next-depth.disabled,
.ui-listview li.li-has-next-depth.disabled a,
.ui-listview li.li-has-next-depth.disabled .li-text-sub {
    color: rgb(51, 51, 51);
}
.disabled {
    pointer-events: none;
}
/* ------------------------------------------------------------------------------ */
/* -------------------------Action Icon------------------------------- */
.li-has-action-icon .li-action-text {
	width: calc(100% - 88px);
	height: 100%;
}

.li-has-action-icon .li-action-text::after {
	content: "";
	position: absolute;
	height: 56px;
	width: 2px;
	background-color: rgba(245, 245, 245, 1);
	right: 87px;
	top: 25%;
}
.li-has-action-icon .li-action-icon-button {
	position: absolute;
	height: 100%;
	width: 68px;
	right: 0;
	top: 0;
	-webkit-mask-size: 53px 53px;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center center;
	padding: 0;
	margin: 0;
	margin-right: 20px;
}
.li-has-action-icon .li-action-icon-button.li-action-delete {
	-webkit-mask-image: url(../manual/list/images/tw_list_delete_holo_dark.png);
	background-color: rgba(245, 245, 245, 1);
}
.li-has-action-icon .li-action-icon-button.li-action-setting {
	-webkit-mask-image: url(../manual/list/images/tw_list_setting_holo_dark.png);
	background-color: rgba(245, 245, 245, 1);
}
.li-has-action-icon .li-action-icon-button.li-action-add {
	-webkit-mask-image: url(../manual/list/images/tw_list_add_holo_dark.png);
	background-color: rgba(245, 245, 245, 1);
}

.ui-listview .li-has-action-icon.ui-li-active {
	background-color: transparent;
}

.ui-listview .li-has-action-icon.ui-li-active .li-action-text:active {
	background-color: rgba(8, 56, 94, 1);
}

.ui-listview .li-has-action-icon .li-action-icon-button:active {
	background-color: rgba(8, 56, 94, 1);
}

/* ------------------------------------------------------------------------------ */
/*Basic Text*/
.basic-text-s-title {
	margin:0 42px 60px 42px;
	line-height: 40px;
	font-size: 30px;
}
.basic-text-m-title {
	margin:0 42px 60px 42px;
	line-height: 44px;
	font-size: 34px;
}
.basic-text-l-title {
	margin:0 42px 60px 42px;
	line-height: 48px;
	font-size: 38px;
}
.basic-text-notitle{
	margin: 60px 42px;
	line-height: 48px;
	font-size: 38px;
}
/* -----------------------------------  OPTION POPUP------------------------------------ */
.option-icon-action::before {
	-webkit-mask-image:url(../basic/popup/images/b_option_list_icon_action.png);
	mask-image:url(../basic/popup/images/b_option_list_icon_action.png);
}
.option-icon-delete::before {
	-webkit-mask-image:url(../basic/popup/images/b_option_list_icon_delete.png);
	mask-image:url(../basic/popup/images/b_option_list_icon_delete.png);
}
.option-icon-enter::before {
	-webkit-mask-image:url(../basic/popup/images/b_option_list_icon_enter.png);
	mask-image:url(../basic/popup/images/b_option_list_icon_enter.png);
}
.option-icon-share::before {
	-webkit-mask-image:url(../basic/popup/images/b_option_list_icon_share.png);
	mask-image:url(../basic/popup/images/b_option_list_icon_share.png);
}
.option-icon-notext-call::before {
	-webkit-mask-image:url(../basic/popup/images/b_option_icon_call.png);
	mask-image:url(../basic/popup/images/b_option_icon_call.png);
}
.option-icon-notext-contacts::before {
	-webkit-mask-image:url(../basic/popup/images/b_option_icon_contacts.png);
	mask-image:url(../basic/popup/images/b_option_icon_contacts.png);
}
.option-icon-notext-message::before {
	-webkit-mask-image:url(../basic/popup/images/b_option_icon_message.png);
	mask-image:url(../basic/popup/images/b_option_icon_message.png);
}
/* -----------------------------------POPUP------------------------------------ */
.btn-icon-share::before {
	-webkit-mask-image: url(../auto/popup/images/tw_ic_button_share_holo_dark.png);
}
.btn-icon-showonphone::before {
	-webkit-mask-image: url(../auto/popup/images/tw_ic_button_showonphone_holo_dark.png);
}
.btn-icon-delete::before {
	-webkit-mask-image: url(../auto/popup/images/tw_ic_button_delete_holo_dark.png);
}
.btn-icon-check::before {
	-webkit-mask-image: url(../auto/popup/images/tw_ic_popup_btn_check.png);
 }
.btn-icon-cancel::before {
	-webkit-mask-image: url(../auto/popup/images/tw_ic_popup_btn_delete.png);
 }
/* -----------------------------------Content------------------------------------ */
.content-input-box {
	display: block;
	height: 82px;
	line-height: 82px;
	margin-top: 16px;
	padding-left: 68px;
	position: relative;
	vertical-align: middle;
}
.content-input-box > input[type="checkbox"] {
	position: absolute;
	left: 0;
	top: 15px;
}
.content-input-box.multi-line {
	display: block;
	padding-left: 66px;
	margin-top: 16px;
	line-height: inherit;
}
/* --------------------------------Toggle Switch------------------------------ */
.ui-toggleswitch {
	display: block;
	margin: 0 auto;
}
/* --------------------------------Controls in Circle------------------------------ */
.checkbox-text,
.radio-text {
	margin-top: 60px;
	margin-bottom: 48px;
	font-size: 34px;
	text-align: center;
}
.checkbox-sub-text,
.radio-sub-text {
	margin-top: 48px;
	margin-bottom: 55px;
	font-size: 26px;
	text-align: center;
}
input[type="checkbox"]#checkboxControl {
	margin-left: 50%;
	-webkit-transform: translateX(-50%);
}
.radio-sample-container {
	display: inline-block;
	margin-left: 50%;
	-webkit-transform: translateX(-50%);
}

.ui-progressbar-small {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
}
/* --------------------------------Processing in circle------------------------------ */
.small-processing-container {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
}
