/*
 * Progressbar
 */

@-webkit-keyframes indeterminate {
	0% {background-image: url('./images/Progress/tw_progressbar_indeterminate1_holo_dark.png');}
	25% {background-image: url('./images/Progress/tw_progressbar_indeterminate2_holo_dark.png');}
	50% {background-image: url('./images/Progress/tw_progressbar_indeterminate3_holo_dark.png');}
	75% {background-image: url('./images/Progress/tw_progressbar_indeterminate4_holo_dark.png');}
	100% {background-image: url('./images/Progress/tw_progressbar_indeterminate1_holo_dark.png');}
}
.ui-progressbar {
	position: relative;
	margin-left:16 * @unit_base;
	margin-right:16 * @unit_base;
	color: @color_progressbar_text;
	max-height: 30 * @unit_base;
}

.ui-progressbar-normal-bg {
	position: relative;
	background-color: @color_progressbar_normal_bg;
	width:100%;
	height:6 * @unit_base;
	border-radius: 2 * @unit_base;
	overflow : hidden;
	display : block;
}

.ui-progressbar-value {
	display: block;
	background-color: @color_progressbar_value_bg;
	width:50%;
	height:6 * @unit_base;
	border-radius: 2 * @unit_base;
	overflow: hidden;
}

.ui-progressbar-indeterminate {
	display: block;
	-webkit-animation: indeterminate 1s infinite;
	width:100%;
	height:6 * @unit_base;
	border-radius: 2 * @unit_base;
	overflow: hidden;
}

.ui-progressbar-controller {
	background-image: url('./images/Progress/tw_scrubber_control_holo_dark.png');
	position: relative;
	width:46 * @unit_base;
	height: 46 * @unit_base;
	top: -25 * @unit_base;
	left: 50%;
	margin-left: -25 * @unit_base;
}

.ui-progressbar-controller.ui-mouse-hover {
	background-image: url('./images/Progress/tw_scrubber_control_focused_holo_dark.png');
}

.ui-progressbar-proportion {
	display: inline-block;
	float: left;
	font-size: 20 * @unit_base;
}

.ui-progressbar-ratio {
	display: inline-block;
	float: right;
	font-size: 20 * @unit_base;
}
