@font_size_list_item: 34px;
/************************
Listview
*************************/
.ui-listview li{
	width: 100%;
	min-height: 90 * @unit_base;
	font-size: @font_size_list_item;
	padding: 25*@unit_base 16*@unit_base 25*@unit_base 16*@unit_base;
	border-bottom: 1px solid @color_list_border;
}

.ui-listview li:active {
	background-color: @color_list_press_bg;
}
