@font_size_list_item: 38 * @unit_base;
/************************
Listview
*************************/
.ui-listview li {
	font-size: @font_size_list_item;
	line-height: @font_size_list_item;
	width: 100%;
	min-height: 90 * @unit_base;
	padding: 22*@unit_base 16*@unit_base 22*@unit_base;
	border-bottom: 1px solid @color_listview_border;

	label.ui-popup-radio-label,
	label.ui-popup-checkbox-label {
		height: 45 * @unit_base;
		width: 80%;
		padding: 0;
		float: left;
	}

	input[type="radio"] {
		margin-top: -4 * @unit_base;
		float: right;
	}

	input[type="checkbox"] {
		margin-top: -4 * @unit_base;
		float: right;
	}
}

.ui-listview li > a {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 40 * @unit_base;
	margin: -23*@unit_base -16*@unit_base;	// Fill-up to the parent li
	padding: 25*@unit_base 16*@unit_base;	// Compensate lost padding of li
	.LESSbox-boxsizing( content-box );	// Change size calculation criteria
}

.ui-listview li.ui-li-active {
	background-color: @color_list_press_bg;
}
