/*
 * toggle switch
 */

.ui-switch {
	width: 288 * @unit_base;
	height: inherit;
	position: fixed;
	color: @color_switch_text;
}

.ui-toggleswitch {
	display: block;
	width: 140 * @unit_base;
	margin: 0 auto;
}
.ui-switch-text {
	margin-top: 30 * @unit_base;
	margin-bottom: 40 * @unit_base;
	padding: 0 30;
	font-size: 34 * @unit_base;
	text-align: center;
}
.ui-switch-input {
	display: none;
}

.ui-switch-inneroffset {
	width: 50%;
	height: 100%;
}

.ui-switch-activation {
	width: 140 * @unit_base;
	height: 70 * @unit_base;
	background-image: url("./images/Controller_icon/tw_btn_toggle_bg_normal_holo_dark.png");
	margin: 0 auto;
	margin-top: 23 * @unit_base;

	.ui-switch-handler {
		position: relative;
		width: 86 * @unit_base;
		height: 70 * @unit_base;
		background-image: url("./images/Controller_icon/tw_btn_toggle_off_normal_holo_dark.png");
		left: 0%;
	}
}

.ui-switch-activation:active {
	width: 140 * @unit_base;
	height: 70 * @unit_base;
	background-image: url("./images/Controller_icon/tw_btn_toggle_bg_pressed_holo_dark.png");
	margin: 0 auto;
	margin-top: 23 * @unit_base;

	.ui-switch-handler:active {
		position: relative;
		width: 86 * @unit_base;
		height: 70 * @unit_base;
		background-image: url("./images/Controller_icon/tw_btn_toggle_off_pressed_holo_dark.png");
		left: 0%
	}
}

.ui-switch-activation:disable {
	width: 140 * @unit_base;
	height: 70 * @unit_base;
	background-image: url("./images/Controller_icon/tw_btn_toggle_bg_disabled_holo_dark.png");
	margin: 0 auto;
	margin-top: 23 * @unit_base;

	.ui-switch-handler:disable {
		position: relative;
		width: 86 * @unit_base;
		height: 70 * @unit_base;
		background-image: url("./images/Controller_icon/tw_btn_toggle_off_disabled_holo_dark.png");
		left: 0%;
	}
}

.ui-switch-input:checked ~ & {
	display: none;

	.ui-switch-activation {
		width: 140 * @unit_base;
		height: 70 * @unit_base;
		background-image: url("./images/Controller_icon/tw_btn_toggle_bg_normal_holo_dark.png");
		margin: 0 auto;
		margin-top: 23 * @unit_base;

		.ui-switch-handler {
			position: relative;
			width: 86 * @unit_base;
			height: 70 * @unit_base;
			background-image: url("./images/Controller_icon/tw_btn_toggle_on_normal_holo_dark.png");
			left: 74%;
		}
	}
	.ui-switch-activation:active {
		width: 140 * @unit_base;
		height: 70 * @unit_base;
		background-image: url("./images/Controller_icon/tw_btn_toggle_bg_pressed_holo_dark.png");
		margin: 0 auto;
		margin-top: 23 * @unit_base;

		.ui-switch-handler:active {
			position: relative;
			width: 86 * @unit_base;
			height: 70 * @unit_base;
			background-image: url("./images/Controller_icon/tw_btn_toggle_on_pressed_holo_dark.png");
			left: 74%;
		}
	}
	.ui-switch-activation:disable {
		width: 140 * @unit_base;
		height: 70 * @unit_base;
		background-image: url("./images/Controller_icon/tw_btn_toggle_bg_disabled_holo_dark.png");
		margin: 0 auto;
		margin-top: 23 * @unit_base;

		.ui-switch-handler:disable {
			position: relative;
			width: 86 * @unit_base;
			height: 70 * @unit_base;
			background-image: url("./images/Controller_icon/tw_btn_toggle_on_disabled_holo_dark.png");
			left: 74%;
		}
	}
}

