* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
    background-color:#222;
}

.contents {
	display: flex;
	box-sizing: border-box;
	height:320px;
}


.content_text {
	font-weight:bold;
	font-size:5em;
	color:#fff;
}
