<!DOCTYPE html>
<html>
<head>
	<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
	<meta name="viewport" content="width=720, initial-scale=1">
	<title>All contacts</title>
	
	<script src="bootstrap.js"
            data-framework-root="../../build/web-ui-fw"
            data-framework-version="0.1"
            data-framework-theme="nbeat-black">
    </script>	
</head>

<body id="phonebook_body">
	<script id="tmpl_contacts_normal" type="text/x-jquery-tmpl">
			<li class="ui-li-3-1-25" data-luid=${Luid}>
				<span class="ui-li-text-main">
				{{if name_first}}
        			${name_first}
    			{{/if}}
				{{if name_middle}}
        			 ${name_middle}
    			{{/if}}
				{{if name_last}}
        			 ${name_last}
    			{{/if}}
				{{if name_suffix}}
        			 ${name_suffix}	
    			{{/if}}
				{{if name_nick}}
        			 <b class="nick-name">${name_nick}</b>
    			{{/if}}
				{{if savedlocation=="Google"}}
					<img src="image/C02_account_01.png">
				{{else savedlocation=="Facebook"}}
					<img src="image/C02_account_02.png">
 				{{else savedlocation=="Facebook"}}
					<img src="image/C02_account_03.png">
				{{else savedlocation=="Facebook"}}
					<img src="image/C02_account_04.png">
				{{else}}
					<img src="image/C02_account_05.png">
				{{/if}}
				</span>
				<img src=${photoid} class="ui-li-bigicon">
			</li>
	</script>
	<script id="tmpl_contacts_title" type="text/x-jquery-tmpl">
		All contacts (${counts})
	</script>


	<!-- Page: All Contacts -->
	<div id="all_contacts_page" data-role="page">
		<div data-role="header" data-position="fixed" id="all_contacts_header">
			<h1>All contacts</h1>
		</div><!-- /header -->
	
		<!--content start-->
		<div data-role="content" style="top:100px; position:relative">
			<div data-role="fieldcontain" data-position="fixed" id="SearchDiv">
				<input type="search" id="queryInput" value=""/>
			</div>
			<ul id="all_contacts_list" data-role="virtuallistview" data-template="tmpl_contacts_normal" data-dbtable="phonebookDB" data-dbkey = "luid">
			</ul>
		</div><!--content end-->
		<div data-role="footer"data-position ="fixed" id="all_contacts_footer">
			<div data-role="navbar" data-style="toolbar" >
				<ul>
					<li><a href="#">Back</a></li>
					<li><a href="#">Edit</a></li>
					<li><a href="#all_groups_page">Groups</a></li>
					<li><a href="#">Create</a></li>
				</ul>
			</div>				
		</div>				
	</div><!--page end-->

	<!-- Page: Detail view -->
	<div id="contact_detilaview" data-role="page">
	<script id="contacts_detailview_tmpl" type="text/x-jquery-tmpl">
			<div>
				<img src=${photoid} style="float:left">
				<div class="contact_name_field">
				{{if name_first}}
        			${name_first}
    			{{/if}}
				{{if name_last}}
        			 ${name_last}
    			{{/if}}
				</div>
				<div class="contact_subname_field">
				{{if name_middle}}
        			 ${name_middle}
    			{{/if}}
				{{if name_suffix}}
        			 ${name_suffix}	
    			{{/if}}
				{{if name_nick}}
        			 ${name_nick}
    			{{/if}}
				</div>
				<div class="companyname_field">
				{{if company}}
					${company}
				{{/if}}
				</div>
			<div>
	</script>
	
	<div data-role="header" data-position="fixed" >
		<h1>Details</h1>
		<div id="contact_detailview_header" data-role="optionheader">
			<div class="ui-grid-a ">
				<div class="ui-block-a">
					<a data-role="button">Delete</a>
				</div>
				<div class="ui-block-b">
					<a data-role="button">Edit</a>
				</div>
			</div>
		</div>
	</div><!-- /header -->

	<!--content start-->
	<div id="contact_detailview_content" data-role="content" style="top:100px; position:relative">
	</div><!--content end-->
	</div><!--page end-->
	
	
	<!-- Page: All Groups List -->
	<div id="all_groups_page" data-role="page">
	<script id="tmpl_groups_normal" type="text/x-jquery-tmpl">
			<li class="ui-li-3-1-1">
				<span class="ui-li-text-main">${groupName}</span>
			</li>
	</script>
		<div data-role="header" data-position="fixed" id="all_groups_header">
			<h1>Groups</h1>
		</div><!-- /header -->
	
		<!--content start-->
		<div data-role="content" style="top:100px; position:relative">
			<ul id="all_groups_list" data-role="virtuallistview" data-template="tmpl_groups_normal" data-dbtable="phonebookGroupsDB" data-dbkey = "luid">
			</ul>
		</div><!--content end-->
		<div data-role="footer"data-position ="fixed" id="all_groups_footer">
			<div data-role="navbar" data-style="toolbar" >
				<ul>
					<li><a href="#all_contacts_page">Back</a></li>
					<li><a href="#">Edit</a></li>
					<li><a href="#all_groups_page">Groups</a></li>
					<li><a href="#">Create</a></li>
				</ul>
			</div>				
		</div>				
	</div><!--page end-->	
	
	
</body> 
</html>
