<!DOCTYPE html>
<html>
<head>
	<title>All contacts</title>
	<link rel="stylesheet" href="css/phonebook.css" />
	<script src="../../build/web-ui-fw/0.1/js/jquery.js"></script>
	<script src="../../build/web-ui-fw/0.1/js/web-ui-fw.js"
                data-framework-root="../../build/web-ui-fw"
                data-framework-version="0.1"
                data-framework-theme="nbeat-black">
    </script>
    
	<script src="js/phonebook.js"></script>
    <script src="init.js"></script>    
</head>

<body id="phonebook_body">
	<!-- Page: All Contacts -->
	<div id="all_contacts_page" data-role="page">
	
		<script id="tmpl_contacts_normal" type="text/x-jquery-tmpl">
			<ul data-role="listview"> 
				<ul data-role="swipelist">
					<li class="ui-li-3-1-25" data-luid=${Luid}>
						<div data-role="button" data-inline="true">Call</div>
						<div data-role="button" data-inline="true">Message</div>
						<div data-role="button" data-inline="true">Video call</div>
						<div data-role="button" data-inline="true">Delete</div>
						<div data-role="ui-list-cover">
						<div>
							<span class="ui-li-text-main">
								{{if name_first}}
        							${name_first}
    							{{/if}}
								{{if name_middle}}
        			 				 ${name_middle}
    							{{/if}}
								{{if name_last}}
        			 				 ${name_last}
    							{{/if}}
								{{if name_suffix}}
        			 				 ${name_suffix}	
    							{{/if}}
								{{if name_nick}}
        			 				<b class="nick-name"> ${name_nick}</b>
    							{{/if}}
								{{if savedlocation=="Google"}}
									<img src="image/C02_account_01.png">
								{{else savedlocation=="Facebook"}}
									<img src="image/C02_account_02.png">
 								{{else savedlocation=="Facebook"}}
									<img src="image/C02_account_03.png">
								{{else savedlocation=="Facebook"}}
									<img src="image/C02_account_04.png">
								{{else}}
									<img src="image/C02_account_05.png">
								{{/if}}
							</span>
							<img src=${photoid} class="ui-li-bigicon">
						</div>
						</div>
				    </li>
				</ul>
			</ul>			
		</script>
		
		<script id="tmpl_contacts_title" class="tmpl_title_with_count" type="text/x-jquery-tmpl">
			All contacts (${counts})
		</script>  
			
		<div id="all_contacts_header" data-role="header" data-position="fixed">
			<h1>All contacts</h1>
		</div><!-- /header -->
	
		<!--content start-->
		<div data-role="content" style="top:100px; position:relative">
			<div data-role="fieldcontain" data-position="fixed">
				<input id="all_contacts_queryInput" type="search" value=""/>
			</div>
			<ul id="all_contacts_list" data-role="virtuallistview" data-template="tmpl_contacts_normal" data-swipelist="true" data-dbtable="phonebookDB" data-dbkey = "luid">
			</ul>
		</div><!--content end-->
		<div id="all_contacts_footer" data-role="footer"data-position ="fixed">
			<div data-role="navbar" data-style="toolbar" >
				<ul>
					<li><a href="#" data-icon="ctrlbar-edit">Edit</a></li>
					<li><a href="#all_groups_page" data-icon="ctrlbar-groups">Groups</a></li>
					<li><a href="#create_contact_page" data-icon="ctrlbar-create">Create</a></li>
				</ul>
			</div>				
		</div>				
	</div><!--page end-->

	<!-- Page: Contacts List -->
	<div id="contacts_list_page" data-role="page">
		<div id="contacts_list_header" data-role="header" data-position="fixed">
			<h1></h1>
		</div><!-- /header -->
	
		<!--content start-->
		<div data-role="content" style="top:100px; position:relative">
			<div data-role="fieldcontain" data-position="fixed">
				<input id="contacts_list_queryInput" type="search" value=""/>
			</div>
			<ul id="contacts_list_main" data-role="virtuallistview" data-template="tmpl_contacts_normal" data-swipelist="true" data-dbtable="phonebookDB" data-dbkey = "luid">
			</ul>
		</div><!--content end-->
		<div id="contacts_list_footer" data-role="footer" data-position ="fixed">
			<div data-role="navbar" data-style="toolbar" >
				<ul>
					<li><a href="#" data-icon="ctrlbar-edit">Edit</a></li>
					<li><a href="#all_groups_page" data-icon="ctrlbar-groups">Groups</a></li>
					<li><a href="#" data-icon="ctrlbar-create">Create</a></li>
				</ul>
			</div>				
		</div>			
	</div><!--page end-->

	<!-- Page: Detail view -->
	<div id="contact_detilaview" data-role="page">
	<script id="contacts_detailview_tmpl" type="text/x-jquery-tmpl">
			<li class="ui-li-4-3-2">
				<img src=${photoid}>
				<span class="contact_name_field ui-li-long-text phonebook-name">
				{{if name_first}}
        			${name_first}
    			{{/if}}
				{{if name_last}}
        			 ${name_last}
    			{{/if}}
				</span>
				<span class="contact_subname_field">
				{{if name_middle}}
        			 ${name_middle}
    			{{/if}}
				{{if name_suffix}}
        			 ${name_suffix}	
    			{{/if}}
				{{if name_nick}}
        			 ${name_nick}
    			{{/if}}
				</span>
				<span class="companyname_field">
				{{if Company}}
					${Company}
				{{/if}}
				</span>
			</li>
			<li class="ui-li-4-1-13 ui-li-dialogue">
				<div style="display: inline-block;" class="ui-li-text-sub-left">Mobile</div>
				<div style="display: inline-block;" class="ui-li-text-main-right">${ln_mobile}</div>
				<img src="image/00_check_checking.png" class="ui-li-bigicon">
			</li>
			<li class ="ui-li-3-button">
				<div data-role="button">Call</div>
				<div data-role="button">Message</div>
				<div data-role="button">Video Call</div>
			</li>

			<li data-role="list-divider"></li>
			<li class="ui-li-4-1-12 ui-li-dialogue">
				<div style="display: inline-block;" class="ui-li-text-sub-left">Telephone</div>
				<div style="display: inline-block;" class="ui-li-text-main-right">${ln_telephone}</div>
			</li>
			<li class="ui-li-4-1-12 ui-li-dialogue">
				<div style="display: inline-block;" class="ui-li-text-sub-left">Fax</div>
				<div style="display: inline-block;" class="ui-li-text-main-right">${ln_fax}</div>
			</li>
			<li class="ui-li-4-1-12 ui-li-dialogue">
				<div style="display: inline-block;" class="ui-li-text-sub-left">Other</div>
				<div style="display: inline-block;" class="ui-li-text-main-right">${ln_other}</div>
			</li>

			<li data-role="list-divider"></li>
			<li class="ui-li-4-1-12 ui-li-dialogue">
				<div style="display: inline-block;" class="ui-li-text-sub-left">Home</div>
				<div style="display: inline-block;" class="ui-li-text-main-right ui-li-long-text phonebook-email">${em_home}</div>
			</li>
			<li class="ui-li-4-1-12 ui-li-dialogue">
				<div style="display: inline-block;" class="ui-li-text-sub-left">Work</div>
				<div style="display: inline-block;" class="ui-li-text-main-right ui-li-long-text phonebook-email">${em_work}</div>
			</li>
			<li class="ui-li-4-1-12 ui-li-dialogue">
				<div style="display: inline-block;" class="ui-li-text-sub-left">Other</div>
				<div style="display: inline-block;" class="ui-li-text-main-right ui-li-long-text phonebook-email">${em_other}</div>
			</li>

			<li data-role="list-divider"></li>
			<li class="ui-li-4-2-11 ui-li-dialogue">
				<div style="display: inline-block;" class="ui-li-text-sub-left">Home</div>
				<div style="display: inline-block;" class="ui-li-text-main-right phonebook-address">${addr_pcode}, ${addr_country}, ${addr_province}, ${addr_city}, ${addr_street}</div>
			</li>

			<li data-role="list-divider" class="ui-li-group-title"><span>Saved in ${savedlocation}</span></li>

			{{if group}}
			<li class="ui-li-4-2-3 ui-li-dialogue">
				<span class="ui-li-text-main">Group</span>
				<span class="ui-li-text-sub">${group}</span>
			</li>
			{{/if}}
			<li class="ui-li-4-2-3 ui-li-dialogue">
				<span class="ui-li-text-main">Ringtone</span>
				<span class="ui-li-text-sub">${ringtone}</span>
			</li>

			<li data-role="list-divider"></li>
			{{if birthday}}
				<li class="ui-li-4-1-12 ui-li-dialogue">
					<div style="display: inline-block;" class="ui-li-text-sub-left">Birthday</div>
					<div style="display: inline-block;" class="ui-li-text-main-right">${birthday}</div>
				</li>
			<li data-role="list-divider"></li>
			{{/if}}

			{{if webaddr}}
				<li class="ui-li-4-1-12 ui-li-dialogue">
					<div style="display: inline-block;" class="ui-li-text-sub-left">Website</div>
					<div style="display: inline-block;" class="ui-li-text-main-right">${webaddr}</div>
				</li>
			{{/if}}
			{{if note}}
				<li class="ui-li-4-2-11 ui-li-dialogue">
					<div style="display: inline-block;" class="ui-li-text-sub-left">Note</div>
					<div style="display: inline-block;" class="ui-li-text-main-right phonebook-note">${note}</div>
				</li>
			{{/if}}
			<li data-role="list-divider"></li>

			<li class ="ui-li-1-11">
				<div data-role="button">Add to home</div>
				<div data-role="button">Send name card</div>
			</li>
	</script>
	
	<div data-role="header" data-position="fixed" >
		<h1>Details</h1>
	</div><!-- /header -->

	<!--content start-->
	<div id="contact_detailview_content" data-role="content" style="top:100px; position:relative">
		<ul id="contact_detailview_dialog_list" data-role="listview">
		</ul>
	</div><!--content end-->
 	<div data-role="footer"data-position ="fixed">					
		<div data-role="navbar" data-style="toolbar" >
			<ul>
				<li><a href="#" data-icon="ctrlbar-delete" data-inline="true" aria-haspopup="true" aria-owns="detail_view_delete_popup">Delete</a></li>
				<li><a href="#" id="detailview_edit" data-icon="ctrlbar-edit" >Edit</a></li>	
			</ul>
		</div><!-- /navbar -->
	</div>					
	
	<!-- Delete Yes no Pop-up -->
	<div id="detail_view_delete_popup" data-role="popupwindow" data-style="center_basic_2btn">
		<p data-role="text">This contact will be deleted.</p>
		<div data-role="button-bg">
				<input type="button" value="OK" id = "detailview_delete_ok" class="ui-btn-popup-close"/>
				<input type="button" value="Cancel" class="ui-btn-popup-close" />
		</div>
	</div>
		
	</div><!--page end-->
	
	
	<!-- Page: All Groups List -->
	<div id="all_groups_page" data-role="page">
		<script id = "tmpl_groups_expandable_savedLocationName" type="text/x-jquery-tmpl">
			<li data-expandable="true" id=${savedLocation} data-initial-expansion="false" class="ui-li-3-1-1 ui-li-3-1-1-dialogue">
				<span class="ui-li-text-main">${savedLocation} (${savedLocationCount})</span>
			</li>
		</script>
		<script id = "tmpl_groups_expandable_groupName" type="text/x-jquery-tmpl">
			<li id=${groupNameId} data-expanded-by=${savedLocation} class="ui-li-3-1-1 ui-li-3-1-1-dialogue">
				<span class="ui-li-text-main">${groupName} (${groupCount})</span>
			</li>
		</script>
		
		<div id="all_groups_header" data-role="header" data-position="fixed">
			<h1>Groups</h1>
		</div><!-- /header -->
	
		<!--content start-->
		<div data-role="content" style="top:100px; position:relative">
			<ul id="all_groups_list" data-role="listview" data-dbtable="phonebookGroupsDB" data-dbkey = "luid">
				<li id="All_contacts_on_groups_list" class="ui-li-3-1-1 ui-li-3-1-1-dialogue">
					<a href="#all_contacts_page"><span class="ui-li-text-main"></span></a>	<!-- Reuse tmpl_contacts_title -->
				</li>
			</ul>
		</div><!--content end-->
		<div id="all_groups_footer" data-role="footer"data-position ="fixed">
			<div data-role="navbar" data-style="toolbar" >
				<ul>
					<li><a href="#" data-icon="ctrlbar-edit">Edit</a></li>
					<li><a href="#" data-icon="ctrlbar-accounts">Accounts</a></li>
				</ul>
			</div>				
		</div>				
	</div><!--page end-->
	
	
	<div id="create_contact_page" data-role="page">
		<div id="create_contact_header" data-role="header" data-position="fixed" data-footerexist = "false" >
			<a id="create_contact_cancel">Cancel</a>
			<h1>Create</h1>
			<a id="create_contact_save">Save</a>
		</div><!-- /header -->
	
		<!--content start-->
		<div data-role="content" style="top:100px; position:relative">
			<ul id = "create_contact_editor" data-role="listview">
				<li data-role="list-divider"></li>
				<div class = "ui-li-dialogue-editor-photo">
					<img src = "phonebook_data/profile38.jpg">
				</div>
				<li class = "ui-li-dialogue-editor-1"">
					<div data-role="fieldcontain">
	         			<input type="text" name="name" id="first_name" value="" data-default-text = "First name" />
					</div>
					<div data-role="button" data-inline="true" data-icon="closed" data-style="edit"></div>					
				</li>
				<li class = "ui-li-dialogue-editor-1"">
					<div data-role="fieldcontain">
	         			<input type="text" name="name" id="last_name" value="" data-default-text = "Last name" />
					</div>
				</li>
				<li class = "ui-li-dialogue-editor-1"">
					<div data-role="fieldcontain">
	         			<input type="text" name="name" id="middle_name" value="" data-default-text = "Middle name" />
					</div>
				</li>	
				<li class = "ui-li-dialogue-editor-1"">
					<div data-role="fieldcontain">
	         			<input type="text" name="name" id="suffix" value="" data-default-text = "Suffix" />
					</div>
				</li>	
				<li class = "ui-li-dialogue-editor-1"">
					<div data-role="fieldcontain">
	         			<input type="text" name="name" id="nickname" value="" data-default-text = "Nickname" />
					</div>
				</li>	
				<li class = "ui-li-dialogue-editor-1"">
					<div data-role="fieldcontain">
	         			<input type="text" name="name" id="company" value="" data-default-text = "Company"  />
					</div>
				</li>	
				
				<li class = "ui-li-dialogue-editor-2"">
				</li>
				
				<li class = "ui-li-dialogue-editor-date"">
				</li>
				
				<!-- Editor Buttons -->
			</ul>
		</div><!--content end-->
	</div><!--page end-->
	
	
</body> 
</html>
