<!DOCTYPE html>
<html>
<head>
	<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
	<meta name="viewport" content="width=720, initial-scale=1">
	<title>All contacts</title>
	<link rel="stylesheet" href="css/phonebook.css" />
	<script src="../../build/web-ui-fw/0.1/js/jquery.js"></script>
	<script src="../../build/web-ui-fw/0.1/js/web-ui-fw.js"
                data-framework-root="../../build/web-ui-fw"
                data-framework-version="0.1"
                data-framework-theme="nbeat-black">
    </script>
    
	<script src="js/phonebook.js"></script>
    <script src="init.js"></script>    
</head>

<body id="phonebook_body">
	<!-- Page: All Contacts -->
	<div id="all_contacts_page" data-role="page">
	
		<script id="tmpl_contacts_normal" type="text/x-jquery-tmpl">
			<ul data-role="listview"> 
				<ul data-role="swipelist">
					<li class="ui-li-3-1-25" data-luid=${Luid}>
						<div data-role="button" data-inline="true">Call</div>
						<div data-role="button" data-inline="true">Message</div>
						<div data-role="button" data-inline="true">Video call</div>
						<div data-role="button" data-inline="true">Delete</div>
						<div data-role="ui-list-cover">
						<div>
							<span class="ui-li-text-main">
								{{if name_first}}
        							${name_first}
    							{{/if}}
								{{if name_middle}}
        			 				 ${name_middle}
    							{{/if}}
								{{if name_last}}
        			 				 ${name_last}
    							{{/if}}
								{{if name_suffix}}
        			 				 ${name_suffix}	
    							{{/if}}
								{{if name_nick}}
        			 				<b class="nick-name"> ${name_nick}</b>
    							{{/if}}
								{{if savedlocation=="Google"}}
									<img src="image/C02_account_01.png">
								{{else savedlocation=="Facebook"}}
									<img src="image/C02_account_02.png">
 								{{else savedlocation=="Facebook"}}
									<img src="image/C02_account_03.png">
								{{else savedlocation=="Facebook"}}
									<img src="image/C02_account_04.png">
								{{else}}
									<img src="image/C02_account_05.png">
								{{/if}}
							</span>
							<img src=${photoid} class="ui-li-bigicon">
						</div>
						</div>
				    </li>
				</ul>
			</ul>			
		</script>
		
		<script id="tmpl_contacts_title" type="text/x-jquery-tmpl">
			All contacts (${counts})
		</script>  
			
		<div id="all_contacts_header" data-role="header" data-position="fixed">
			<h1>All contacts</h1>
		</div><!-- /header -->
	
		<!--content start-->
		<div data-role="content" style="top:100px; position:relative">
			<div data-role="fieldcontain" data-position="fixed">
				<input id="all_contacts_queryInput" type="search" value=""/>
			</div>
			<ul id="all_contacts_list" data-role="virtuallistview" data-template="tmpl_contacts_normal" data-swipelist="true" data-dbtable="phonebookDB" data-dbkey = "luid">
			</ul>
		</div><!--content end-->
		<div id="all_contacts_footer" data-role="footer"data-position ="fixed">
			<div data-role="navbar" data-style="toolbar" >
				<ul>
					<li><a href="#">Back</a></li>
					<li><a href="#">Edit</a></li>
					<li><a href="#all_groups_page">Groups</a></li>
					<li><a href="#">Create</a></li>
				</ul>
			</div>				
		</div>				
	</div><!--page end-->

	<!-- Page: Contacts List -->
	<div id="contacts_list_page" data-role="page">
		<div id="contacts_list_header" data-role="header" data-position="fixed">
			<h1></h1>
		</div><!-- /header -->
	
		<!--content start-->
		<div data-role="content" style="top:100px; position:relative">
			<div data-role="fieldcontain" data-position="fixed">
				<input id="contacts_list_queryInput" type="search" value=""/>
			</div>
			<ul id="contacts_list_main" data-role="virtuallistview" data-template="tmpl_contacts_normal" data-swipelist="true" data-dbtable="phonebookDB" data-dbkey = "luid">
			</ul>
		</div><!--content end-->
		<div id="contacts_list_footer" data-role="footer" data-position ="fixed">
			<div data-role="navbar" data-style="toolbar" >
				<ul>
					<li><a href="#all_groups_page">Back</a></li>
					<li><a href="#">Edit</a></li>
					<li><a href="#all_groups_page">Groups</a></li>
					<li><a href="#">Create</a></li>
				</ul>
			</div>				
		</div>			
	</div><!--page end-->

	<!-- Page: Detail view -->
	<div id="contact_detilaview" data-role="page">
	<script id="contacts_detailview_tmpl" type="text/x-jquery-tmpl">
			<div>
				<img src=${photoid} style="float:left">
				<div class="contact_name_field">
				{{if name_first}}
        			${name_first}
    			{{/if}}
				{{if name_last}}
        			 ${name_last}
    			{{/if}}
				</div>
				<div class="contact_subname_field">
				{{if name_middle}}
        			 ${name_middle}
    			{{/if}}
				{{if name_suffix}}
        			 ${name_suffix}	
    			{{/if}}
				{{if name_nick}}
        			 ${name_nick}
    			{{/if}}
				</div>
				<div class="companyname_field">
				{{if company}}
					${company}
				{{/if}}
				</div>
			<div>
	</script>
	
	<div data-role="header" data-position="fixed" >
		<h1>Details</h1>
		<div id="contact_detailview_header" data-role="optionheader">
			<div class="ui-grid-a ">
				<div class="ui-block-a">
					<a data-role="button">Delete</a>
				</div>
				<div class="ui-block-b">
					<a data-role="button">Edit</a>
				</div>
			</div>
		</div>
	</div><!-- /header -->

	<!--content start-->
	<div id="contact_detailview_content" data-role="content" style="top:100px; position:relative">
	</div><!--content end-->
	</div><!--page end-->
	
	
	<!-- Page: All Groups List -->
	<div id="all_groups_page" data-role="page">
		<script id = "tmpl_groups_expandable_savedLocationName" type="text/x-jquery-tmpl">
			<li data-expandable="true" id=${savedLocation} data-initial-expansion="false" class="ui-li-3-1-1 ui-li-3-1-1-dialogue">
				<span class="ui-li-text-main">${savedLocation} (${savedLocationCount})</span>
			</li>
		</script>
		<script id = "tmpl_groups_expandable_groupName" type="text/x-jquery-tmpl">
			<li id=${groupNameId} data-expanded-by=${savedLocation} class="ui-li-3-1-1 ui-li-3-1-1-dialogue">
				<span class="ui-li-text-main">${groupName} (${groupCount})</span>
			</li>
		</script>
		
		<div id="all_groups_header" data-role="header" data-position="fixed">
			<h1>Groups</h1>
		</div><!-- /header -->
	
		<!--content start-->
		<div data-role="content" style="top:100px; position:relative">
			<ul id="all_groups_list" data-role="listview" data-dbtable="phonebookGroupsDB" data-dbkey = "luid">
				<li id="All_contacts_on_groups_list" class="ui-li-3-1-1 ui-li-3-1-1-dialogue">
					<a href="#all_contacts_page"><span class="ui-li-text-main"></span></a>	<!-- Reuse tmpl_contacts_title -->
				</li>
			</ul>
		</div><!--content end-->
		<div id="all_groups_footer" data-role="footer"data-position ="fixed">
			<div data-role="navbar" data-style="toolbar" >
				<ul>
					<li><a href="#all_contacts_page">Back</a></li>
					<li><a href="#">Edit</a></li>
					<li><a href="#all_groups_page">Groups</a></li>
					<li><a href="#">Create</a></li>
				</ul>
			</div>				
		</div>				
	</div><!--page end-->
</body> 
</html>
