pre {
	font-size: 0.7em;
}
body{
	margin: 0px;
}
.hidden {
	display: none;
}

#my-button::shadow paper-ripple {
	color: blue;
}

#my-button {
	margin-top: 10px;
	background: #448AFF;
	color: #FFFFFF;
}

.blue {
	background-color: #03a9f4;
}
.white {
	background: white;
}
paper-header-panel {
	height: 100vh;
}
h3 {
	color: #B3E5FC;
}
a {
	color: #212121;
	text-decoration:none;
}

.paper-header {
	font-size: 16px;
	line-height: 60px;
	padding: 0 10px;
	color: #FFFFFF;
	transition: height 0.2s;
}