b.nick-name
{
	color: red;	
}

#phonebook_body li.ui-btn-hover-s
{
	background-color: #26424f;
}

#phonebook_body li.ui-btn-down-s
{
	background-color: #2a6d8c;
}

.phonebook-name
{
	width : 550px;	
}

.phonebook-email, .phonebook-address, .phonebook-note
{
	width : 470px;	
}
