b.nick-name
{
	color: red;	
}

#phonebook_body li.ui-btn-hover-s
{
	background-color: #26424f;
}

#phonebook_body li.ui-btn-down-s
{
	background-color: #2a6d8c;
}

.phonebook-name
{
	width : 550px;	
}

.phonebook-email, .phonebook-address, .phonebook-note
{
	width : 450px;	
}

.contact-editor-ln-display
{
	display : block !important;
}

.contact-editor-ln-hide
{
	display : none !important;	
}

.conatact-editor-ln-mobile:after
{
	content: "Mobile";
}

.conatact-editor-ln-telephone:after
{
	content: "Telephone";
}

.conatact-editor-ln-fax:after
{
	content: "Fax";
}

.conatact-editor-ln-other:after
{
	content: "Other";
}