/***************************************************************************
                  Body
***************************************************************************/
@color_bg: rgb(8, 8, 8);					/* B011 : Main Background color */
@color_text: rgb(250, 250, 250);		/* B012 : Main font color */

/***************************************************************************
                   Action Bar
***************************************************************************/
@actionbar_title_text: rgb(255, 144, 0);
@actionbar_more_pressed_bg: rgb(255, 144, 0);

@actionbar_more_icon_detail_normal: "./images/tw_ic_menu_detail_normal_holo_dark.png";
@actionbar_more_icon_detail_disable: "./images/tw_ic_menu_detail_disable_holo_dark.png";
@actionbar_more_icon_overflow_normal: "./images/tw_ic_menu_moreoverflow_normal_holo_dark.png";
@actionbar_more_icon_overflow_disable: "./images/tw_ic_menu_moreoverflow_disable_holo_dark.png";
@actionbar_more_icon_selectall_normal: "./images/tw_ic_menu_selectall_normal_holo_dark.png";
@actionbar_more_icon_selectall_disable: "./images/tw_ic_menu_selectall_disable_holo_dark.png";
