/***************************************************************************
                  Body
***************************************************************************/
@color_bg: rgb(0, 0, 0);					/* B011 : Main Background color */
@color_text: rgb(250, 250, 250);		/* B012 : Main font color */

/***************************************************************************
                   Action Bar
***************************************************************************/
@color_actionbar_title_text: rgb(255, 144, 0);
@color_actionbar_title_bg: rgb(30, 30, 30);
@color_actionbar_more_pressed_bg: rgb(255, 144, 0);
@icon_actionbar_more_detail_normal: "./images/Actionbar/tw_ic_menu_detail_normal_holo_dark.png";
@icon_actionbar_more_detail_disable: "./images/Actionbar/tw_ic_menu_detail_disable_holo_dark.png";
@icon_actionbar_more_overflow_normal: "./images/Actionbar/tw_ic_menu_moreoverflow_normal_holo_dark.png";
@icon_actionbar_more_overflow_disable: "./images/Actionbar/tw_ic_menu_moreoverflow_disable_holo_dark.png";
@icon_actionbar_more_selectall_normal: "./images/Actionbar/tw_ic_menu_selectall_normal_holo_dark.png";
@icon_actionbar_more_selectall_disable: "./images/Actionbar/tw_ic_menu_selectall_disable_holo_dark.png";
@color_actionbar_tab_nav_active_bg: rgb(255, 144, 0);
/****************************************************************************
		Progress Bar
****************************************************************************/
@color_progressbar_text: rgb(255, 255, 255);
@color_progressbar_normal_bg: rgb(17, 17, 17);
@color_progressbar_value_bg: rgb(255, 134, 0);

/****************************************************************************
		Processing
****************************************************************************/
@color_processing_text: rgb(255, 255, 255);

/****************************************************************************
		Toggle Switch
****************************************************************************/
@color_switch_text: rgb(255, 255, 255);
@color_switch_bg: rgb(255, 144, 0);
@color_switch_handler_bg: rgb(255, 255, 255);
@color_switch_activation_bg: rgb(38, 38, 38);
@color_swtich_activation_active_bg: rgb(64, 64, 64);
@color_switch_activation_disable_bg: rgb(26, 26, 26);
@color_switch_activation_checked_bg: rgb(255, 144, 0);
@color_switch_activation_active_checked_bg: rgb(255, 166, 51);
@color_switch_activation_disable_checked_bg: rgb(76, 43, 0);

/***************************************************************************
                   Buttons
***************************************************************************/
@color_button_default_text: rgb(255, 255, 255);
@color_button_default_text_disable: rgb(51, 51, 51);
@color_button_default_normal_bg: #48413c;
@color_button_default_focus_bg: #48413c;
@color_button_default_press_bg: #635d59;
@color_button_default_disable_bg: #1d1a18;

@color_button_red_text: rgb(255, 255, 255);
@color_button_red_text_disable: rgba(255, 255, 255, 0.15);
@color_button_red_normal_bg: #ce2302;
@color_button_red_focus_bg: #ce2302;
@color_button_red_press_bg: #dd654e;
@color_button_red_disable_bg: #3d0a0a;

@color_button_orange_text: rgb(255, 255, 255);
@color_button_orange_text_disable: rgba(255, 255, 255, 0.15);
@color_button_orange_normal_bg: #ed8600;
@color_button_orange_focus_bg: #ed8600;
@color_button_orange_press_bg: #f0aa56;
@color_button_orange_disable_bg: #462805;

@color_button_green_text: rgb(255, 255, 255);
@color_button_green_text_disable: rgba(255, 255, 255, 0.15);
@color_button_green_normal_bg: #64a323;
@color_button_green_focus_bg: #64a323;
@color_button_green_press_bg: #92be5e;
@color_button_green_disable_bg: #1e3108;

/***************************************************************************
                   Popup
***************************************************************************/
@color_popup_title_text: rgb(255, 144, 0);
@color_popup_bg: rgb(34, 34, 34);
@color_popup_border: rgb(51, 51, 51);
@color_popup_button_bg: rgb(72, 65, 60);
@color_popup_button_press_bg: rgb(99, 93, 89);

/***************************************************************************
                   Popup
***************************************************************************/
@color_list_border: rgb(51, 51, 51);
@color_list_press_bg: rgb(99, 93, 89);

/***************************************************************************
                  index scrollbar (vertical)
***************************************************************************/
@color_indexscrollbar_bg: #222222;
@color_indexscrollbar_text: rgb(89, 89, 89);
@color_indexscrollbar_selected_bg: #f99107;
@color_indexscrollbar_selected_text: rgb(255, 255, 255);
@color_indexscrollbar_indicator_bg: rgb(88, 73, 58);
@color_indexscrollbar_indicator_text: rgb(255, 255, 255);

/***************************************************************************
                  Listview
***************************************************************************/
@color_listview_border: rgb(64, 64, 64);

