.ui-demo-namecard {
	display : inline-block;
	width : 220px;
	height : 260px;
	margin-right: 17px;
	margin-bottom: 1px;
}

.ui-demo-namecard-pic {
	float : left;
	padding-top : 5px;
	padding-left : 5px;
}

.ui-demo-namecard-pic-img {
	height : 210px;
	width : 210px;
}

.ui-demo-namecard-contents {
	float : left;
	width : 200px;
	height : 50px;
	margin : 3px auto;
	padding : 1px 1px 1px 1px;
}

.ui-demo-namecard-contents span {
	font-style : italic;
	padding : 0 0.3em;
	color : #666;
	border-bottom : 1px dashed;
}

.ui-demo-namecard-contents span.name {
	color : white;
	font : normal 30px Georgia, serif !important;

	width: 200px;
	display: inline-block;
	white-space : nowrap;
	overflow : hidden !important;
	text-overflow : ellipsis !important;
	-o-text-overflow:ellipsis;
	resize:horizontal;
}

.ui-demo-namecard-contents span.active {
	font : normal 12px Georgia, serif !important;
}

.ui-demo-namecard-contents span.from {
	font : normal 11px Georgia, serif !important;
}
