.default_div() {
	display: block;
}

.default_button() {
	webkit-appearance: button;
	align-items: flex-start;
	background-color: rgb(221, 221, 221);
	border-bottom-color: rgb(221, 221, 221);
	border-bottom-style: outset;
	border-bottom-width: 2px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(221, 221, 221);
	border-left-style: outset;
	border-left-width: 2px;
	border-right-color: rgb(221, 221, 221);
	border-right-style: outset;
	border-right-width: 2px;
	border-top-color: rgb(221, 221, 221);
	border-top-style: outset;
	border-top-width: 2px;
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	cursor: default;
	display: inline-block;
	font-family: Tizen;
	font-size: 13.3333330154419px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: normal;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 1px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 1px;
	text-align: center;
	text-indent: 0px;
	text-rendering: auto;
	text-shadow: none;
	text-transform: none;
	word-spacing: 0px;
	writing-mode: lr-tb;
	-webkit-writing-mode: horizontal-tb;
}

.default_input_text() {
	-webkit-appearance: textfield;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	background-color: rgb(255, 255, 255);
	border-bottom-color: rgb(238, 238, 238);
	border-bottom-style: inset;
	border-bottom-width: 2px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(238, 238, 238);
	border-left-style: inset;
	border-left-width: 2px;
	border-right-color: rgb(238, 238, 238);
	border-right-style: inset;
	border-right-width: 2px;
	border-top-color: rgb(238, 238, 238);
	border-top-style: inset;
	border-top-width: 2px;
	color: rgb(0, 0, 0);
	cursor: auto;
	display: inline-block;
	font-family: Tizen;
	font-size: 13.3333330154419px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: normal;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 1px;
	text-align: start;
	text-indent: 0px;
	text-rendering: auto;
	text-shadow: none;
	text-transform: none;
	word-spacing: 0px;
	writing-mode: lr-tb;
	-webkit-writing-mode: horizontal-tb;
}

.default_input_search() {
	-webkit-appearance: searchfield;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	background-color: rgb(255, 255, 255);
	border-bottom-color: rgb(238, 238, 238);
	border-bottom-style: inset;
	border-bottom-width: 2px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(238, 238, 238);
	border-left-style: inset;
	border-left-width: 2px;
	border-right-color: rgb(238, 238, 238);
	border-right-style: inset;
	border-right-width: 2px;
	border-top-color: rgb(238, 238, 238);
	border-top-style: inset;
	border-top-width: 2px;
	color: rgb(0, 0, 0);
	cursor: auto;
	display: inline-block;
	font-family: Tizen;
	font-size: 13.3333330154419px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: normal;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 1px;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	text-align: start;
	text-indent: 0px;
	text-rendering: auto;
	text-shadow: none;
	text-transform: none;
	word-spacing: 0px;
	writing-mode: lr-tb;
	-webkit-writing-mode: horizontal-tb;
}

.default_input_checkbox() {
	-webkit-appearance: checkbox;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	background-color: rgba(0, 0, 0, 0);
	border-bottom-color: rgb(0, 0, 0);
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(0, 0, 0);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(0, 0, 0);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(0, 0, 0);
	border-top-style: none;
	border-top-width: 0px;
	color: rgb(0, 0, 0);
	cursor: auto;
	display: inline-block;
	font-family: Tizen;
	font-size: 13.3333330154419px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: normal;
	margin-bottom: 3px;
	margin-left: 4px;
	margin-right: 3px;
	margin-top: 3px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align: start;
	text-indent: 0px;
	text-rendering: auto;
	text-shadow: none;
	text-transform: none;
	word-spacing: 0px;
	writing-mode: lr-tb;
	-webkit-writing-mode: horizontal-tb;
}

.default_input_radio() {
	-webkit-appearance: radio;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	background-color: rgba(0, 0, 0, 0);
	border-bottom-color: rgb(0, 0, 0);
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(0, 0, 0);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(0, 0, 0);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(0, 0, 0);
	border-top-style: none;
	border-top-width: 0px;
	color: rgb(0, 0, 0);
	cursor: auto;
	display: inline-block;
	font-family: Tizen;
	font-size: 13.3333330154419px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: normal;
	margin-bottom: 0px;
	margin-left: 5px;
	margin-right: 3px;
	margin-top: 3px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align: start;
	text-indent: 0px;
	text-rendering: auto;
	text-shadow: none;
	text-transform: none;
	word-spacing: 0px;
	writing-mode: lr-tb;
	-webkit-writing-mode: horizontal-tb;
}

.default_progress() {
	-webkit-appearance: progress-bar;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: -3.20000004768372px;
	writing-mode: lr-tb;
	-webkit-writing-mode: horizontal-tb;
}

.default_select() {
	-webkit-appearance: menulist;
	-webkit-rtl-ordering: logical;
	align-items: center;
	background-color: rgb(221, 221, 221);
	border-bottom-color: rgb(169, 169, 169);
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(169, 169, 169);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(169, 169, 169);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(169, 169, 169);
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top-style: solid;
	border-top-width: 1px;
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	cursor: default;
	display: inline-block;
	font-family: Tizen;
	font-size: 13.3333330154419px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: normal;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	overflow-x: visible;
	overflow-y: visible;
	text-align: start;
	text-indent: 0px;
	text-rendering: auto;
	text-shadow: none;
	text-transform: none;
	white-space: pre;
	word-spacing: 0px;
	writing-mode: lr-tb;
	-webkit-writing-mode: horizontal-tb;
}

.default_select_option() {
	color: rgb(0, 0, 0);
	cursor: default;
	display: block;
	font-family: Tizen;
	font-size: 13.3333330154419px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: normal;
	min-height: 16px;
	padding-bottom: 1px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0px;
	text-align: start;
	text-indent: 0px;
	text-shadow: none;
	text-transform: none;
	white-space: pre;
	word-spacing: 0px;
}

.default_anchor() {
	display: inline;
}

.default_list() {
	display: block;
	list-style-type: disc;
}

.default_list_ordered() {
	display: block;
	list-style-type: decimal;
}

.default_list_item() {
	display: list-item;
	list-style-type: disc;
	text-align: left;
}
