<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet"  href="../../lib/tau/mobile/theme/default/tau.css">
	<script type="text/javascript" src="../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>

</head>
<body>
<div class="ui-page" id="textinputwithbuttons-demo">
	<div class="ui-header" data-position="fixed">
		<h1>Text Input With Button</h1>
	</div><!-- /header -->
	<div class="ui-content">
		<ul class="ui-listview ui-colored-list">
			<li class="ui-li-static">
				<div class="textinput-box-with-right-button">
					<a class="ui-btn ui-btn-icon ui-btn-icon-right-with-input btn-icon-back"></a>
					<div>
						<input class="has-right-button" type="text" name="texttype" id="texttype1" placeholder="Input text here" data-clear-btn="true"/>
					</div>
				</div>
			</li>
			<li class="ui-li-static">
				<div class="textinput-box-with-right-button">
					<button id="details" data-inline="true" data-style="light">SEND</button>
					<div>
						<input type="text" name="texttype" id="texttype2" placeholder="Input text here" data-clear-btn="true"/>
					</div>
				</div>
			</li>
		</ul>
	</div><!-- /content -->
</div><!-- /page -->
</body>
</html>
