<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet"  href="../../lib/tau/mobile/theme/default/tau.css">
	<script type="text/javascript" src="../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>

</head>
<body>
<div class="ui-page" id="textinputwithbuttons-demo">
	<div class="ui-header" data-position="fixed">
		<h1>Text Input With Button</h1>
	</div><!-- /header -->
	<div class="ui-content">
		<div class="textinput-box">
			<a class="ui-btn ui-btn-icon ui-btn-icon-right-with-input btn-icon-back"></a>
			<input class="has-right-button" type="text" name="texttype" id="texttype1" placeholder="Input text here" data-clear-btn="true"/>
		</div>
		<div class="textinput-box">
			<button id="details" data-inline="true" data-style="light">Send</button>
			<input type="text" name="texttype" id="texttype2" placeholder="Input text here" data-clear-btn="true"/>
		</div>
	</div><!-- /content -->
</div><!-- /page -->
</body>
</html>
