/*
 * Common definition for theme
 */

@font_size_default: 32px;	// Default unit font size
//@rem_base: (1rem/@font_size_default);

@em_base: 1em/@font_size_default;	// WARNING: Don't use em unit!	This value is to be removed.
@px_base: 1px;

@unit_base: @px_base;

@font_family: Helvetica, Arial, sans-serif;

// Basic color set
@color_bg: 				rgb(0, 0, 0);	// 0 0 0
@color_bg_sub:			rgb(36, 36, 36);	// 36 36 36	// TODO: used only in dialog group. Check more.

@color_border:			rgb(42, 42, 42);	// 42 42 42
@color_header: 			rgb(68, 68, 74);	// 68 68 74

@color_text:			rgb(249, 249, 249);	// 249 249 249
@color_text_dim:		rgb(108, 115, 118);	// 108 115 118
@color_text_focus:		@color_text;
@color_text_sub:		rgb(102, 102, 102);	// 102 102 102
@color_text_setting:	rgb(42, 109, 140);	// 42 109 140
@color_text_input:		rgb(70, 70, 70);	// 70 70 70
@color_text_cursor:		@color_text_setting;
@color_text_segctrl:	rgb(158, 195, 213);	// 158 195 213	// TODO: used only in segctrl. Check more.

// TODO: Move vars below to demo application's CSS!
//Special dialogue for Phonebook
@color_text_dialogue_main:	#F9F9F9;	//249:249:249
@color_text_dialogue_sub:	#919191;	//146:146:146  


/*************************
  Vars/Mixins for Widgets

  NOTE:
    * Color variables' name: @color_<widget name>_<identifier>
	* Color values: Use rgb() or rgba()
 *************************/

// Header

// Footer (controlbar)
@color_footer: #213c49;

// ListView
@color_list_list_main_text_read:	rgba(158, 158, 158, 1);
@color_list_list_main_text_unread:	rgba(249, 249, 249, 1);
@color_list_list_main_text_focus:	rgba(249, 249, 249, 1);
@color_list_list_sub_text_default:	rgba(100, 100, 100, 1);
@color_list_list_sub_text_settings:	rgba(0, 140, 210, 1);
@color_list_list_sub_text_focus:	rgba(249, 249, 249, 1);
@color_list_flexible_text_main:		rgba(249, 249, 249, 1);
@color_list_flexible_text_sub:		rgba(149, 149, 149, 1);
@color_list_index_list:			rgba(164, 164, 164, 1);
@color_list_editfield_text:		rgba(70, 70, 70, 1);
@color_list_editfield_text_cursor:	rgba(0, 140, 210, 1);
@color_list_multiline_text:		rgba(149, 149, 149, 1);
@color_list_3line_main_text:		rgba(249, 249, 249, 1);
@color_list_3line_main_text_read:	rgba(249, 249, 249, 1);
@color_list_3line_main_text_focus:	rgba(249, 249, 249, 1);
@color_list_3line_main_text2:		rgba(104, 137, 152, 1);
@color_list_3line_main_text2_focus:	rgba(249, 249, 249, 1);
@color_list_converter_style:		rgba(249, 249, 249, 1);
@color_list_converter_style_focus:	rgba(249, 249, 249, 1);
@color_list_unread_email:		rgba(249, 249, 249, 1);
@color_list_contents_text:		rgba(210, 210, 210, 1);
@color_list_name_text:			rgba(129, 129, 129, 1);
@color_list_name_text_dim:		rgba(0, 140, 210, 1);
@color_list_colorbar:			rgba(80, 107, 207, 1); //Temp, not defined

	// NOTE: vars below have 'length' unit instead of color values. Check it!
@color_list_list_main_text:		1.375rem;	/* 44 px */
@color_list_list_sub_text:		1.0rem;		/* 32 px */
@color_list_flexible_text_main:		1.5rem;		/* 48 px */
@color_list_flexible_text_sub:		1.125rem;	/* 36 px */
@color_list_index_list:			1.0rem;		/* 32 px */
@color_list_editfield_text:		1.375rem;	/* 44 px */
@color_list_multiline_text:		1.0rem;		/* 32 px */
@color_list_3line_main_text:		1.3125rem;	/* 42 px */
@color_list_3line_main_text2:		1.125rem;	/* 36 px */
@color_list_converter_style:		1.3rem;		/* 40 px */
@color_list_unread_email:		1.375rem;	/* 44 px */
@color_list_contents_text:		0.94rem;	/* 30 px */
@color_list_name_text:			1.0rem;		/* 32 px */

// Button
@color_button_normal:#3b3b3b;	
@color_button_press:	#008cd2;
@color_button_hover: #4b4b4b;
@color_button_text_normal:	#F9F9F9;	// NOTE: Not used
@color_button_text_press: 	#F9F9F9;	// NOTE: Not used
@color_button_EditText:			rgb(207, 37, 37);
@color_button_EditTextPress:	rgb(249, 249, 249);
@color_button_EditBG:			rgb(255, 255, 255);
@color_button_EditBGPress:		rgb(217, 147, 26);
.LESSbutton_text1_style{
	font-family: @font_family;
	font-weight: normal;
	font-size: 1.0rem;
	font-style:normal;
	color: @color_button_text_normal;
	&:hover {color: @color_button_text_press;}
}


/******************************
  Global LESS mixin collection
 ******************************/

// Mixin : background ************************
.LESSbackground-img-with-gradient(@from: top, @startcolor: #3c3c3c, @endcolor: #111) {
	background-image: -webkit-gradient(linear, left top, left bottom, from(@startcolor), to(@endcolor)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(@from, @startcolor, @endcolor);
	background-image:    -moz-linear-gradient(@from, @startcolor, @endcolor);
	background-image:     -ms-linear-gradient(@from, @startcolor, @endcolor);
	background-image:      -o-linear-gradient(@from, @startcolor, @endcolor);
	background-image:         linear-gradient(@from, @startcolor, @endcolor);
}
.LESSbackground-size(@width, @height) {
	-moz-background-size: @width @height;
	-o-background-size: @width @height;
	-webkit-background-size: @width @height;
	background-size: @width @height;
}

// Mixin : border ***************************
.LESSborder-image(@url:url, @width:width, @height:height, @repeat:repeat) {
    -moz-border-image:  url(@url) @width @height @repeat;
    -webkit-border-image: url(@url) @width @height @repeat;
    -o-border-image: url(@url) @width @height @repeat;
    border-image: url(@url) @width @height @repeat;
}
.LESSborder-radius-topleft(@radius) {
	-moz-border-radius-topleft: 		@radius; 
	-webkit-border-top-left-radius: 	@radius;
	border-top-left-radius: 			@radius;
}
.LESSborder-radius-topright(@radius) {
	-moz-border-radius-topright: 		@radius; 
	-webkit-border-top-right-radius: 	@radius;
	border-top-right-radius: 			@radius;
}
.LESSborder-radius-bottomleft(@radius) {
	-moz-border-radius-bottomleft: 		@radius; 
	-webkit-border-bottom-left-radius: 	@radius;
	border-bottom-left-radius: 			@radius;
}
.LESSborder-radius-bottomright(@radius) {
	-moz-border-radius-bottomright: 		@radius; 
	-webkit-border-bottom-right-radius: 	@radius;
	border-bottom-right-radius: 			@radius;
}
.LESSborder-radius-all(@radius) {
	-moz-border-radius: 		@radius; 
	-webkit-border-radius: 	@radius;
	bordert-radius: 			@radius;
}

// Mixin : box ***************************
.LESSbox-shadow(@hshadow, @vshadow, @blur, @color) {
	-moz-box-shadow: @hshadow @vshadow @blur @color;
	-webkit-box-shadow: @hshadow @vshadow @blur @color;
	box-shadow: @hshadow @vshadow @blur @color;
}
.LESSdisplaybox() {
	display:-moz-box;
	display:-webkit-box;
	display:box;
}
//position: vertical, horizental
.LESSbox-orient(@position) {
	-moz-box-orient: @position;
	-webkit-box-orient: @position;
	box-orient: @position;
}

//position: start, center, end
.LESSbox-pack(@position) {
	-moz-box-pack: @position;
	-webkit-box-pack: @position;
	box-pack: @position;
}

//position: start, center, end
.LESSbox-align(@position) {
	-moz-box-align: @position;
	-webkit-box-align: @position;
	box-align: @position;
}	

// Mixin : Utility ************************************
//CAUTION!!! - you MUST call this function inside of your winset structure. 
//DO NOT CALL GLOBALLY!!
.LESSclear-btn-basic-setting() {
	.ui-btn-corner-all {
		.LESSborder-radius-all(0);
	}
	.ui-btn-inner {
		border-top: 0;
	}
	.ui-btn-up-s {
		border: 0;
		background: transparent;
		font-weight: normal;
	}
	.ui-btn-hover-s {
		border: 0;
		background: transparent;
		font-weight: normal;
	}
	.ui-btn-down-s {
		border: 0;
		background: transparent;
		font-weight: normal;
	}
}

// Mixin : transform
.LESStransform(@method) {
    transform: @method;
    -ms-transform: @method;
    -moz-transform: @method;
    -webkit-transform: @method;
    -o-transform: @method;
}

