@colortitle-vpadding: 1px;

.ui-colortitle {
  padding-top:    @colortitle-vpadding;
  padding-bottom: @colortitle-vpadding;
  h1 {
    display: table;
    margin:  auto;
    color: #54a12d;
	height: 7em;
  }
}
