Source: web-ui-fw
Section: devel
Priority: extra
Maintainer: Youmin Ha <youmin.ha@samsung.com>, Koeun choi <koeun.choi@samsung.com>
Uploaders:
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 0.1.0

Package: libweb-ui-fw
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tizen web framework javascript libraries

Package: libweb-ui-fw-themes
Architecture: all
Depends: libweb-ui-fw (= ${Source-Version}), libweb-ui-fw-theme-tizen-gray
Description: Metapackage for web-ui-framework themes

Package: libweb-ui-fw-theme-tizen-gray
Architecture: all
Depends: libweb-ui-fw (= ${Source-Version})
Description: Tizen gray theme for web-ui-framework

Package: libweb-ui-fw-dev
Architecture: all
Depends: libweb-ui-fw (= ${Source-Version})
Description: Dev package for libweb-ui-fw
XB-Generate-Docs: yes
