/*
temp
*/
@color_list_editfield_outline : #404040;
@color_list_editfield_bg : rgb(49, 63, 102);
@color_list_editfield_selected_outline : #2F5EC2;
@color_list_main_text_normal : rgb(250,250,250);
@color_list_main_text_selected : rgb(250,250,250);
@color_list_main_text_press : rgb(59, 115, 182);
@color_dialogue_border : rgba(64, 64, 64, 1);
@color_list_bubble_receive_text : rgb(8, 8, 8);
@color_popup_button_divider : rgba(81, 107, 143, 1);
/***************************************************************************
                  Body
***************************************************************************/
@color_bg: rgb(8, 8, 8);					/* B011 : Main Background color */
@color_text: rgb(250, 250, 250);				/* B012 : Main font color */

/***************************************************************************
                   Naviframe
***************************************************************************/
@color_bar_title_text : rgba(250, 250, 250, 1);			/* B042 : title text */
@color_bar_title_multiline_text: rgba(250, 250, 250, 1);
@color_bar_title_sub_text: rgba(250, 250, 250, 1);
@color_bar_title_landscape_multiline_text: rgba(250, 250, 250, 1);
@color_bar_title_landscape_sub_text: rgba(250, 250, 250, 1);
@color_bar_title_button_text : rgba(250, 250, 250, 1);	/* B052L4 : Title text button */
@color_bar_title_button_text_press : rgba(250, 250, 250, 1);	/* B052L5 : Title text button press */
@color_bar_title_shadow : rgba(8, 8, 8, 0.75);
@color_bar_btn_normal : rgba(244, 244, 244, 1);		/* B052L1 : Font&Icon (normal) */
@color_bar_btn_press : rgba(244, 244, 244, 1);			/* B052L1P : Title text button press bg */
@color_bar_divider_line : rgba(131, 140, 163, 1);		/* 00_divider_line.9.png */
@color_bar_naviframe_bg : rgba(59, 86, 134, 1);
@color_bar_naviframe_press : rgba(95, 159, 232, 1);
@color_bar_tabbar_bg : rgba(59, 86, 134, 1);
@color_bar_toolbar_bg : rgba(49, 84, 124, 1);			/* B0515L1: Toolbar bg */
@color_bar_toolbar_press : rgba(95, 160, 233, 1);
@color_bar_title_button_bg : rgba(34, 44, 71, 1);
@color_bar_toolbar_button_text : rgba(250, 250, 250, 1);	/* B052L4 : Toolbar button normal */
@color_bar_toolbar_button_text_press : rgba(250, 250, 250, 1);	/* B052L4P : Toolbar button pressed */
@color_bar_toolbar_divider : rgba(107, 112, 126, 1);	/* B0221L3: footer divider */
@color_bar_navbar_press : rgba(42, 57, 172, 1);		/* B0511P : Navigation bar bg press */
@color_bar_body_border : rgba(42, 42, 42, 1);
@color_bar_navbar_press : rgba(22, 39, 88, 1);		/* B0511P : Navigation bar bg press */

/***************************************************************************
                   Tabbar
***************************************************************************/
@color_tabbar_bg : rgba(59, 86, 134, 1);
@color_tabbar_press : rgba(22, 39, 88, 1);
@color_tabbar_divider : rgba(49, 70, 109, 1);
@color_tabbar_text_normal : rgba(250, 250, 250, 1);
@color_tabbar_title_bg : rgba( 51, 75, 119, 1 );		  /* B0516 : Tabbar button bg with title */
@color_tabbar_title_bg_press : rgba( 22, 39, 88, 1 );		  /* B0516P : Tabbar button pressed bg with title */
@color_tabbar_bg_line : rgba( 49, 70, 109, 1 );                  /* B0512 : Tabbar BG line */
@color_tabbar_select_bar : rgba( 250, 250, 250, 1 );		  /* B0514P3 : Tabbar select bar */
@color_tabbar_btn_normal : rgba(244, 244, 244, 1);		/* B052L6 : Tabbar button normal */
@color_tabbar_btn_press : rgba(95, 159, 232, 1);		/* B0514P1 : Tabbar button pressed */
@color_tabbar_btn_bg_normal : rgba(59, 86, 134, 1);	/* B0514 */
@color_tabbar_btn_bg_press : rgba(95, 159, 232, 1);	/* B0514P1 */
@color_tabbar_btn_selected : rgba(244, 244, 244, 1);
@color_tabbar_text_selected : rgba(244, 244, 244, 1);		/* T111 : Tabbar text selected */


/***************************************************************************
                   List
***************************************************************************/
@color_list_editfield_bg: rgb(8, 8, 8, 1);
@color_list_bg:	rgba(8, 8, 8, 1);								/* B0211 */
@color_list_press : rgba(33, 49, 99, 1);	/* B041	*/
@color_list_border_bottom: rgba(64, 64, 64, 1);	/* B0223 */
@color_list_main_text_focus: rgba(250, 250, 250, 1);
@color_list_main_text_unfocus: rgba(250, 250, 250, 1);
@color_list_sub_text_normal: rgba(110, 111, 118, 1);

@color_list_divider_expand_div : rgba(8, 8, 8, 0.5);
@color_list_divider_bg : rgba(8, 8, 8, 1);				/* W021L1 */
@color_list_divider : rgba(8, 8, 8, 1);				/* W021L1 */
@color_list_divider_line : rgba(66, 87, 144, 1);			/* W021L2 */
@color_list_divider_text : rgba(66, 87, 144, 1);
@color_list_divider_bg_press : rgba(43, 58, 175, 1);
@color_list_divider_text_press : rgba(250, 250, 250, 1);

@color_list_swipe_text: rgba(244, 244, 244, 1);			/* T023 : Swipe text */
@color_list_swipe_text_press: rgba(244, 244, 244, 1);	/* T023P : Swipe text pressed */
@color_list_swipe_bg: rgba(95, 159, 232, 1);			/* B041P : Swipe BG */
@color_list_swipe_left_bg: rgba(91, 165, 0, 1);		/* B0232 : Swipe left BG */
@color_list_swipe_right_bg: rgba(252, 168, 0, 1);	/* B0233 : Swipe right BG */


@color_list_dialogue_bg : rgba(17, 19, 27, 1);
@color_dialogue_border_right: rgba(98, 105, 127, 0.3);
@color_dialogue_divider_bg : rgba(8, 8, 8, 1);
@color_dialogue_border : rgba(64, 64, 64, 1);

@color_list_expanded_bg : rgba(220, 218, 211, 1);

@color_checklist_btn_bg : rgba(8, 8, 8, 1);

@color_list_editfield : rgba(32, 36, 50, 1);				/* F011L1 */
@color_list_editfield_outline : #404040;
@color_list_editfield_selected_outline : #2F5EC2;
@color_list_editfield_text: rgba(250, 250, 250, 1);
@color_list_editfield_placeholder_text: rgba(160, 160, 160, 1);
@color_list_editfield_disabled_text: rgba(104, 104, 104, 1);

@color_list_main_text_normal : rgb(250,250,250);
@color_list_main_text_selected : rgb(250,250,250);
@color_list_main_text_press : rgb(59, 115, 182);

@color_list_bubble_sent_text : rgba(8, 8, 8, 1);
@color_list_bubble_receive_text : rgba(8, 8, 8, 1);
@color_list_bubble_text:	rgb(8, 8, 8);				/* W051 */
@color_list_bubble_sos_text:	rgb(209, 0, 0);				/* F011L15 */
@color_list_bubble_date_text:	rgb(104, 104, 104);		/* F011L18 */
@color_list_bubble_receive_bg: rgb(168, 206, 245);
@color_list_bubble_sent_bg: rgb(190, 190, 190);
@color_list_bubble_date_bg:		rgba(225, 225, 225, 0);
@color_list_bubble_time_sent_text:	rgb(110, 111, 118);	/* F011L16 */
@color_list_bubble_time_receive_text:	rgb(110, 111, 118);	/* F011L17 */
@color_list_bubble_time_sos_text:	rgb(209, 0, 0);		/* F011L15 */
@color_list_bubble_name_text:	rgb(110, 111, 118);
@color_list_bubble_help_text:	rgb(110, 111, 118);
@color_list_bubble_link_text:	rgb(34, 129, 157);

@list-smallicon-size: 22 * @unit_base;
@list-li-padding-horizontal: 8 * @unit_base;

@list-bigicon-size2: 72 * @unit_base;

/***************************************************************************
                   Fast Scroll
***************************************************************************/
@color_fastscroll_rollover_bg: rgba(33, 36, 40, 1);		/* B0723 : 00_fast_scroll_rollover_bg.9.png */
@color_fastscroll_rollover_down_border: rgba(79, 102, 167, 1);
@color_fastscroll_rollover_text: rgba(160, 159, 154, 1);	/* B0721 : Rollover text */
@color_fastscroll_rollover_text_press: rgba(93, 131, 255, 1);
@color_fastscroll_rollover_left_border: rgba(64, 64, 64, 1);
@color_fastscroll_popup_bg: rgba(43, 58, 175, 1);		/* B0731 : 00_fast_scroll_popup_bg.png */
@color_fastscroll_popup_text: rgba(255, 255, 255, 1);		/* B0732 : Scroll popup text */
@color_fastscroll_popup_border: rgba(19, 26, 79, 1);
@color_fastscroll_default_border: rgba(64, 64, 64, 1);


/***************************************************************************
                   SearchBar(forms.textinput)
***************************************************************************/
@color_searchbar_bg : rgba(28, 40, 68, 1);		/* B0215 : Search BG */
@color_searchbar_text : rgba(93, 97, 118, 1);		/* T1061 : Search field default text */
@color_searchbar_typing_text : rgba(244, 244, 244, 1);	/* T1063 : Search field typing text */
@color_searchbar_search_icon : rgba(244, 244, 244, 1);	/* F041i : Search field search icon */
@color_searchbar_clear_icon : rgba(244, 244, 244, 1);	/* F042i : Search field clear icon */
@color_searchbar_clear_icon_press : rgba(244, 244, 244, 1);		/* F042iP : Search field clear icon pressed */
@color_searchbar_input_field_bg : rgba(8, 8, 8, 1);
@color_searchbar_border : rgba(29, 38, 60, 1);
@color_searchbar_border_focus : rgba(244, 244, 244, 1);
@color_searchbar_divider : rgba(59, 69, 98, 1);
@color_searchbar_button_shadow0 : rgba(122, 125, 134, 1);
@color_searchbar_button_shadow1 : rgba(34, 34, 34, 1);

/***************************************************************************
                   Popup
***************************************************************************/
@color_popup_text_bg: rgba(42, 45, 48, 1);	/* B061L1 : Popop info */
@color_border_popup: rgba(98, 105, 127, 1);


/***************************************************************************
                        Button(connected with other winset)
***************************************************************************/
@color_button_text_black:	rgb(186, 186, 186);
@color_button_text_shadow:	0px 1px rgb(17, 18, 20);

@color_button_EditText:         rgb(249, 249, 249);
@color_button_EditTextPress:    rgb(61, 61, 61);

@color_button_text_normal:      rgb(250, 250, 250);
@color_button_text_press:       rgb(255, 255, 255);
@color_button_text_white:       rgb(249, 249, 249);

@color_button_icon: rgb(244, 244, 244);			/* F031L1 : Button icon */
@color_button_icon_press: rgb(244, 244, 244);		/* F031L1P : Button icon pressed */
@color_button_icon_nobg: rgb(160, 160, 160);			/* F032L1 : Button icon no background */
@color_button_icon_nobg_press: rgb(244, 244, 244);	/* F032L1P : Button icon no background pressed */

@color_button_bg:           rgb(68, 70, 78);
@color_button_bg_press:		rgb(39, 54, 164);
@color_button_bg_webkit:    -webkit-linear-gradient(top, rgb(53, 57, 61), rgb(45, 48, 51));
@color_button_bg_moz:       -moz-linear-gradient(top, rgb(53, 57, 61), rgb(45, 48, 51));
@color_button_bg_o:         -o-linear-gradient(top, rgb(53, 57, 61), rgb(45, 48, 51));
@color_button_bg_ms:        -ms-linear-gradient(top, rgb(53, 57, 61), rgb(45, 48, 51));

@color_button_add: rgb(116, 211, 0);			/* F032L21 : Add Button */
@color_button_add_press: rgb(244, 244, 244);	/* F032L2P : Add Button pressed */
@color_button_warning: rgb(219, 0, 0);			/* F032L21 : Warning Button */
@color_button_warning_press: rgb(244, 244, 244);		/* F032L21P : Warning Button pressed */

@color_button_inner:            rgb(60, 64, 68);
@color_button_inner_webkit:     -webkit-linear-gradient(top, rgb(75, 77, 86), rgb(63, 65, 72));
@color_button_inner_moz:        -moz-linear-gradient(top, rgb(75, 77, 86), rgb(63, 65, 72));
@color_button_inner_o:          -o-linear-gradient(top, rgb(75, 77, 86), rgb(63, 65, 72));
@color_button_inner_ms:         -ms-linear-gradient(top, rgb(75, 77, 86), rgb(63, 65, 72));

@button_border_color:		rgba( 133, 131, 126, 1);
@button_shadow_outer:		1px 1px 2px rgba(19, 20, 23, 1);
@button_shadow_inner:		inset 0px 1px 1px rgba(122, 125, 134, 1);
@button_shadow_warning_inner:	inset 0px 1px 1px rgba(255, 255, 255, 1);

@button_press_shadow_inner:		inset 0px 1px 1px rgba(22, 29, 95, 1);

@color_button_edit:		rgb(201, 88, 88);
@color_button_edit_webkit:	-webkit-gradient(linear, left top, left bottom, from(rgb(201, 88, 88)), to(rgb(161, 40, 40)));
@color_button_edit_moz:		-moz_linear-gradient(top, rgb(201, 88, 88), rgb(161, 40, 40));
@color_button_inner_border:	rgba(8, 8, 8, 1);

.LESSbutton_up_style{
        background: @color_button_bg;
        background: @color_button_bg_webkit;
        background: @color_button_bg_moz;
        background: @color_button_bg_o;
        background: @color_button_bg_ms;
}

.LESSbutton_box_style{
	background: @color_button_bg;
	background: @color_button_bg_webkit;
	background: @color_button_bg_moz;
	background: @color_button_bg_o;
	background: @color_button_bg_ms;
	border: 1px solid;
	border-color: rgba(42, 44, 47, 1);
	.LESSbox-shadow-line( @button_shadow_outer );
}
.LESSbutton_inner_box_style{
	background: @color_button_inner;
	background: @color_button_inner_webkit;
	background: @color_button_inner_ms;
	background: @color_button_inner_o;
	background: @color_button_inner_moz;
	.LESSbox-shadow-line( @button_shadow_inner );
}
.LESSbutton_inner_pressstyle{
        color: @color_button_text_press;
}

.LESSbutton_text1_style{
        font-family: @font_family;
        font-weight: normal;
        font-size: 1.0rem;
        font-style:normal;
        color: @color_button_text_black;
}

.LESSbutton_hover_style{
        color: @color_button_text_normal;
}

.LESSbutton_down_style{
/*        background: @color_button_bg_press;*/
        color: @color_button_text_press;
}

.LESSbutton_edit_style{
	background: @color_button_edit;
	background: @color_button_edit_webkit;
	background: @color_button_edit_moz;
}

/***************************************************************************
                        contextual popup
***************************************************************************/
@color_ctxpopup_text:                   rgb(255, 255, 255);
@color_ctxpopup_background:             rgb(29, 38, 60);
@color_ctxpopup_background_border:      rgb(98, 102, 117);
@color_ctxpopup_border_left:            rgb(98, 102, 117);
@color_ctxpopup_border_right:           rgb(98, 102, 117);
@color_ctxpopup_border_top:             rgb(98, 102, 117);
@color_ctxpopup_border_bottom:          rgb(29, 38, 60);

@color_ctxbutton_press:            rgb(43, 58, 175);		/* B044 */

@color_ctxpopup_timepicker_text:        rgba( 255, 255, 255, 0.7 );
@color_ctxpopup_timepicker_text_focus:  rgba( 255, 255, 255, 1 );

@color_ctxpopup_scrollbar_bg :		rgba(71, 72, 74, 1);
@color_ctxpopup_scrollbar_border :	rgba(8, 8, 8, 1);

/***************************************************************************
                   Scrollview
***************************************************************************/
@color_scrollbar: 		rgb(57, 59, 65);
@color_scrollview_indicator_start:	rgb(186,186,186);
@color_scrollview_indicator_end:	rgb(32,35,39);
@color_scrollbar_thumb_shadow:		rgba(8, 8, 8, 50);

/***************************************************************************
                   Date Time picker
***************************************************************************/
@color_timepicker_selector_color:	rgb(37, 50, 150);
@color_timepicker_divider_color1:	rgb(39, 40, 43);		/* B0224 : Dialogue group List Line */
@color_timepicker_divider_color2:	rgb(64, 64, 64);		/* B0222 : Line divider */

/***************************************************************************
                   SegmentControl
***************************************************************************/
@color_segmentcontrol_Seg_text : rgba(199, 199, 199, 1);	/* B052L4 : Title text button */
@color_segmentcontrol_Seg_text_pressed : rgb(59,119,150);

/***************************************************************************
                   Popup
***************************************************************************/
@color_popup_bg:		rgba(29, 38, 60, 1);
@color_popup_dim:		rgb(8, 8, 8);
@color_popup_center_progressbar_title:	rgba(153, 153, 153, 1);
@color_popup_title_bg:		rgba(73, 87, 123, 1);	/* popup_title_bg.png */
@color_popup_title_text:	rgba(250, 250, 250, 1);	/* B063L9 : Basic Style_title */

@color_popup_button_bg:		rgba(150, 154, 156, 1);
@color_popup_text: rgba(248, 246, 239, 1); /* maybe not use only popupwindow*/
@color_popup_list_style_bg_press: rbga(33, 49, 99, 1);
@color_popup_list_style_text: rgba(250, 250, 250, 1);
@color_popup_list_style_text_press: rgba(250, 250, 250, 1);

@color_popup_buttonbg:		rgb(58, 88, 129);
@color_popup_buttontext:	rgb(8, 8, 8);
@color_popup_buttonbg_over:	rgb(94, 136, 163);
@color_popup_button_border:     rgb(125, 126, 130);

@color_popup_buttonbg_press:	rgb(49, 99, 155);

@color_popup_scroller_bg:	rgba(8, 8, 8, 1);

.LESSpopup_button_style{
	background: @color_popup_buttonbg;
	color: rgb(250, 250, 250);
}

.LESSpopup_button_hover_style{
	background: @color_popup_buttonbg_over;
}

.LESSpopup_button_press_style{
	background: @color_popup_buttonbg_press;
	color: rgb(250, 250, 250);
}

.LESSpopup_padding_style{
}

/***************************************************************************
                    Tickernoti
***************************************************************************/
@color_ticker_bg:			rgb(34, 34, 34);			/* B061L5 */
@color_ticker_text1:			rgb(250, 250, 250);
@color_ticker_text2:			rgb(255, 255, 255);

/***************************************************************************
                    Smallpopup
***************************************************************************/
@color_smallpopup_bg:			rgba(43, 58, 175, 1);
@color_smallpopup_text:			rgb(250, 250, 250);

/***************************************************************************
                    Slider
***************************************************************************/
@color_slider_handle_text: rgb(250, 250, 250);
@color_slider_handle_text_press: rgb(250, 250, 250);
@color_slider_popup_text: rgb(76, 81, 88);
@color_slider_popup_bg: rgb(238, 238, 238);
@color_slider_left_text: rgb(186, 186, 186);
@color_slider_right_text: rgb(186, 186, 186);
@color_slider_num_text: rgb(186, 186, 186);
@color_slider_text: rgb(186, 186, 186);
@color_slider_label_text: rgb(255, 255, 255);
@color_slider_center: rgb(128, 128, 128);
@color_slider_handle_bg: rgb(128, 128, 128);
@color_slider_handle_press_bg: rgb(76, 81, 88);
@color_slider_img_bg: rgb(245, 245, 245);		/* F011L1: Slider left image bg */

/***************************************************************************
                    Toggle
***************************************************************************/
@color_toggle_bg: rgb(11, 14, 22);				/* W012L1 : Toggleswitch background */
@color_toggle_outline: rgb(57, 59, 65);		/* W012L2 : Toggleswitch outline */
@color_toggle_handle_on_bg: rgb(107, 196, 0);			/* W012L3 : Toggleswitch handle on background */
@color_toggle_handle_on_icon: rgb(214, 255, 158);	/* W012L3i : Toggleswitch handle on icon */
@color_toggle_handle_off_bg: rgb(86, 94, 114);		/* W012L4 : Toggleswitch handle off background */
@color_toggle_handle_off_icon: rgb(184, 195, 224);	/* W012L4i : Toggleswitch handle off icon */

/***************************************************************************
                    Progress
***************************************************************************/
@color_progress_bg : rgb(49, 63, 102);
@color_progress_bar:				rgb(51, 67, 83);
@color_progress_value:			rgb(65, 91, 254);
@color_progress_shadow:			rgb(116, 113, 127);
@color_progress_value_shadow0:	rgb(38, 53, 146);
@color_progress_value_shadow1:	rgb(98, 127, 203);
@color_progress_shadow0:			rgb(49, 49, 56);
@color_progress_shadow1:			rgb(116, 113, 127);


/***************************************************************************
                   Handler
***************************************************************************/
@color_scrollview_handler_bg : rgb(70, 74, 84);
@color_scrollview_handler_shadow : rgb(8, 8, 8, 0.4);


/***************************************************************************
                   tokentextarea
***************************************************************************/
@color_tokentextarea_bg : rgb(29, 38, 60);
@color_tokentextarea_block_text : rgb(250, 250, 250);	/* Contact button text */
@color_tokentextarea_block_bg : rgb(82, 87, 103);    /* W0711 : Contact button bg normal */
@color_tokentextarea_press_bg : rgb(43, 58, 175);     /* W0713 : Contact button bg press */
@color_tokentextarea_block_border : rgb(108, 116, 131);
@color_tokentextarea_press_border : rgb(89, 94, 106);
@color_tokentextarea_input_text : rgb(250, 250, 250);
@color_tokentextarea_label_text : rgb(250, 250, 250);	/* Text Contact style */

/***************************************************************************
                   Splitview
***************************************************************************/
@color_splitview_spliter_bar : rgb(52, 55, 57);			/* W131 */
@color_splitview_spliter_bar_active : rgb(43, 58, 175);		/* W132 */
@color_splitview_spliter_border : rgb(70, 73, 78);

/***************************************************************************
                  Checkbox / Radio
****************************************************************************/
@color_checkboxradio_bg_line: rgb(190, 190, 190);
@color_checkboxradio_bg_press_line: rgb(135, 206, 235);
@color_checkboxradio_bg: rgb(8, 8, 8);
@color_checkboxradio_bg_press: rgb(8, 8, 8);
@color_checkboxradio_btn_bg: rgb(116, 212, 0);			/* W013L3 : checkbox activated normal */
@color_checkboxradio_btn_press: rgb(116, 212, 0);;		/* W013L3P : checkbox activated pressed */
@color_checkboxradio_checkbox_bg_line: rgb(85, 97, 144);		/* W014L2 : checkbox bg line */
@color_checkboxradio_radio_bg_line: rgb(85, 97, 144);		/* W014L2 : radio bg line */
@color_checkboxradio_radio_bg_press_line: rgb(157, 229, 255);	/* W014L2P : radio bg line pressed */
@color_checkboxradio_radio_btn_bg: rgb(116, 212, 0);		/* W014L3 : radio activated normal */
@color_checkboxradio_radio_btn_press: rgb(116, 212, 0);	/* W014L3P : radio activated pressed */
@color_checkboxradio_favorite_off : rgb(107, 109, 118);		/* F022L1i : favorite off */
@color_checkboxradio_favorite_on : rgb(249, 166, 0);		/* F022L2i : favorite on */
@color_checkboxradio_favorite_press : rgb(245, 245, 245);	/* F022L2iP : favorite pressed */
