/***************************************************************************
                  Body
***************************************************************************/
@color_bg: B011;				/* B011 : Background BG */
@color_text: T011;				/* T011 : Default font_r */

/***************************************************************************
                   Naviframe
***************************************************************************/
@color_bar_naviframe_bg : B0511;		/* B0511 : Naviframe BG */
@color_bar_naviframe_press : B0511P;		/* B0511P :  Naviframe Press */
@color_bar_naviframe_line : B0512;		/* B0512 : Naviframe line */
@color_bar_title_text : T020;			/* T020 : Naviframe Title Text */
@color_bar_title_multiline_text: T0201;		/* T0201 : Naviframe Title Multiline Text */
@color_bar_title_sub_text: T0202;		/* T0202 : Naviframe Title Sub Text */
@color_bar_title_landscape_multiline_text: T0203;		/*T0203 : Naviframe Title landscape multiline text */
@color_bar_title_landscape_sub_text: T0204;		/*T0204 : Naviframe Title landscape sub text */
@color_bar_title_button_text : T0205;		/* T0205 : Title_button_text Text(normal) */
@color_bar_title_button_text_press : T0205P;	/* T0205P : Title_button_text Text(pressed) */
@color_bar_title_button_text_select : T0205S;	/* T0205S : Title_button_text Text(selected) */
@color_bar_btn_normal : B052L1;			/* B052L1 : Font&Icon (normal) */
@color_bar_btn_press : B052L1P;			/* B052L1P : Font&Icon (select, pressed) */
@color_bar_divider_line : B0551;		/* B0551 : Line (Title line) */

/***************************************************************************
		   Toolbar
***************************************************************************/
@color_bar_toolbar_bg : B0515;			/* B0515 : Toolbar BG normal */
@color_bar_toolbar_press : B0515P;		/* B0515P : Toolbar BG pressed */
@color_bar_toolbar_button : B052L4;		/* B052L4 : Toolbar button normal */
@color_bar_toolbar_button_press : B052L4P;	/* B052L4P : Toolbar button pressed */
@color_bar_toolbar_button_text : T022;		/* T022 : Toolbar_button_text_normal */
@color_bar_toolbar_button_text_press : T022P;	/* T022P : Toolbar_button_text_pressed */
@color_bar_toolbar_button_text_selected : T022S;/* T022S : Toolbar_button_text_selected	*/
@color_bar_toolbar_divider : B0552;		/* B0552 : Line (Toolbar line) */

/***************************************************************************
                   Tabbar
***************************************************************************/
@color_tabbar_bg : B0514;			/* B0514 : Tabbar BG normal */
@color_tabbar_press : B0514P1; 			/* B0514P1 : Tabbar BG pressed */
@color_tabbar_divider : B0514L1;		/* B0514L1 : Tabbar divider */
@color_tabbar_bg_line : B0512;			/* B0512 : Tabbar BG line */
@color_tabbar_select_bar : B0514P2;		/* B0514P2 : Tabbar select bar */
@color_tabbar_title_bg : B0516;			/* B0516P : Tabbar with title BG normal */
@color_tabbar_title_bg_press : B0516P;		/* B0516P : Tabbar with title BG pressed */
@color_tabbar_btn_normal : B052L6;		/* B052L6 : Tabbar button normal */
@color_tabbar_btn_press : B052L6P2;		/* B052L6P2 : Tabbar button pressed */
@color_tabbar_btn_dim : B052L6D;		/* B052L6D : Tabbar button dim */
@color_tabbar_btn_selected : B052L6P1;		/* B052L6P1 : Tabbar button selected */
@color_tabbar_btn_bg_normal : B0514;		/* B0514 : Tabbar button bg normal */
@color_tabbar_btn_bg_press : B0514P1;		/* B0514P1 : Tabbar button bg pressed */
@color_tabbar_text_normal : T111;		/* T111 : Tabbar text normal */
@color_tabbar_text_press : T111P;		/* T111 : Tabbar text pressed */
@color_tabbar_text_dim : T111D;		/* T111 : Tabbar text dim */
@color_tabbar_text_selected : T111S;		/* T111 : Tabbar text selected */

/***************************************************************************
                   List
***************************************************************************/
@color_list_bg: B011;				/* B011 : BG*/
@color_list_press : B041P;			/* B041P : BG pressed */
@color_list_focus : W161;			/* W161 : focus effect */
@color_list_border_bottom: B0223;		/* B0223 : list border bottom*/
@color_list_main_text_normal: T023;		/* T023 : list main text normal */
@color_list_main_text_press : T023P;		/* T023P : list main text pressed */
@color_list_main_text_selected : T023S;		/* T023S : list main text selected */
@color_list_main_text_dim : T023D;		/* T023D : list main text dim */

@color_list_sub_text_normal: T024;		/* T024 : list sub text normal */
@color_list_sub_text_press : T024P;		/* T024P : list sub text pressed */
@color_list_sub_text_selected : T024S;	/* T024S : list sub text selected */
@color_list_sub_text_dim : T024D;		/* T024D : list sub text dim */
@color_list_divider : B0221L2;		/* B0221L2 : list divider */
@color_list_divider_text : T027;		/* T027 : list divider text */
@color_list_divider_line : W021L2;		/* W021L2 : list divider line */
@color_list_divider_bg_press : W021L1P;	/* W021L1P : list divider bg pressed */
@color_list_divider_text_press : T027P;	/* T027P : list text pressed */

@color_list_swipe_text: T023;			/* T023 : Swipe text */
@color_list_swipe_text_press: T023P;	/* T023P : Swipe text pressed */
@color_list_swipe_bg: B041P;			/* B041P : Swipe BG */
@color_list_swipe_left_bg: B0232;		/* B0232 : Swipe left BG */
@color_list_swipe_right_bg: B0233;		/* B0233 : Swipe right BG */

@color_list_editfield_bg : F054;		/* F054 : list editfield BG */
@color_list_editfield_outline : F055;		/* F055 : list editfield outline */
@color_list_editfield_selected_bg : F056;	/* F056 : list editfield selected BG */
@color_list_editfield_selected_outline : F057;	/* F057 : list editfield selected outline */
@color_list_editfield_disabled_bg : F058;	/* F058 : list editfield disabled BG */
@color_list_editfield_disabled_outline : F059;  /* F059 : list editfield disabled outline */
@color_list_editfield_text : T1011;		/* T1011 : list editfield text done */
@color_list_editfield_placeholder_text: T1012;	/*T1012: list editfield placehol text */
@color_list_editfield_disabled_text: T1013;		/*T1013: list editfield disabled text */
@color_list_editfield : F054;
@color_list_dialogue_bg : B011;			/* B011 : list BG */
@color_dialogue_border : B0223;		/* B0223 : list border bottom*/
@color_dialogue_main_text_press: T023P;	/* T023P : list main text pressed */
@color_dialogue_main_text_selected: T023S;	/* T023S : list main text selected */

@color_dialogue_divider_bg : B0221L2;		/* B0221L2 : list divider */

@color_list_expanded_bg : B011;			/* B011 : list BG */

@color_checklist_btn_bg : B011;			/* B011 : list BG */

@color_list_bubble_receive_bg : W055;	/* W055 : message bubble receive BG */
@color_list_bubble_sent_bg : W054;			/* W054 : message bubble sent BG */
@color_list_bubble_sent_text: T0218;		/* T0218 : message bubble sent text */
@color_list_bubble_receive_text: T0217;		/* T0217 : message bubble receive text */
@color_list_bubble_sos_text: rgb(219, 0, 0); /* SOS color value is fixed */
@color_list_bubble_date_text: T0219;		/* T0219 : message bubble date text */

@color_list_bubble_time_sent_text: T0219;	/* T0219 : message bubble time text */
@color_list_bubble_time_receive_text: T0219;	/* T0219 : message bubble time text */
@color_list_bubble_help_text: T0220;		/* T0220 : message bubble help text */

@list-font-size-main:	22 * @unit_base;
@list-font-size-divider: 16 * @unit_base;	// NOTE: defined in dialogue group

@list-smallicon-size: 22 * @unit_base;
@list-li-padding-horizontal: 8 * @unit_base;

@list-bigicon-size2: 72 * @unit_base;

/***************************************************************************
                   Fast Scroll
***************************************************************************/
@color_fastscroll_rollover_bg: B0722;		/* B0722 : fastscroll rollover BG */
@color_fastscroll_rollover_down_border: B0725;	/* B0725 : fastscroll rollover divider line */
@color_fastscroll_rollover_text: T113;		/* T113 : rollover text */
@color_fastscroll_rollover_text_press: T113P;	/* T113P : rollover text pressed */
@color_fastscroll_rollover_left_border: B0723;	/* B0723 : rollover line 01 */
@color_fastscroll_rollover_left_border_press : B0724; /* B0724 : rollover line 02 */
@color_fastscroll_popup_bg: B0731L1;		/* B0731L1 : fast scroll rollover BG */
@color_fastscroll_popup_text: T114;		/* T114 : Scroll popup text */
@color_fastscroll_popup_border: B0731L2;	/* B0731L2 : fast scroll rollover BG line */

/***************************************************************************
                   SearchBar(forms.textinput)
***************************************************************************/
@color_searchbar_bg : B0215;			/* B0215 : Search BG */
@color_searchbar_bg_press : B0215P;		/* B0215P : Search BG pressed */
@color_searchbar_text : T1061;			/* T1061 : Search field normal */
@color_searchbar_text_press : T106P;		/* T106P : Search field pressed */
@color_searchbar_typing_text : T1063;			/* T1063 : Search field typing text */
@color_searchbar_search_icon : F041i;			/* F041i : Search field search icon */
@color_searchbar_clear_icon : F042i;			/* F042i : Search field clear icon */
@color_searchbar_clear_icon_press : F042iP;	/* F042iP : Search field clear icon pressed */
@color_searchbar_input_field_bg : B011;		/* B011 : list BG */
@color_searchbar_border : B0215;			/* B0215 : Edit done outline */
@color_searchbar_border_focus : F057;		/* F057 : selected outline */

/***************************************************************************
                   Popup
***************************************************************************/
@color_popup_bg: B061L1;			/* B061L1 : Popop BG */

/***************************************************************************
                        Button(connected with other winset)
***************************************************************************/
@color_button_EditText:         T107;		/* T107 : Search field button text normal */
@color_button_EditTextPress:    T107P;		/* T107P : Search field button text pressed */

@color_button_text_normal:      T051;		/* T051 : Button text normal */
@color_button_text_press:       T051P;		/* T051P : Button text pressed */
@color_button_text_select:		T051S;		/* T051S : Button text selected */

@color_button_icon: F031L1;			/* F031L1 : Button icon */
@color_button_icon_press: F031L1P;	/* F031L1P : Button icon press */
@color_button_icon_dim: F031L1D;	/* F031L1D : Button icon dim */
@color_button_icon_nobg: F032L1;			/* F032L1 : Button icon no background */
@color_button_icon_nobg_press: F032L1P;	/* F032L1P : Button icon no background press */
@color_button_icon_nobg_dim: F032L1D;		/* F032L1D : Button icon no background dim */
@color_button_bg: W011;				/* W011 : Button BG normal */
@color_button_bg_press: B042;			/* B042 : Button BG pressed */

@color_button_add: F032L2;			/* F032L21 : Add Button */
@color_button_add_press: F032L2P;	/* F032L2P : Add Button pressed */
@color_button_add_dim: F032L2D;	/* F032L2D : Add Button dim */

@color_button_warning: F032L21;			/* F032L21 : Warning Button */
@color_button_warning_press: F032L21P;		/* F032L21P : Warning Button pressed */
@color_button_warning_dim : F032L21D;		/* F032L21D : Warning Button dim */

@color_button_edit:		W011;		/* Button BG */
.LESSbutton_box_style{
        color: @color_button_text_normal;
}

.LESSbutton_up_style{
        background: @color_button_bg;
}

.LESSbutton_down_style{
        color: @color_button_text_press;
}

.LESSbutton_edit_style{
	background: @color_button_edit;
}

/***************************************************************************
                        contextual popup
***************************************************************************/
@color_ctxpopup_text:		T122;		/* T122 : Popup list text */
@color_ctxpopup_background:	B061L41;	/* B061L41 : Contextual BG */
@color_ctxpopup_background_border:      B061L42;    /* B061L42 : Contextual BG line */
@color_ctxpopup_border_left:	B061L42;	/* B061L42 : Contextual BG line */
@color_ctxpopup_border_right:	B061L42;	/* B061L42 : Contextual BG line */
@color_ctxpopup_border_top:	B061L42;        /* B061L42 : Contextual BG line */
@color_ctxpopup_border_bottom:	B061L42;        /* B061L42 : Contextual BG line */
@color_ctxbutton_press:		B061L41P;	/* B061L41P : Contextual BG pressed */

/***************************************************************************
                   Scrollview
***************************************************************************/
@color_scrollbar: B071;		/* B071 : scrollbar BG */

/***************************************************************************
                   Date Time picker
***************************************************************************/
@color_timepicker_selector_color:	rgb(37, 50, 150);
@color_timepicker_divider_color1:	rgb(39, 40, 43);
@color_timepicker_divider_color2:	rgb(64, 64, 64);
/***************************************************************************
                   SegmentControl
***************************************************************************/
@color_segmentcontrol_Seg_text : rgba(199, 199, 199, 1);
@color_segmentcontrol_Seg_text_pressed : rgb(59,119,150);
/***************************************************************************
                   Popup
***************************************************************************/
@color_popup_bg: B061L1;			/* B061L1 : Popop BG */
@color_popup_title_bg:	B061L2;			/* B061L2 : Popup title BG */
@color_popup_title_text: T121;			/* T121 : Popup title text */
@color_popup_text: T123;			/* T123: Popup Text */
@color_popup_list_style_bg_press: B061L1P;	/* B061L1P: Popup liststyle bg press */
@color_popup_list_style_text: T125;		/* T125: Popup liststyle test */
@color_popup_list_style_text_press: T125P;	/* T125P: Popup liststyle text press */
@color_popup_button_bg:	B065L4;			/* B065L4 : Popup button BG */
@color_popup_button_bg_press : B065L4P;		/* B065L4P : Popup button BG pressed */
@color_popup_button_divider:	B0621L6;			/* B0621L6 : Popup button divider */
@color_popup_button_text:	T124;			/* T124 : Popup button text */

.LESSpopup_button_style{
	background: @color_popup_button_bg;
	color: @color_popup_button_text;
}

.LESSpopup_button_hover_style{
	background: @color_popup_button_bg;
}

.LESSpopup_button_press_style{
	background: @color_popup_button_bg_press;
	color: @color_popup_button_text;
}

/***************************************************************************
                    Tickernoti
***************************************************************************/
@color_ticker_bg: B061L5;			/* B061L5 : Ticker notification BG */
@color_ticker_text1: T094;			/* T094 : Ticker noti text */
@color_ticker_text2: T0941;			/* T0941 : Ticker noti text2 */

/***************************************************************************
                    Smallpopup
***************************************************************************/
@color_smallpopup_bg: B061L5;                /* B061L5 : Ticker notification BG */
@color_smallpopup_text: T093;                /* T093 : Ticker noti text */

/***************************************************************************
                    Slider
***************************************************************************/
@color_slider_handle_text: T057;		/* T057 : Slider text */
@color_slider_handle_text_press: T057P;		/* T057P : Slider text pressed */
@color_slider_popup_text: T115;			/* T115 : Slider popup text */
@color_slider_popup_bg:  W0631;          /* W0631 : Slider popup bg */
@color_slider_left_text: T0215;			/* T0215 : Slider left text */
@color_slider_right_text: T0216;		/* T0216 : Slider right text */
@color_slider_num_text: T0215;			/* T0215 : Slider number text */
@color_slider_text: T0216;		/* T0216 : Slider text */
@color_slider_center: W0651;		/* W0651 : Slider center point bg */
@color_slider_handle_bg: W0641;		/* W0631 : Slider handle bg */
@color_slider_handle_press_bg: W0641P;		/* W0641P : Slider handle press bg */
@color_slider_img_bg: F011L1;		/* F011L1: Slider left image bg */


/***************************************************************************
                    Toggle
***************************************************************************/
@color_toggle_bg: W012L1;				/* W012L1 : Toggleswitch background */
@color_toggle_outline: W012L2;			/* W012L2 : Toggleswitch outline */
@color_toggle_handle_on_bg: W012L3;		/* W012L3 : Toggleswitch handle background */
@color_toggle_handle_on_icon: W012L3i;	/* W012L3i : Toggleswitch handle icon */
@color_toggle_handle_off_bg: W012L4;		/* W012L4 : Toggleswitch handle off background */
@color_toggle_handle_off_icon: W012L4i;	/* W012L4i : Toggleswitch handle off icon */

/***************************************************************************
                    Progress
***************************************************************************/
@color_progress_bg: W062L1;			/* W062L1 : Progress BG */
@color_progress_value: W062L2;			/* W062L2 : Progress bar */

/***************************************************************************
                   tokentextarea
***************************************************************************/
@color_tokentextarea_bg : B0212;		/* B0212 : Tokentextarea BG */
@color_tokentextarea_block_text : T058;		/* T058 : Tokentextarea block text normal */
@color_tokentextarea_block_text_press : T058P;  /* T058P : Tokentextarea block text pressed */
@color_tokentextarea_block_bg : W0711;    	/* W0711 : Contact button bg normal */
@color_tokentextarea_press_bg : W0711P;     	/* W0711P : Contact button bg pressed */
@color_tokentextarea_input_text : T058;		/* T058 : Tokentextarea input text */
@color_tokentextarea_label_text : T058;		/* T058 : Tokentextarea label text */

/***************************************************************************
                   Splitview
***************************************************************************/
@color_splitview_spliter_bar : W131;		/* W131 : Splitview handler BG */
@color_splitview_spliter_bar_active : W131P;	/* W131P : Splitview handler BG pressed */

/***************************************************************************
                  Checkbox / Radio
****************************************************************************/
@color_checkboxradio_bg_line: W013L2;		/* W013L2: check bg line */
@color_checkboxradio_bg_press_line: W013L2P;		/* W013L2P: check bg line press */
@color_checkboxradio_checkbox_bg_line: W013L2;		/* W013L2P: check bg line press */
@color_checkboxradio_bg: W013L1;		/* W013L1: check bg */
@color_checkboxradio_bg_press: W013L1P;		/* W013L1P: check bg press */
@color_checkboxradio_btn_bg: W013L3;			/* W013L3 : checkbox activated normal */
@color_checkboxradio_btn_press: W013L3P;		/* W013L3P : checkbox activated pressed */
@color_checkboxradio_radio_bg_line: W014L2;		/* W014L2 : radio bg line */
@color_checkboxradio_radio_bg_press_line: W014L2P;	/* W014L2P : radio bg line pressed */
@color_checkboxradio_radio_btn_bg: W014L3;		/* W014L3 : radio activated normal */
@color_checkboxradio_radio_btn_press: W014L3P;	/* W014L3P : radio activated pressed */
@color_checkboxradio_favorite_off : F022L1i;		/* F022L1i : favorite off */
@color_checkboxradio_favorite_on : F022L2i;		/* F022L2i : favorite on */
@color_checkboxradio_favorite_press : F022L2iP;	/* F022L2iP : favorite pressed */

/***************************************************************************
		Scrollview
****************************************************************************/
@color_scrollview_handler_bg: B0731L3;		/* B0731L3: Scrollview handler */
