/***************************************************************************
                   Naviframe
***************************************************************************/
@font_size_bar_title_text: 25 * @unit_base;	/* T020: Naviframe Title Text */
@font_size_bar_title_button_text: 16 * @unit_base;		/* T0205: Title_button_text Text(normal) */

/***************************************************************************
                   Toolbar
***************************************************************************/
@font_size_bar_toolbar_button_text: 19 * @unit_base;	/* T022: Toolbar_button_text_normal */

/***************************************************************************
                   Tabbar
***************************************************************************/
@font_size_tabbar_text: 15 * @unit_base;	/* T111: Tabbar text normal */

/***************************************************************************
                   List
***************************************************************************/
@font_size_list_main_text: 22 * @unit_base;		/* T023: list main text */
@font_size_list_sub_text: 16 * @unit_base;		/* T024: list sub text */
@font_size_list_divider_text: 16 * @unit_base;	/* T027: list divider text */
@font_size_list_swipe_text: 22 * @unit_base;		/* T023: Swipe text */
@font_size_list_editfield_text: 22 * @unit_base;	/* T1011: list editfield text done */
@font_size_dialogue_main_text: 22 * @unit_base;	/* T023: list main text normal */

@font_size_list_bubble_sent_text: 19 * @unit_base;		/* T0218: message bubble sent text */
@font_size_list_bubble_receive_text: 19 * @unit_base;	/* T0217: message bubble receive text */
@font_size_list_bubble_date_text: 12 * @unit_base;		/* T0219: message bubble date text */
@font_size_list_bubble_time_sent_text: 14 * @unit_base;	/* T0220: message bubble time text */
@font_size_list_bubble_time_receive_text: 14 * @unit_base;	/* T0220: message bubble time text */
@font_size_list_bubble_help_text: 16 * @unit_base;		/* T0221: message bubble help text */

@list-font-size-main: 22 * @unit_base;
@list-font-size-divider: 16 * @unit_base;	// NOTE: defined in dialogue group

/***************************************************************************
                   Fast Scroll
***************************************************************************/
@font_size_fastscroll_rollover_text: 13 * @unit_base;	/* T113: rollover text */
@font_size_fastscroll_popup_text: 68 * @unit_base;		/* T114: Scroll popup text */

/***************************************************************************
                   SearchBar(forms.textinput)
***************************************************************************/
@font_size_searchbar_text: 19 * @unit_base;			/* T1061: Search field normal */
@font_size_searchbar_typing_text: 19 * @unit_base;	/* T1063: Search field typing text */

/***************************************************************************
                   Popup
***************************************************************************/
@font_size_popup_info_style: 24 * @unit_base;

/***************************************************************************
                   Button(connected with other winset)
***************************************************************************/
@font_size_button_EditText: 18 * @unit_base;	/* T107: Search field button text */
@font_size_button_text: 18 * @unit_base;		/* T051: Button text */

.LESSbutton_text1_style{
	font-family: @font_family;
	font-weight: normal;
	font-size: 1.0rem;
	font-style:normal;
}

/***************************************************************************
                   contextual popup
***************************************************************************/
@font_size_ctxpopup_text: 20 * @unit_base;	/* T122: Popup list text */

/***************************************************************************
                   Date Time picker
***************************************************************************/
@font_size_datetime_main_text: 17 * @unit_base;
@font_size_datetime_sub_text: 16 * @unit_base;

/***************************************************************************
                   Popup
***************************************************************************/
@font_size_popup_title_text: 22 * @unit_base;		/* T121: Popup title text */
@font_size_popup_button_text: 18 * @unit_base;	/* Y123: Popup button text */
@font_size_popup_font: 18 * @unit_base;			/* T123: Popup text */
@font_size_popup_text_font: 18 * @unit_base;		/* T123: Popup text */
@font_size_popup_basic_style_title: 24 * @unit_base;
@font_size_popup_center_progressbar_title: 26 * @unit_base;
@font_size_popup_text_progress_title: 42 * @unit_base;
@font_size_popup_button_text: 18 * @unit_base;

/***************************************************************************
                   Tickernoti
***************************************************************************/
@font_size_ticker_text1: 16 * @unit_base;		/* T093: Ticker noti text */
@font_size_ticker_text2: 14 * @unit_base;		/* T094: Ticker noti text2 */

/***************************************************************************
                   Smallpopup
***************************************************************************/
@font_size_smallpopup_text: 16 * @unit_base;		/* T093: Ticker noti text */

/***************************************************************************
                   Slider
***************************************************************************/
@font_size_slider_handle_text: 18 * @unit_base;	/* T057: Slider text */
@font_size_slider_popup_text: 36 * @unit_base;	/* T115: Slider popup text */
@font_size_slider_left_text: 24 * @unit_base;		/* T0215: Slider left text */
@font_size_slider_right_text: 14 * @unit_base;	/* T0216: Slider right text */

/***************************************************************************
                   tokentextarea
***************************************************************************/
@font_size_tokentextarea_block_text: 16 * @unit_base;	/* T058: Tokentextarea block text normal */
@font_size_tokentextarea_input_text: 16 * @unit_base;	/* T058: Tokentextarea input text */
@font_size_tokentextarea_label_text: 16 * @unit_base;	/* T058: Tokentextarea label text */
