<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/Listview" version="0.1.1" viewmodes="maximized">
    <access origin="*"></access>
    <tizen:application id="vUf39tzQ3r.Listview" package="vUf39tzQ3r" required_version="2.3.1"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>ListVirtual</name>
    <tizen:profile name="wearable"/>
</widget>
