<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../../css/custom.css">
	<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<div data-role="page" id="demo-page">
	<div data-role="header" data-position="fixed">
		<h1>Grid List</h1>
	</div>
	<div data-role="content">
		<ul data-role="listview">
			<li class="ui-group-index">Grid List</li>
			<li class="ui-li-anchor"><a href="gridlist.html">Grid List</a></li>
			<li class="ui-li-anchor"><a href="gridwithcheck.html">Grid List with Checkbox</a></li>
			<li class="ui-li-anchor"><a href="gridwithbadge.html">Grid List with Badge</a></li>
		</ul>
	</div>
</div>
</body>
</html>