.ui-listview .ui-li.ui-collapsible,
.ui-listview .ui-collapsible {
	padding: 0;
	border-bottom: 0;
	border-top: 2px solid @color_list_divider_line;
}

.ui-listview .ui-listview {
	margin: 0;
}
.ui-collapsible-collapsed + .ui-collapsible .ui-collapsible-heading .ui-btn {
	border-top-width: 0;
}
.ui-collapsible-set .ui-collapsible .ui-collapsible-heading .ui-btn {
	border-top-width: 1px;
}
.ui-collapsible-heading, .ui-collapsible-content > li {
	position: relative;
}

.ui-listview .ui-collapsible.ui-li-static {
	padding: 0;
}

.ui-collapsible-heading {
	font-size: @font_size_list_main_text;
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
	background-color: @color_list_divider_bg;

	.ui-collapsible-heading-toggle {
		position: relative;
		display: block;
		padding-top: 13 * @unit_base;
		padding-bottom: 13 * @unit_base;
		padding-right: 56 * @unit_base;
		padding-left: 24 * @unit_base;
		color: @color_list_divider_text;
		text-decoration: none;

		&::after {
			position: absolute;
			right: 12 * @unit_base;
			top: 0;
			.mask-image('images/core_icon_expand_open.png');
			.mask-repeat(no-repeat);
			.mask-position(center);
			.mask-size(100%);
			background-color: @color_list_collapsible_arrow;
			width: 60 * @unit_base;
			height: 60 * @unit_base;
			content: "";
			.transition(all 330ms ease);
			.rotate(0);
		}
	}
}

.ui-collapsible-collapsed .ui-collapsible-heading-toggle {
	&::after {
		.transition(all 330ms ease);
		.rotate(180deg);
	}
}

.ui-collapsible-heading-status {
	position: absolute;
	top: -9999px;
	left:0px;
}

.ui-collapsible-content li {
	padding: 30 * @unit_base 15 * @unit_base;
	border-bottom: 1px solid @color_list_border_bottom;
}

.ui-collapsible-content {
	display: block;
	margin: 0 -24px;
	padding: 0 24px;
	border-left-width: 0;
	border-right-width: 0;
	border-top: none;      /* Overrides ui-body-* */
	background-image: none; /* Overrides ui-body-* */

	max-height: 9999px;
	overflow: visible;
	.transition(all 300ms ease);

}
.ui-collapsible-content-collapsed {
	overflow: hidden;
	max-height: 0 !important;
	display: none;
}
.ui-collapsible-set {
	margin: .5em 0;
	.ui-collapsible {
		margin: -1px 0 0;
		&:first-child {
			margin-top: 0;
		}
	}
}

.ui-collapsible.ui-state-disabled {
	cursor: default !important;
	pointer-events: none;
	filter: alpha(opacity=30);
	opacity: 0.3;
	zoom: 1;
}
