.ui-colored-list-clip .ui-scrollview-view {
	overflow: hidden;
}

.ui-listview {
	&.ui-colored-list {
		position: relative;
		.transform(translate3d(0, 0, 0));
		.ui-li-anchor, .ui-li.ui-btn, .ui-li-static, .ui-li-flex {
			background-color: transparent;
			border-color: transparent;
			a {
				padding-top: 34 * @unit_base;
				padding-bottom: 32 * @unit_base;
			}
		}
		.ui-li-anchor:active, .ui-li.ui-btn:active {
			background-color: @color_list_press;
		}
	}
}
/****************************************************************/
/*                   Dummy                                      */
/****************************************************************/
.ui-colored-list-canvas {
	.transform(translate3d(0, 0, 0));
	position: absolute;
	left: 0;
	z-index: -1;
}
