.ui-gridview {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: @color_gridview_bg;
	list-style: none;

	.ui-gridview-item {
		position: absolute;
		-webkit-transition: all 0.2s ease-out;
		width: 180 * @unit_base;
		border: solid 0 transparent;
		&.ui-gridview-helper {
			-webkit-transition: none;
			-webkit-transform: translate3d(0, 0, 0);
		}
		.ui-gridview-handler {
			display: none;
		}

	 	 > label {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			 > input[type="checkbox"] {
				position: absolute;
				top: 9 * @unit_base;
				right: 9 * @unit_base;
			 }
		 }
		.ui-gridview-badge {
			position: absolute;
			border-radius: 50 * @unit_base;
			min-width: (50 - 28) * @unit_base;
			background-color: @color_gridview_badge_bg;
			color: @color_gridview_badge_text;
			top: 9 * @unit_base;
			right: 9 * @unit_base;
			padding: 6 * @unit_base 14 * @unit_base;
			font-size: @font_size_gridview_badge;
			text-align: center;
		}
	}

	&.ui-gridview-label-in .ui-gridview-label {
		position: absolute;
		bottom: 12 * @unit_base;
		display: block;
		color: @color_gridview_text_in;
	}

	&.ui-gridview-label-out .ui-gridview-label {
		display: block;
		margin: 0;
		color: @color_gridview_text_out;
		margin-bottom: 23 * @unit_base;
	}

	&.ui-gridview-reorder {
		.ui-gridview-item {
			.ui-gridview-handler {
				-webkit-mask-image: url("images/core_grid_button_reorder.png");
				-webkit-mask-size: 100%;
				background-color: @color_button_add;
				display: block;
				position: absolute;
				width: 50 * @unit_base;
				height: 50 * @unit_base;
				right: 9 * @unit_base;
				top: 9 * @unit_base;
			}
		}
	}
}

.ui-gridview-image {
	display: block;
	width: 100%;
	pointer-events: none;
}

.ui-gridview-label {
	display: none;
	position: relative;
	width: 100%;
	height: 39 * @unit_base;
	line-height: 39 *@unit_base;
	padding: 0 10 * @unit_base;
	box-sizing: border-box;
	margin: -39 * @unit_base 0 0 0;
	font-size: @font_size_gridview;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
}
