.ui-listview .ui-group-index {
    box-sizing: border-box;
    height: 60 * @unit_base;
    padding: 11 * @unit_base 24 * @unit_base;
    background-color: @color_list_divider_bg;
    border-bottom: 1px solid @color_list_divider_line;

    font-size: @font_size_list_divider_text;
    color: @color_list_divider_text;
    line-height: 38 * @unit_base;
    vertical-align: middle;
}