.ui-indexscrollbar {
	display: block;
	position: absolute;
	right: 0;	//TODO:bidi
	top: 0;
	width: 40 * @unit_base;
	height: 100%;
	padding-left: 2 * @unit_base;
	//background-color: @color_indexscrollbar_bg;
	background-color: @color_indexscrollbar_bg;
	z-index: 1000;
	overflow: visible;	// To show 2nd indexbar
	.user-select(none);
	cursor: pointer;
	.border-box();

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		position:absolute;
		width: 100%;
		li {
			cursor: pointer;
			//color: @color_indexscrollbar_text;
			color: @color_indexscrollbar_text;
			display: block;
			box-sizing: border-box;
			width: 100%;
			text-align: center;
			vertical-align: middle;
			font-size: @font_size_fastscroll_rollover_text;
			height: 40 * @unit_base;
			line-height: 40 * @unit_base;
			font-weight: bold;
			border-bottom: 2 * @px_base solid @color_indexscrollbar_divider;
			border-left: 2 * @px_base solid @color_indexscrollbar_line;
		}
		li.ui-state-selected {
			border-left: 2 * @px_base solid @color_indexscrollbar_divider;
			&::before {
				content: "";
				position: absolute;
				height: 40 * @unit_base;
				width: 40 * @unit_base;
				left: 0;
				box-sizing: border-box;
				border-top: 2 * @px_base solid @color_indexscrollbar_line;
				border-right: 2 * @px_base solid @color_indexscrollbar_line;
				border-bottom: 2 * @px_base solid @color_indexscrollbar_line;
			}
		}
	}
	ul.ui-indexscrollbar-supplementary {
		position: relative;
		height: auto;
		top: 0;
		right: -40 * @unit_base;
		width: 100%;
		li {
		}
		li.ui-state-selected {
		}

	}

	& + .ui-listview li {
		padding-right: 40*@unit_base;
    }
}

.ui-indexscrollbar-indicator {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	display: none;

	>span {
		width: 168 * @unit_base;
		line-height: 168 * @unit_base;
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		.transform(translate(-50%, -50%));
		font-size: 112 * @unit_base;
		border-radius: 50%;
		text-align: center;
		.border-box();
		background-color: @color_indexscrollbar_popup_bg;
		color: @color_indexscrollbar_popup_text;
	}
}
