.ui-progressbar-value {
	height: 100%;
	background-color: @color_progress_value;
	.LESSborder-radius-all( 10 * @unit_base );
}

.ui-progressbar-bg {
	position: relative;
	overflow: hidden;

	min-width: 24 * @unit_base;
	height: 7 * @unit_base;
	margin-left: 6 * @unit_base;
	margin-right: 6 * @unit_base;

	.LESSborder-radius-all( 10 * @unit_base );
	background-color: @color_progress_bg;
}

.ui-progressbar {
	position: relative;
	margin-left: 36 * @unit_base;
	margin-right: 36 * @unit_base;
	height: 6 * @unit_base;
}

.ui-progressbar .ui-progressbar-activity {
	position: relative;
	top: 0;
	height: 100%;
	padding: 0;
	background-color: @color_progress_value;
	.mask-image('./images/controls/core_progress_pending_bg.svg');
	.mask-size(100% 100%);
	.mask-repeat(no-repeat);
	.LESSborder-radius-all(10 * @unit_base);
	.animation(activitybar 300ms infinite linear);
}
.m-progress-activitybar() {
	from { .mask-position(0 0); }
	to { .mask-position(15 * @unit_base 0); }
}

@-webkit-keyframes activitybar {
	.m-progress-activitybar();
}
@-moz-keyframes activitybar {
	.m-progress-activitybar();
}
@-ms-keyframes activitybar {
	.m-progress-activitybar();
}
@-o-keyframes activitybar {
	.m-progress-activitybar();
}
@keyframes activitybar {
	.m-progress-activitybar();
}

