@-webkit-keyframes test1
{
	0% { width: 0; }
	100% { width: 100%; }
}
@-webkit-keyframes test2
{
	0% { width: 100%; left: 0; }
	100% { width: 10px; left: 195px; }
}

.ui-progressbar-value-front-anim::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background-color: #167fcd; //@color_progress_value_front;
	width: 100%;
	height: 100%;

	-webkit-animation: test1 650ms 0s ease-out, test2 700ms 650ms ease-out;
	-webkit-animation-fill-mode: forwards;

	.LESSborder-radius-all( 10 * @unit_base );
}
.ui-progressbar-value-front {
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1000;
	position: absolute;

	.LESSborder-radius-all( 10 * @unit_base );
}

.ui-progressbar-value-back {
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #74d4eb;//@color_progress_value_back;
	.LESSborder-radius-all( 10 * @unit_base);
}

.ui-progressbar-bg {
	position: relative;
	overflow: hidden;

	min-width: 24 * @unit_base;
	height: 7 * @unit_base;
	margin-left: 6 * @unit_base;
	margin-right: 6 * @unit_base;

	.LESSborder-radius-all( 10 * @unit_base );
	background-color: @color_progress_bg;
}

.ui-progressbar {
	position: relative;
	margin-left: 36 * @unit_base;
	margin-right: 36 * @unit_base;
	height: 6 * @unit_base;
}

.ui-progressbar .ui-progressbar-activity {
	position: relative;
	top: 0;
	height: 100%;
	padding: 0;
	background-color: @color_progress_value;
	.mask-image('./images/controls/core_progress_pending_bg.svg');
	.mask-size(100% 100%);
	.mask-repeat(no-repeat);
	.LESSborder-radius-all(10 * @unit_base);
	.animation(activitybar 300ms infinite linear);
}
.m-progress-activitybar() {
	from { .mask-position(0 0); }
	to { .mask-position(15 * @unit_base 0); }
}

@-webkit-keyframes activitybar {
	.m-progress-activitybar();
}
@-moz-keyframes activitybar {
	.m-progress-activitybar();
}
@-ms-keyframes activitybar {
	.m-progress-activitybar();
}
@-o-keyframes activitybar {
	.m-progress-activitybar();
}
@keyframes activitybar {
	.m-progress-activitybar();
}
