/* Basic Radio */
input[type="radio"].ui-radio {
	height: 50 * @unit_base;
	width: 50 * @unit_base;
	position: relative;
	border: 1px solid @color_checkboxradio_radio_bg_on;
	border-radius: 50%;
	background-color: transparent;
	box-sizing: border-box;
	overflow: visible;
	outline: none;

	-webkit-appearance: none;
	-webkit-transition-property: border, background-color;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 200ms;
	opacity: 1;

	&:checked {
		border: 6 * @unit_base solid @color_checkboxradio_radio_bg_on;// TOBE @color_checkboxradio_radio_bg_icon;
		background-color: white;
	}

	&::before {
		content: "";
		position: absolute;
		height: 28 * @unit_base;
		width: 28 * @unit_base;
		top: 50%;
		left: 50%;
		margin-top: -14 * @unit_base;
		margin-left: -14 * @unit_base;
		border-radius: 50%;
		background-color: @color_checkboxradio_radio_bg_on;
		-webkit-mask-size: 100%;
		opacity: 0;

		-webkit-transition-property: -webkit-transform, opacity, margin;
		-webkit-transition-timing-function: ease-out;
		-webkit-transition-duration: 300ms;
		-webkit-transform: scale(0);
		-webkit-backface-visibility: hidden;
	}
	&:checked:disabled {
		background-color: @color_checkboxradio_radio_bg_dim;
	}

	&:checked::before {
		opacity: 1;
		-webkit-transform: scale(1);
	}
}
input[type="checkbox"].ui-checkbox:disabled:not(.favorite),
input[type="radio"].ui-radio:disabled {
	opacity: 0.3;
}
