/***************************************************************************
					Tabbar
***************************************************************************/

.ui-tabbar {
	width: 100%;
	height: 110 * @unit_base;
	&.ui-tabbar-with-icon {
		a {
			&::after {
				content: "";
				position: absolute;
				width: 60 * @unit_base;
				height: 60 * @unit_base;
				background-color: @color_tabbar_icon_bg_normal;
				-webkit-mask-position: 0 0;
				-webkit-mask-size: 100% 100%;
				-webkit-mask-repeat: no-repeat;
				.transform(translate(-50%, -50%));
			}
			&.ui-tab-active:after {
				background-color: @color_tabbar_icon_bg_press;
			}
		}
	}
	&.ui-tabbar-portrait, &.ui-tabbar-landscape {
		&.ui-tabbar-with-title {
			height: 76 * @unit_base;
			&.ui-tabbar-with-icon {
				height: 76 * @unit_base;
				a {
					font-size: 38 * @unit_base;
					&::after {
						top: 45%;
						left: 30%;
						width: 60 * @unit_base;
						height: 60 * @unit_base;
						.transform(translate(-50%, -50%));
					}
					&.ui-tab-no-text {
						&::after {
							top: 50%;
							left: 50%;
						}
					}
					span {
						top: 45%;
					}
				}
			}
			a {
				font-size: 38 * @unit_base;
				span {
					top: 40%;
				}
			}
		}
	}

	&.ui-tabbar-portrait {
		&.ui-tabbar-with-icon {
			height: 144 * @unit_base;
			a {
				font-size: 30 * @unit_base;
				span {
					top: 70%;
				}
				&::after {
					top: 30%;
					left: 50%;
				}
				&.ui-tab-no-text {
					&::after {
						top: 50%;
						left: 50%;
					}
				}
			}
		}
	}

	&.ui-tabbar-landscape {
		&.ui-tabbar-with-icon {
			height: 110 * @unit_base;
			a {
				span {
					left: 60%;
				}
				&::after {
					top: 50%;
					left: 30%;
				}
				&.ui-tab-no-text {
					&::after {
						top: 50%;
						left: 50%;
					}
				}
			}
		}
		&.ui-tabbar-with-title.ui-tabbar-with-icon {
			span {
				left: 55%;
			}
			a::after {
				left: 43%;
			}
		}
	}
	a {
		font-size: 38 * @unit_base;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		text-decoration: none;
		color: @color_tabbar_text_normal;
		span {
			position: absolute;
			top: 50%;
			left: 50%;
			.transform(translate(-50%, -50%));
			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 3 * @unit_base;
				background-color: @color_tabbar_border_active;
				bottom: -6 * @unit_base;
				.transform(scale(0));
			}
		}
		&.ui-tab-active {
			color: @color_tabbar_text_selected;
			span::before {
				.transform(scale(1));
				.transition(-webkit-transform 100ms);
			}
		}
	}
	a:active {
		color: @color_tabbar_text_press;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		position: relative;
		height: 100%;
		white-space: nowrap;
		font-size: 0;
	}
	li {
		text-align: center;
		display: inline-block;
		position: relative;
		height: 100%;
		&:active {
			background-color: @color_tabbar_tab_bg_press;
		}
	}
}