.ui-tabs {
	position: relative;
	height: 100%;
	overflow: hidden;
	.ui-title {
		height: 82 * @unit_base;
		line-height: 82 * @unit_base;
		position: relative;
		font-size: 38 * @unit_base;
		font-weight: normal;
		text-align: center;
		margin: 0;
		color: @color_tabs_title_text;
	}
	&.ui-tabs-with-title .ui-tabbar-link {
		height: 52 * @unit_base;
		.ui-tabbar-text {
			top: 0;
			.transform(translate3d(-50%, 0, 0));
		}
	}
}
