input, textarea {
    font-family: @font_family;

    &::-webkit-input-placeholder {
        text-shadow: 0 0 0 @color_textinput_placeholder;
    }

    &.ui-text-input-disabled,
    &:disabled {
        &::-webkit-input-placeholder {
            text-shadow: 0 0 0 @color_textinput_placeholder_text_dim;
        }
    }
}

textarea.ui-text-input {
    resize: none;
    overflow: hidden;
    white-space: normal;
    padding: 30 * @unit_base 32 * @unit_base;
    .transition(height 200ms linear);
}

input.ui-text-input {
    padding: 0 10 * @unit_base;
    line-height: 27 * @unit_base;
}

input.ui-text-input,
textarea.ui-text-input {
    border: 0;
    margin: 0;
    .appearance(none);
    box-sizing: border-box;
    width: 100%;
    line-height: 54 * @unit_base;
    text-shadow: 0 0 0 @color_textinput_text;
    -webkit-text-fill-color: transparent;
    font-size: @font_size_textinput_text;
    background-color: transparent;
    border: none;

    &:focus {
        outline: none;
    }

    & + .ui-text-input-textline {
        height: 2 * @unit_base;
        background: @color_textinput_textline_dim;
        box-sizing: border-box;
        display: block;
        margin-top: 11 * @unit_base;
    }

    &:focus + .ui-text-input-textline {
        background: @color_textinput_textline;
    }

    & ~ .ui-text-input-clear {
        display: block;
        float: right;
        position: relative;
        top: -80 * @unit_base;
        box-sizing: border-box;
        width: 80 * @unit_base;
        height: 80 * @unit_base;
        margin-right: -5 * @unit_base;
        .mask-image("images/controls/core_button_icon_clear.png");
        .mask-size(contain);
        background-color: @color_textinput_clear_icon;
    }
    & ~ .ui-text-input-clear-hidden {
        visibility: hidden;
    }
}
