#handler {
	width:24px;
	height: 115px;
	position: absolute;
	top: 122px;
	right: 0;
	color: transparent;
	display: none;
	background-color: #a4a4a4;
	-webkit-mask-image: url(images/b_drawer.png);
	-webkit-mask-size: 18px 36px;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: 0 40px;
}
#rightDrawer {
	background-color: transparent;
}
#rightDrawer section {
	height:360px !important;
}
#popupContainer {
	box-shadow: 0 5px 1px rgba(0,0,0,0.5);
	-webkit-mask-image: none;
}
.circle-button {
	width: 158px;
	height: 158px;
	background-color: #a4a4a4;
	position: relative;
	left: 50%;
	transform: translate3d(-50%, 0, 0);
	top: 101px;
	border-radius: 79px;
	text-align: center;
	line-height: 158px;
}
