/***************************************************************************
                  Body
***************************************************************************/
/** Main Background color */
@color_bg: B011;
/** Main font color */
@color_text: T0811;

/***************************************************************************
                   Action Bar
***************************************************************************/
/** Action bar title text color */
@color_actionbar_title_text: T012;
/** Action bar title background color */
@color_actionbar_title_bg: B0511;
/** Action bar more pressed background color */
@color_actionbar_more_pressed_bg: W011P;
/** Action bar more detail normal icon */
@icon_actionbar_more_detail_normal: "./images/Actionbar/tw_ic_menu_detail_normal_holo_dark.png";
/** Action bar more detail disable icon */
@icon_actionbar_more_detail_disable: "./images/Actionbar/tw_ic_menu_detail_disable_holo_dark.png";
/** Action bar more overflow normal icon */
@icon_actionbar_more_overflow_normal: "./images/Actionbar/tw_ic_menu_moreoverflow_normal_holo_dark.png";
/** Action bar more overflow disable icon */
@icon_actionbar_more_overflow_disable: "./images/Actionbar/tw_ic_menu_moreoverflow_disable_holo_dark.png";
/** Action bar more select all normal icon */
@icon_actionbar_more_selectall_normal: "./images/Actionbar/tw_ic_menu_selectall_normal_holo_dark.png";
/** Action bar more select all disable icon */
@icon_actionbar_more_selectall_disable: "./images/Actionbar/tw_ic_menu_selectall_disable_holo_dark.png";

/****************************************************************************
                Content
****************************************************************************/
/** Main color of content background */
@color_content_bg: rgba(75, 66, 55, 0.4);

/****************************************************************************
		Progress Bar
****************************************************************************/
/** Progress bar text font color */
@color_progressbar_text: @color_text;
/** Progress bar normal background color */
@color_progressbar_normal_bg: B065L3;
/** Progress bar value background color */
@color_progressbar_value_bg: B065L2;

/****************************************************************************
		Toggle Switch
****************************************************************************/
/** Toggle switch text color */
@color_switch_text: T0811;

/***************************************************************************
                   Buttons
***************************************************************************/
/** Button default text color */
@color_button_default_text: T041;
/** Disabled button default text color */
@color_button_default_text_disable: T041D;
/** Color of basic button background - normal */
@color_button_basic_normal: W084;
/** Color of basic button text - normal */
@color_button_basic_txt_normal: rgb(89, 89, 89);
/** Color of basic button text - focused */
@color_button_basic_txt_focus: F072;
/** Background color of icon source button */
@color_button_icon_source: rgb(69, 143, 255);
/** Background color of icon app button */
@color_button_icon_app: @color_button_icon_source;
/** Text color of button with icon */
@color_button_with_icon: F072;

/** Red button text color */
@color_button_red_text: T041;
/** Disabled red button text color */
@color_button_red_text_disable: T041D;
/** Red button normal background color */
@color_button_red_normal_bg: W012;
/** Red button focused background color */
@color_button_red_focus_bg: W012;
/** Red button pressed background color */
@color_button_red_press_bg: W012P;
/** Red button disabled background color */
@color_button_red_disable_bg: W012D;

/** Orange button text color */
@color_button_orange_text: T041;
/** Disabled orange button text color */
@color_button_orange_text_disable: T041D;
/** Orange button normal background color */
@color_button_orange_normal_bg: W013;
/** Orange button focused background color */
@color_button_orange_focus_bg: W013;
/** Orange button pressed background color */
@color_button_orange_press_bg: W013P;
/** Orange button disabled background color */
@color_button_orange_disable_bg: W013D;

/** Green button text color */
@color_button_green_text: T041;
/** Disabled green button text color */
@color_button_green_text_disable: T041D;
/** Green button normal background color */
@color_button_green_normal_bg: W014;
/** Green button focused background color */
@color_button_green_focus_bg: W014;
/** Green button pressed background color */
@color_button_green_press_bg: W014P;
/** Green button disabled background color */
@color_button_green_disable_bg: W014D;

/** Bar header button background color */
@color_bar_header_btn: B0511P;
/** Bar button normal background color */
@color_bar_btn_normal: B052L1;

/***************************************************************************
                   Popup
***************************************************************************/
/** Popup title text color */
@color_popup_title_text: T091;
/** Popup background color */
@color_popup_bg: B061L1E;
/** Popup header background color */
@color_popup_header_bg: B061L2;
/** Popup header border background color */
@color_popup_border: B061L7;
/** Popup text color */
@color_popup_text: B065L3;
/** Color of popup footer button background - focused */
@color_popup_footer_btn_focus: rgb(69, 143, 255);
/** Popup content text color */
@color_popup_text_content: B065L3;
/** Popup shadow color */
@color_popup_shadow: rgba(0, 0, 0, 0.67);

/***************************************************************************
                  index scrollbar (vertical)
***************************************************************************/
/** Index scroll bar background color */
@color_indexscrollbar_bg: B0722;
/** Index scroll bar supplementary background color */
@color_indexscrollbar_bg_supplementary: B0723;
/** Index scroll bar text color */
@color_indexscrollbar_text: T0311;
/** Index scroll bar selected background color */
@color_indexscrollbar_selected_bg: B0724;
/** Index scroll bar selected text color */
@color_indexscrollbar_selected_text: T0311P;
/** Index scroll bar selected supplementary text color */
@color_indexscrollbar_selected_text_supplementary: T0313;

/** Index scroll bar indicator background color */
@color_indexscrollbar_indicator_bg: B0731;
/** Index scroll bar indicator text normal color */
@color_indexscrollbar_indicator_text_normal: T0312;
/** Index scroll bar indicator text selected color */
@color_indexscrollbar_indicator_text_selected: T0312P;

/***************************************************************************
                  Listview
***************************************************************************/
/** Listview border color */
@color_listview_border: B0222;
/** Listview text color */
@color_listview_text: T0211;
/** Focused listview button text color */
@color_list_btn_txt_focus: F072;
/** Disabled listview element text color */
@color_listview_txt_disabled: B096;
/** List divider text color */
@color_list_divider_text: rgb(66, 87, 144);
/** List divider normal line background color */
@color_list_divider_line_bg: rgb(66, 87, 144);
/** Listview white background color */
@color_listview_bg_color_white: F072;
/** Listview sub element text color */
@list_sub_txt_color: rgb(189, 167, 146);

/***************************************************************************
                   Scroller
***************************************************************************/
/** Tab indicator normal background color */
@color_tab_normal: B0514;
/** Tab indicator active background color */
@color_tab_active: B0514P1;
/** Scroller scrollbar color */
@color_scroller_scrollbar_color: B071;
/** Scroller bouncing effect top background image */
@bg_scroller_bouncing_effect_top: "./images/Scroller/scrollbar-bouncing-effect-top.png";
/** Scroller bouncing effect bottom background image */
@bg_scroller_bouncing_effect_bottom: "./images/Scroller/scrollbar-bouncing-effect-bottom.png";
/** Scroller bouncing effect left background image */
@bg_scroller_bouncing_effect_left: "./images/Scroller/scrollbar-bouncing-effect-left.png";
/** Scroller bouncing effect right background image */
@bg_scroller_bouncing_effect_right: "./images/Scroller/scrollbar-bouncing-effect-right.png";

/***************************************************************************
                        Drawer
***************************************************************************/
/** Drawer background color */
@color_drawer_bg: B077;
/** Drawer border color */
@color_drawer_border: B0223;
/** Drawer listview button down background color */
@color_drawer_list_press: B041P;
/** Drawer back button background icon */
@drawer_back_background: "./images/Drawer/ico_homebar_menu_arrow.png";
/** Drawer button close background color */
@color_drawer_btn_close_background: rgb(69, 143, 255);
/** Drawer footer button background color */
@color_drawer_footer_btn_background: rgb(69, 143, 255);
/** Drawer listview elements background color */
@color_drawer_btn: F072;
/** Drawer listview not listdivider background color */
@color_drawer_listview_not_divider: rgb(42, 50, 64);
/** Drawer listview not listdivider border color */
@color_drawer_listview_not_divider_border: rgb(6, 8, 11);
/** Drawer list divider button color */
@color_drawer_divider_btn: W084;
/** Drawer footer button color */
@color_drawer_footer_btn: @color_drawer_divider_btn;
/** Drawer footer background color of dinamic list elements */
@color_drawer_dinamic_footer_background: B0723;
/** Drawer footer background color of poster/icon elements */
@color_drawer_poster_icon_footer_background: @color_drawer_dinamic_footer_background;

/***************************************************************************
			Grid
***************************************************************************/
/** Grid buttons text basic color */
@color_grid_txt_normal: W084;
/** Focused grid button border color */
@color_grid_btn_focus_border: rgb(69, 143, 255);
/** Focused grid thumbnail content background color */
@color_grid_btn_focus_thumb_content: rgb(69, 143, 255);

/***************************************************************************
			Input
***************************************************************************/
/** Input background color */
@color_input_bg: F072;
/** Input text color */
@color_input_text: rgba(61, 61, 61, 0.5);
/** Input border color */
@color_input_border: @color_input_text;
/** Focused input text color */
@color_input_text_focus: B065L3;
/** Number input text color */
@color_input_number_text: rgb(69, 143, 255);
/** Focused number input background color */
@color_input_number_bg_focus: rgb(69, 143, 255);
/** Focused number input border color */
@color_input_number_border_focus: @color_input_number_bg_focus;
/** Focused number input text color */
@color_input_number_text_focus: F072;

/***************************************************************************
			Scrollbar
***************************************************************************/
/** Scrollbar thumb background color */
@color_scrollbar_thumb_bg: rgba(0, 0, 0, 0.25);

/***************************************************************************
			Slider
***************************************************************************/
/** Slider handle text color */
@color_slider_handle_text: B103L2;
/** Slider handle pressed text color */
@color_slider_handle_text_press: B103L2;
/** Slider popup text color */
@color_slider_popup_text: rgb(76, 81, 88);
/** Slider popup background color */
@color_slider_popup_bg: rgb(238, 238, 238);
/** Slider left text color */
@color_slider_left_text: rgb(186, 186, 186);
/** Slider right text color */
@color_slider_right_text: rgb(186, 186, 186);
/** Slider, not toggle switch, background color */
@color_slider_not_toggle_switch: rgb(51, 67, 83);
/** Slider background color */
@color_slider: rgb(65, 91, 254);
/** Slider lessbox shadow */
@slider_lessbox_shadow: rgb(116, 113, 127);
