#moreoptionsDrawer {
	display: none;
}

@media all and (-tizen-geometric-shape: circle) {
	#moreoptionsDrawer {
		display: block;
		background-color: rgba(255, 255, 255, 0.1);
		border-radius: 100%;
	}
	#moreoptionsPopup {
		display: none;
	}
	.sections,
	.options {
		text-align: center;
	}
	.option-button {
		width: 100%;
		height: 100%;
		position: relative;
		text-align: center;
		line-height: 140px;
		-webkit-appearance: none;
		background-color: transparent;
		border-radius: 50%;
		border: 0;
		color: #000000;
	}
	.ui-view-switcher .ui-view.custom-view {
		width: 140px;
		height: 140px;
		border-radius: 50%;
		top: -webkit-calc(50% - 70px);
	}
}