<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../css/custom.css">
	<script type="text/javascript" src="../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<tau-page role="page" class="ui-page" id="moremenu-page">
	<div class="ui-header" data-position="fixed">
		<h1>More Menu</h1>
	</div>
	<tau-scrollview class="ui-content">
		<p style="padding:10px">Press &quot;more&quot; key in device. Then you can show more menu popup.</p>

		<tau-popup id="moremenu" class="ui-popup ui-popup-moremenu">
			<div class="ui-popup-content">
				<tau-listview class="ui-listview">
					<li class="ui-li-anchor"><a href="#">List item 1</a></li>
					<li class="ui-li-anchor"><a href="#">List item 2</a></li>
					<li class="ui-li-anchor"><a href="#">List item 3</a></li>
					<li class="ui-li-anchor"><a href="#">List item 4</a></li>
					<li class="ui-li-anchor"><a href="#">List item 5</a></li>
					<li class="ui-li-anchor"><a href="#">List item 6</a></li>
					<li class="ui-li-anchor"><a href="#">List item 7</a></li>
				</tau-listview>
			</div>
		</tau-popup>
	</tau-scrollview>
	<div class="ui-footer" data-position="fixed">
		<tau-button id="open" href="#" class="ui-btn">Open More menu</tau-button>
	</div>
	<script src="moremenu.js"></script>
</tau-page>
</body>
</html>
