<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../css/custom.css">
	<script type="text/javascript" src="../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<tau-page class="ui-page" id="expandable-page">
	<div class="ui-header" data-position="fixed">
		<h1>Expandable List</h1>
	</div>
	<tau-scrollview class="ui-content">
		<tau-listview class="ui-listview">
			<tau-expandable class="ui-expandable">
				<h2>Color</h2>
				<ul class="ui-listview">
					<li class="ui-li-static">Blue</li>
					<li class="ui-li-static">Red</li>
					<li class="ui-li-static">White</li>
				</ul>
			</tau-expandable>
			<tau-expandable class="ui-expandable">
				<h2>Number</h2>
				<ul class="ui-listview">
					<li class="ui-li-static">One</li>
					<li class="ui-li-static">Two</li>
					<li class="ui-li-static">Three</li>
				</ul>
			</tau-expandable>
			<tau-expandable class="ui-expandable">
				<h2>Items</h2>
				<ul class="ui-listview">
					<li class="ui-li-static">Item 1</li>
					<li class="ui-li-static">Item 2</li>
					<li class="ui-li-static">Item 3</li>
				</ul>
			</tau-expandable>
		</tau-listview>
	</tau-scrollview>
</tau-page>
</body>
</html>
