/***************************************************************************
                  checkbox / radio button
***************************************************************************/
input[type="checkbox"]:not(.ui-switch-input),
input[type="radio"] {
	height: 86px;
	width: 86px;
	background-color: transparent;
	background-image: -webkit-radial-gradient(transparent, transparent 60%, @color_checkboxradio_uncheck_line 62%, @color_checkboxradio_uncheck_line 69%, transparent 71%, transparent);
}

input[type="checkbox"]:not(.ui-switch-input) {
	-webkit-mask-image: none;
	// gray check mark(when unchecking) & green background(when checking)
	&::before {
		content: "";
		.mask-image('images/Controller_icon/Check/tw_btn_check_holo_dark.png');
		background-color: @color_checkboxradio_uncheck;
		height: 100%;
		width: 100%;
		border-radius: 50%;
		opacity: 0.5;
		.transition(opacity 300ms ease-out);
		position: absolute;
		.mask-size(100%);
		.mask-position(center bottom);
	}
	// check mark
	&::after {
		.mask-image('images/Controller_icon/Check/tw_btn_check_holo_dark.png');
		.mask-repeat(repeat);
		.mask-position(center bottom);
		background-color: @color_checkboxradio_check;
		height: 0;
		.transition-property(height);
		.transition-duration(300ms);
		bottom: 0;
		.mask-size(100%);
	}
	&:checked {
		&::after {
			height: 100%;
		}
		&::before {
			-webkit-mask-image: none;
			opacity: 1;
			background-color: @color_checkboxradio_checkbox_bg;
		}
	}

	&:active {
		-webkit-mask-image: none;
		background-color: transparent;
		&::after {
			width: 100%;
			height: 0;
		}
		&:checked {
			&::before {
				background-color: @color_checkboxradio_checkbox_bg;
				width: 100%;
				height: 100%;
			}
			&::after {
				background-color: @color_checkboxradio_check;
				height: 100%;
			}
		}
	}
}

input[type="radio"] {
	background-color: transparent;
	-webkit-mask-image: none;
	&::after {
		content: none;
	}
	&::before {
		content: "";
		background-color: @color_checkboxradio_radio;
		.mask-image('images/Controller_icon/Radio/tw_btn_radio_holo_dark.png');
		.mask-repeat(no-repeat);
		width: 100%;
		height: 100%;
		.mask-size(100% 100%);
		position: absolute;
		.transform(scale3d(0.2, 0.2, 0.2));
		opacity: 0;
		.transition(all 300ms);
	}
	&:checked::before {
		background-color: @color_checkboxradio_radio;
		.mask-image('images/Controller_icon/Radio/tw_btn_radio_holo_dark.png');
		.transform(scale3d(1,1,1));
		opacity: 1;
	}
	&:active {
		background-color: transparent;
		-webkit-mask-image: initial;
		&::after {
			content: none;
		}
		&:checked::before {
			background-color: @color_checkboxradio_radio;
			.mask-image('images/Controller_icon/Radio/tw_btn_radio_holo_dark.png');
		}
		&:checked::after {
			content: none;
		}
	}
}
