/***************************************************************************
                  checkbox / radio button
***************************************************************************/
input[type="checkbox"]:not(.ui-switch-input) {
	background-color: @color_checkboxradio_checkbox;
	&::after {
		background-color: @color_checkboxradio_checkbox_line;
	}
	&:checked::before {
		background-color: @color_checkboxradio_check;
	}
	&::before {
		content: "";
		-webkit-mask-image: url(images/Controller_icon/tw_btn_check_holo_dark.png);
		-webkit-mask-repeat: no-repeat;
		background-color: @color_checkboxradio_check;
		width: 0;
		height: 56px;
		position: absolute;
		-webkit-transition: width 150ms;
	}
	&:active {
		background-color: @color_checkboxradio_checkbox_press;
		&::after {
			background-color: @color_checkboxradio_checkbox_line_press;
		}
		&:checked::before {
			background-color: @color_checkboxradio_check_press;
		}
	}
}

input[type="radio"] {
	background-color: @color_checkboxradio_radiobox;
	&::after {
		background-color: @color_checkboxradio_radiobox_line;
	}
	&::before {
		content: "";
		background-color: @color_checkboxradio_radio;
		-webkit-mask-image: url(images/Controller_icon/tw_btn_radio_holo_dark.png);
		-webkit-mask-repeat: no-repeat;
		width: 56px;
		height: 56px;
		position: absolute;
		-webkit-transform: scale3d(0,0,0);
		-webkit-transition: -webkit-transform 150ms;
	}
	&:checked::before {
		background-color: @color_checkboxradio_radio;
		-webkit-transform: scale3d(1,1,1);
	}
	&:active {
		background-color : @color_checkboxradio_radiobox_press;
		&:checked::before {
			background-color: @color_checkboxradio_radio_press;
		}
	}
}
