/***************************************************************************
				   Footer Style (New style)
***************************************************************************/

.ui-page .ui-expandable-header {
	height: @fixed_header_height;

	&.ui-header-expand {
		height: @fixed_header_expand_height;
		.ui-title {
			transform: translate3d(0, @fixed_header_expand_title_top, 0);
		}
	}
}