/***************************************************************************
                   Common Style

***************************************************************************/
/***************************************************************************
                   Development Tip
  If you want to implement specific css code of circle device,
  you should implement specific code here.
  But when you implement code, you should check duplicate value
  between common/layout.less and this file.
  If you have duplicate value, please change static value to variable value.
***************************************************************************/
body {
	background: @color_bg_cover;
	color : @color_text;
}

.ui-header {
	height: @fixed_header_height;
	line-height: @fixed_header_line_height;
	background-color: transparent;
	.ui-title {
		color: @color_actionbar_title_text;
		text-align: center;
		padding-top: @fixed_header_title_padding_top;
		margin-left: 40 * @unit_base;
		margin-right: 40 * @unit_base;
		padding-left: 24 * @unit_base;
		padding-right: 24 * @unit_base;
		&.ui-icon {
			background: none !important;
			padding-left: 24 * @unit_base;
		}
	}

	&.ui-has-more {
		.ui-title {
			padding-right: 24 * @unit_base;
			-webkit-mask-image: -webkit-linear-gradient(left, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 95%);
		}
		.ui-more {
			position: fixed;
			top: 163 * @px_base;
			right: 8 * @px_base;
			width: @fixed_header_more_width;
			height: @fixed_header_more_height;
			&.ui-icon-overflow {
				background-color: @color_moreoptions_bg;
			}
		}
	}
}
.ui-page {
	background: @color_bg;
	.mask-image('images/Common/masking_bg.png');
	.mask-repeat(no-repeat);
	.mask-size(100% 100%);
	&::before {
		content: "";
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: -1;
		.mask-image('images/Title_bar/b_detail_bg_cover.png');
		.mask-repeat(no-repeat);
		.mask-size(100% 100%);
		background-color: @color_bg_cover;
		pointer-events: none;
	}
	&::after {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		.mask-image('images/List/b_body_edge_shadow.png');
		.mask-repeat(no-repeat);
		.mask-size(100% 100%);
		background-color: @color_bg_cover;
		pointer-events: none;
	}
	.ui-scroller {
		width: 100%;
		height: 100%;
		overflow: hidden;
		overflow-y: auto;
	}
	.ui-content {
		text-align: center;
	}
	.ui-footer.ui-bottom-button{
		position: fixed !important;
		bottom: 0;
		z-index: 1000;
		height: 28%;
		.ui-btn {
			left: 50%;
			width: 195%;
			height: 700%;
			position: relative;
			border-radius: 50%;
			margin: 0;
			padding: 8% 23%;
			-webkit-transition: transform 150ms ease-out;
			-webkit-transform: translate3d(-50%, 0, 0);

			&:active {
				background-color: @color_button_default_press_bg;
				-webkit-transform: translate3d(-50%, -6%, 0);
			}

			&.ui-btn-icon-only::before {
				top: 0;
				transform: translate3d(-50%, 50%, 0);
			}
		}

	}
}

/***************************************************************************
                   Page Scroll
***************************************************************************/
.ui-page.ui-scroll-on {
	.ui-content {
		margin-top: 122 * @unit_base;
		margin-bottom: 114 * @unit_base;
		padding-top: 0;
	}
	.ui-header ~ .ui-content {
		margin-top: 0;
	}
	.ui-content ~ .ui-footer:not(.ui-expandable-footer) {
		margin-top: -85 * @unit_base;
	}
}
