/***************************************************************************
                   Common Style

***************************************************************************/
/***************************************************************************
                   Development Tip
  If you want to implement specific css code of circle device,
  you should implement specific code here.
  But when you implement code, you should check duplicate value
  between common/layout.less and this file.
  If you have duplicate value, please change static value to variable value.
***************************************************************************/
body {
	background: @color_bg_cover;
	color : @color_text;
}

.ui-header {
	.display-flex();
	.flex-direction(column);
	.justify-content(center);
	height: 92 * @unit_base;
	line-height: @fixed_header_line_height;
	background-color: transparent;
	text-align: center;
	margin-top: 23 * @unit_base;

	&.ui-header-medium {
		margin-top: 12 * @unit_base;
	}

	&.ui-header-small {
		margin-top: 2 * @unit_base;
	}
	&.ui-header-smaller {
		margin-top: 2 * @unit_base;
		height: 81 * @unit_base;
		display: flex;
		justify-content: flex-end;
		.ui-title {
			margin-bottom: 5 * @unit_base;
		}
	}
	&.ui-header-big {
		height: 94 * @unit_base;
	}


	.ui-title {
		color: @color_actionbar_title_text;
		margin: 14 * @unit_base 64 * @unit_base;
		padding-left: 0;
		padding-right: 0;
		font-size: @fixed_header_title_font_size;
		-webkit-mask-image: none;
		&.ui-icon {
			background: none !important;
			padding-left: 24 * @unit_base;
		}
	}

	.ui-subtitle {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		color: @color_actionbar_subtitle_text;
		font-size: 24 * @unit_base;
		font-weight: normal;
		margin: -7 * @unit_base 35 * @unit_base 0;
		line-height: 32 * @unit_base;
	}

	&.ui-has-more {
		.ui-title {
			padding-right: 24 * @unit_base;
			-webkit-mask-image: none;
		}
		.ui-more {
			position: fixed;
			top: 50%;
			right: 0;
			width: @fixed_header_more_width;
			height: @fixed_header_more_height;
			transform: translate(0, -50%);
			border: 0 none;
			padding: 0;
			&.ui-icon-overflow {
				.mask-image();
				.mask-position(initial);
				background-color: transparent;
				&[disabled="disabled"] {
					.mask-position(initial);
				}
				&:active {
					background-color: transparent;
				}
				overflow: visible;
			}
		}
	}
}

.ui-more {
	position: fixed;
	top: 50%;
	right: 0;
	width: @fixed_header_more_width;
	height: @fixed_header_more_height;
	transform: translate(0, -50%);
	background-color: transparent;
	overflow: visible;
	border: 0 none;
	padding: 0;
	text-indent: -9999px;
	&::before {
		content: "";
		position: absolute;
		width: 200 * @unit_base;
		height: 200 * @unit_base;
		background-color: @color_moreoptions_handler;
		border-radius: 50%;
		opacity: 0;
		.transform(scale(1));
		top: 50%;
		left: 50%;
		margin-top: -100 * @unit_base;
		margin-left: -100 * @unit_base;
		.transition(all ease-out 200ms);
		pointer-events: none;
	}
	&:active::before {
		opacity: 1;
		.transition(transform ease-out 300ms);
		.transform(scale(1.1));
	}
	&::after {
		content: "";
		position: absolute;
		width: 16 * @unit_base;
		height: 36 * @unit_base;
		.mask-box-image("images/Actionbar/b_more_option.png");
		background-color: @color_moreoptions_bg;
		border-radius: 50%;
		top: 50%;
		right: 6 * @unit_base;
		.transform(translate(0, -50%));
	}
}

.ui-page {
	background: @color_bg;
	.ui-content {
		text-align: center;
		font-size: 32 * @px_base;
		line-height: 42 * @unit_base;

		&.ui-content-padding {
			padding-left: 12 * @unit_base;
			padding-right: 12 * @unit_base;
			font-stretch: ultra-condensed;
			-webkit-font-stretch: ultra-condensed;
		}
	}
	.ui-footer.ui-bottom-button {
		position: fixed !important;
		bottom: 0;
		z-index: 1000;
		max-height: 100 * @unit_base;
		font-size: 32 * @px_base;
		.display-flex();
		.flex-direction(column);
		.justify-content(flex-end);

		.ui-btn {
			.display-flex();
			.flex-direction(column);
			.justify-content(center);
			.align-items(center);

			line-height: 37 * @unit_base;
			height: 78 * @unit_base;
			position: relative;
			margin: 0;
			padding: 0 0 5 * @unit_base 0;
			background-color: @color_footer_button_bg;
			.mask-image("images/Bottom_button/tw_bottom_btn_bg.png");
			.mask-size(100% 100%);

			&::after {
				content: "";
				position:absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				background-color: @color_footer_button_bg_press;
				.transition(opacity 200ms);
				opacity: 0;
				z-index: -1;
			}

			&.ui-btn-active::after {
				animation: btn-footer-opacity-press linear 565ms;
			}
			&.ui-btn-icon-only {
				padding-bottom: 0;
			}
		}

	}
}

/***************************************************************************
                   Page Scroll
***************************************************************************/
.ui-page.ui-scroll-on {
	overflow: hidden;
	.touch-scrolling-clear();

	.ui-content {
		margin-top: 76 * @unit_base;
		padding-bottom: 115 * @unit_base;
		padding-top: 0;
	}
	.ui-header  {
		~ .ui-content {
			margin-top: 0;
		}
		~ .ui-scroller > .ui-content {
			margin-top: 0;
		}
	}
	.ui-content ~ .ui-footer:not(.ui-expandable-footer) {
		margin-top: -85 * @unit_base;
	}
}
