/***************************************************************************
				  listview
***************************************************************************/
.ui-listview {
	li {
		font-size: @font_size_list_item;
		min-height: @list_item_min_height;
		padding: @list_item_padding;
		border-bottom: 0;
		color: @color_listview_text;
		text-align: center;
		line-height: @list_item_line_height;

		&.ui-listview-divider {
			height: 33 * @unit_base;
			min-height: 33 * @unit_base;
			line-height: 31 * @unit_base;
			background-color: transparent;
			color: @color_list_divider_text;
			display: -webkit-flex;
			padding: 0;
			&::before {
				content:"";
				height: 100%;
				width: auto;
				.mask-image("images/listview/tw_list_sub_line_left.png");
				.mask-repeat(no-repeat);
				.mask-size(100% 2px);
				.mask-position(-12 * @unit_base 50%);
				background: @color_list_divider_bg;
				-webkit-flex: 1
			}
			&::after {
				content:"";
				height: 100%;
				width: auto;
				.mask-image("images/listview/tw_list_sub_line_right.png");
				.mask-repeat(no-repeat);
				.mask-size(100% 2px);
				.mask-position(12 * @unit_base 50%);
				background: @color_list_divider_bg;
				-webkit-flex: 1
			}
		}
		&.ui-li-btn {
			padding: 0;
			.ui-btn {
				padding: @list_btn_padding;
				margin: 0;
				line-height: inherit;
			}

			&.ui-grid-col-2 .ui-btn {
				padding: @list_2btn_padding;
			}
			&.ui-grid-col-3 {
				.ui-btn {
					padding: @list_3btn_padding;
					height: 100%;
					text-indent: -9999px;
				}
			}
		}
		> * {
			color: @color_listview_text;
		}

		> a, button {
			padding: @list_item_anchor_padding;
			margin: @list_anchor_margin;
		}

		&.ui-li-active {
			background-color: transparent;
			color: @color_listview_text_press;
		}
		&:last-child {
			border: 0;
		}
	}

	&.ui-snap-listview {
		.ui-li-sub-text {
			color: @color_listview_sub_text;
			font-size: 24 * @unit_base;
		}

		&::before {
			content: "";
			position: fixed;
			width: 96%;
			height: @list_item_min_height;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			background-image: -webkit-radial-gradient(@color_listview_focus_ef -90%, transparent),
				-webkit-radial-gradient(@color_listview_focus 100%, transparent);
			border-radius:20vw;
			pointer-events: none;
		}

		&.ui-state-disabled {
			position: relative;
			&::before {
				top: 0;
				transform: translate(-50%, 0);
				position: absolute;
			}
		}
		li {
			&.ui-li-active {
				background-color: transparent;
				color: @color_listview_text_press;
				&::before {
					content: "";
					position: absolute;
					width: 96%;
					height: @list_item_min_height;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					background-image: -webkit-radial-gradient(@color_listview_focus_ef_press -90%, transparent), -webkit-radial-gradient(@color_listview_focus_press 100%, transparent);
					border-radius:20vw;
				}
			}
		}
	}
}
