/***************************************************************************
                  listview
***************************************************************************/
.ui-listview {
	li {
		font-size: @font_size_list_item;
		min-height: @list_item_min_height;
		padding: @list_item_padding;
		border-bottom: 1px solid @color_listview_border;
		color: @color_listview_text;
		text-align: center;

		> * {
			color: @color_listview_text;
		}

		> a {
			padding: @list_item_anchor_padding;
			margin: @list_anchor_margin;
		}

		&.ui-li-active {
			background-color: @color_list_press_bg;
			color: @color_listview_text_press;
		}
	}

	.li-divider {
		height: 33 * @unit_base;
		min-height: 33 * @unit_base;
		line-height: 31 * @unit_base;
		background-color: @color_list_divider_bg;
		color: @color_list_divider_text;
		padding: 0;
	}

	.ui-li-sub-text {
		color: @color_listview_sub_text;
	}
}

.ui-header + .ui-content .ui-listview li:first-child {
	border-top: 1px solid @color_listview_border;
}
