/***************************************************************************
				  popup
***************************************************************************/

@font_size_popup_toast: 24 * @unit_base;
@font_size_popup_body: 34 * @unit_base;

.ui-popup {
	width: 100%;
	height: 100%;
	overflow: hidden;
	border: 0;
	border-radius: 50% 50%;
	background-color: @color_popup_bg;

	& ::-webkit-scrollbar {
		display: none;
	}

	.ui-popup-header {
		text-align: center;
		min-height: @fixed_popup_header_height;
		background-color: transparent;
		color: @color_popup_title_text;
		padding-top: @fixed_popup_header_padding_top;
		padding-right: @fixed_popup_header_padding_right;
		padding-bottom: 0;
		padding-left: @fixed_popup_header_padding_left;
		+ .ui-popup-content {
			padding-top: 26 * @px_base;
		}
	}

	.ui-popup-content {
		color: @color_popup_content_text;
		background-color: transparent;
		font-size: 32 * @px_base;
		line-height: 42 * @unit_base;
		padding: 60 * @unit_base 30 * @unit_base 10 * @unit_base;
		text-align: center;
		.ui-listview,
		.ui-inline-listview {
			margin: -25 * @unit_base -55 * @unit_base -16 * @unit_base -55 * @unit_base;
		}

	}

	&.ui-has-side-buttons .ui-popup-content {
		padding-left: 64 * @unit_base;
		padding-right: 64 * @unit_base;
	}

	.ui-popup-footer.ui-side-button {
		.ui-btn {
			top: 0;
			height: 100%;
			width: 64 * @unit_base;
			border: none;
			position: fixed;
			text-indent: -9999px;
			&::before {
				content: "";
				-webkit-mask-size: @fixed_popup_icon_width @fixed_popup_icon_height;
				-webkit-mask-repeat: no-repeat;
				width: @fixed_popup_icon_width;
				height: @fixed_popup_icon_height;
				position: absolute;
			}
			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}
		}

		.ui-btn {
			background-color: @color_footer_button_bg;
			.mask-size(100% 100%);

			&::before {
				left: 50%;
				top: 50%;
				-webkit-transform: translate3d(-50%, -50%, 0);
			}
			&::after {
				background-color: @color_footer_button_bg_press;
				z-index: -1;
			}
			&.ui-btn-active::after {
				animation: btn-footer-opacity-press linear 565ms;
			}
			&:nth-child(1) {
				.mask-image("images/Popup/tw_ic_popup_left_btn_bg.png");
				left: 0;
			}
			&:nth-child(2) {
				.mask-image("images/Popup/tw_ic_popup_right_btn_bg.png");
				right: 0;
			}
		}
	}

	.ui-popup-footer.ui-bottom-button {
		.ui-btn {
			position: fixed;
			bottom: 0;
			height: 100 * @unit_base;
			width: 100%;
			border: none;
			line-height: 90 * @unit_base;
			padding: 0 0 10 * @unit_base 0;
			background-color: @color_footer_button_bg;
			.mask-image("images/Bottom_button/tw_bottom_btn_bg.png");
			.mask-size(100% 100%);

			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				background-color: @color_footer_button_bg_press;
				opacity: 0;
				z-index: -1;
			}
			&.ui-btn-active::after {
				animation: btn-footer-opacity-press linear 565ms;
			}
		}
	}

	&-more-options {
		background-color: transparent;

		.ui-selector {
			background-color: @color_more_options_bg;

			.ui-selector-indicator-text {
				color: @color_more_options_indicator_text;
			}

			.ui-selector-indicator-subtext {
				color: @color_more_options_indicator_subtext;
			}

			.ui-layer {
				.ui-item {
					background-color: @color_more_options_icon_bg;

					&:active {
						background-color: @color_more_options_icon_bg_press;
					}

					&.ui-item-active:active {
						background-color: @color_more_options_icon_bg_active;
					}

					&::before {
						background-color: @color_more_options_icon;

						&:active {
							background-color: @color_more_options_icon_press;
						}
					}

					&.ui-item-active::before {
						background-color: @color_more_options_icon_active
					}
				}
			}
		}
	}
}
/***********************
Popup Container Scroll
***********************/
.ui-popup.ui-scroll-on:not(.ui-ctxpopup):not(.ui-popup-toast) {
	.ui-popup-wrapper::after {
		content: "";
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		background-color: @color_popup_edge_inner_glow;
		-webkit-mask-image: url(./images/Popup/b_popup_edge_inner_glow.png);
		-webkit-mask-size: 100% 100%;
	}

	.ui-popup-content {
		margin-top: 76 * @unit_base;
		margin-bottom: 76 * @unit_base;
		padding-top: 0;
	}

	.ui-popup-header + .ui-popup-content {
		margin-top: 0;
		padding-top: 8 * @px_base;
	}

	.ui-popup-footer {
		margin-top: -76 * @unit_base;
	}
}

/****************************************
Popup Toast
****************************************/
.sprite(@x, @xsize, @ysize, @count, @totalCount) when (@count > 0) {
	.sprite(@x, @xsize, @ysize, (@count - 1), @totalCount);
	@timePercentage: round((100/(@totalCount - 1)) * (@count - 1)) * 1%;
	@{timePercentage} {
		-webkit-mask-position: (mod((@count - 1), @x) * @xsize)  (floor((@count - 1) / @x)) * @ysize;
	}
}

@-webkit-keyframes toastCheck {
	.sprite(4, -82px, -82px, 19, 19);
}

.ui-popup.ui-popup-toast {
	min-height: 100%;
	background-color: @color_toast_popup_bg;
	background-image: none;
	border: none;
	margin: 0;
	.ui-popup-wrapper {
		height: 100vh !important;
	}
	.ui-popup-content {
		height: auto;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		background-color: transparent;
		color: @color_toast_text;
		font-size: 32 * @px_base;
		text-align: center;
		line-height: 43 * @px_base;
	}
}

.ui-popup.ui-popup-toast.ui-popup-toast-graphic {
	.ui-popup-toast-check-icon {
		width: 82 * @unit_base;
		height: 82 * @unit_base;
		-webkit-mask-image: url("./images/Popup/toast_check.png");
		-webkit-mask-repeat: no-repeat;
		-webkit-animation-name: toastCheck;
		-webkit-animation-duration: 300ms;
		-webkit-animation-delay: 300ms;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-timing-function: step-start;
		-webkit-animation-fill-mode: forwards;
		background-color: @color_popup_toast_check;
		&::after {
			content: none;
		}
	}
}
/***********************
Option Popup
***********************/
.ui-popup.ui-ctxpopup {
	height: auto;
}
