/***************************************************************************
                  popup
***************************************************************************/

@font_size_popup_toast: 24 * @unit_base;
@font_size_popup_body: 34 * @unit_base;

/***********************
Normal Popup
***********************/
.ui-popup {
	border-radius: 50%;
	overflow: hidden;
	background-color: @color_popup_bg;
	border: 3px solid @color_popup_border;

	.ui-popup-header {
		text-align: center;
		min-height: @fixed_popup_header_height;
		background-color: @color_popup_bg;
		color: @color_popup_title_text;
		padding-top: @fixed_popup_header_padding_top;
		padding-right: @fixed_popup_header_padding_right;
		padding-bottom: @fixed_popup_header_padding_bottom;
		padding-left: @fixed_popup_header_padding_left;
		+ .ui-popup-content {
			padding-top: 26 * @px_base;
		}
	}

	.ui-popup-content {
		color: @color_popup_content_text;
		background-color: @color_popup_bg;
		padding: 58*@px_base 39*@px_base 16*@px_base 39*@px_base;
		.ui-listview,
		.ui-inline-listview {
			margin: -25*@unit_base -39*@unit_base -16*@unit_base -39*@unit_base;
		}
	}

	.ui-popup-footer {
		height: @fixed_popup_footer_height;
		.ui-btn {
			height: 100%;
			text-indent: -9999px;
			padding-top: @fixed_popup_footer_btn_padding_top;
			padding-bottom: @fixed_popup_footer_btn_padding_bottom;
			&.ui-btn-footer-icon {
				position: relative;
				&:first-child::before {
					right: 30 * @unit_base;
				}
				&:last-child::before {
					left: 30 * @unit_base;
				}
				&:only-child::before {
					left: 145 * @unit_base;
				}
				&::before {
					content: "";
					background-color: white;
					-webkit-mask-size: 60 * @unit_base 60 * @unit_base;
					-webkit-mask-repeat: no-repeat;
					width: 60 * @unit_base;
					height: 60 * @unit_base;
					position: absolute;
					bottom: @fixed_popup_footer_btn_padding_bottom;
				}
			}
		}
	}
}

/***********************
Popup Container Scroll
***********************/
.ui-popup.ui-scroll-on:not(.ui-ctxpopup):not(.ui-popup-toast) {
	.ui-popup-content {
		margin-top: 122*@unit_base;
		margin-bottom: 98*@unit_base;
		padding-top: 0;
	}

	.ui-popup-header + .ui-popup-content {
		margin-top: 0;
		padding-top: 26*@px_base;
	}

	.ui-popup-content + .ui-popup-footer:not(.ui-expandable-footer) {
		margin-top: -98*@unit_base;
	}
}

/****************************************
Popup Toast
****************************************/
.ui-popup.ui-popup-toast {
	bottom: 51 * @unit_base;
	border: 3px solid @color_toast_popup_border;
	.ui-popup-content {
		background-color: @color_popup_bg;
	}
}

/***********************
Option Popup
***********************/
.ui-popup.ui-ctxpopup {
	background-color: transparent;
	left: 50% !important;
	margin-left: -100.5 * @unit_base;
	top: 50% !important;
	margin-top: -100.5 *@unit_base;
	width: 201 * @unit_base;

	div&.ui-popup-content-size {
		width: 201 * @unit_base;
	}
	&.ui-popup-arrow-t,
	&.ui-popup-arrow-b,
	&.ui-popup-arrow-r,
	&.ui-popup-arrow-l {
		padding: 0;
		.ui-arrow > span {
			background-color: @color_option_popup_bg;
			border: 0;
		}
	}
	&.ui-popup-arrow-t,
	&.ui-popup-arrow-b {
		.ui-arrow {
			left: 82.5 * @unit_base !important;
		}
	}
	&.ui-popup-arrow-r,
	&.ui-popup-arrow-l {
		.ui-arrow {
			top: 93.5 * @unit_base !important;
		}
	}
	.ui-popup-content {
		-webkit-border-radius: 50%;
		-webkit-mask-image: -webkit-radial-gradient(#000000 100.5 * @unit_base, transparent 0);
		height: 201 * @unit_base !important;
		min-height: 201 * @unit_base !important;
		background-color: @color_option_popup_bg;
		border: 1px solid @color_option_popup_border;
		padding: 0;
		border: 0;
		.ui-listview {
			margin: 0;
			li {
				font-size: 28 * @unit_base;
				min-height: 100 * @unit_base;
				text-align: center;
				line-height: 58 * @unit_base;
				border-bottom: 1px solid @color_option_popup_list_border;
				color: @color_option_popup_list_text;
				a {
					color: @color_option_popup_list_text;
					margin: -23.5 * @unit_base -16 * @unit_base;
					padding: 23.5 * @unit_base 16 * @unit_base;
					min-height: 53 * @unit_base;
					&:active {
						color: @color_option_popup_list_text_pressed;
						background-color: @color_option_popup_list_bg_pressed;
					}
				}
			}
		}
		.ui-inline-listview {
			height: initial;
			overflow:hidden;
			width: 201 * @unit_base !important;
			margin: 0;

			li {
				font-size: 28 * @unit_base;
				float:none;
				min-height: 100 * @unit_base;
				line-height: 58*@unit_base;
				text-align: center;
				border-bottom: 1px solid @color_option_popup_list_border;
				border-right: 0;

				a {
					margin: 0;
					padding: 0;
					line-height: 100 * @unit_base;
					color: @color_option_popup_list_text;
					&:active {
						color: @color_option_popup_list_text_pressed;
						background-color: @color_option_popup_list_bg_pressed;
					}
				}
			}

			.ui-list-icon-notext {
				width: 100%;
				height: 100%;
			}
		}
	}
}
