/***************************************************************************
                  processing
***************************************************************************/

.ui-processing {
	background-color: @color_processing_activity_01;
}

.ui-full-circle-processing::after {
	background-color: @color_full_processing;
}

.ui-full-circle-processing::before {
	background-color: @color_full_processing_line;
}
