.ui-selector {
	background-color: @color_selector_layer_bg;
	.ui-layer {

		.ui-item {
			background-color: @color_selector_icon_bg;

			&:active {
				background-color: @color_selector_icon_bg_press;
			}
			&.ui-item-active:active {
				background-color: @color_selector_icon_bg;
			}
		}

		&.ui-layer-prev,  &.ui-layer-next {
			background-color: @color_selector_btn;
		}

		&.ui-layer-prev:active, &.ui-layer-next:active {
			background-color: @color_selector_btn_press;
		}
	}
	.ui-selector-indicator {
		font-size: 30 * @unit_base;
		.ui-selector-indicator-text {
			color: @color_selector_text;
		}

		.ui-selector-indicator-subtext {
			color: @color_selector_subtext;
		}

		&:active + .ui-selector-indicator-arrow::before {
			background-color: @color_selector_handler_bg_pressed;
		}
	}

	.ui-selector-indicator-arrow {
		&::before {
			background-color: @color_selector_handler_bg;
		}
	}
}
