/************************
Listview
*************************/
@list_item_min_height: 115 * @unit_base;
@list_item_padding: 32.7*@unit_base 40*@unit_base 20*@unit_base 40*@unit_base;
@list_item_anchor_padding: 33.5 * @unit_base 40 * @unit_base;
@font_size_list_item: 36 * @unit_base;
@list_anchor_margin: -32.7*@unit_base -40*@unit_base;