.ui-time-picker.ui-number-picker-container {
	height: 110 * @unit_base;
	display: block;
}
.ui-time-picker-container-hours {
	float: left;
	height: inherit;
	width: 80 * @unit_base;
}
.ui-time-picker {
	div {
	  font-size: 40 * @unit_base;
		label {
			font-size: 1rem;
		}
	}
}
.ui-time-picker-colon-container {
	float: left;
	height: inherit;
	width: 12 * @unit_base;
	margin-left: 8 * @unit_base;
	padding-top: 35 * @unit_base;
	span {
		content: ":";
	}
}
.ui-time-picker-container-minutes {
	float: left;
	height: inherit;
	margin-left: 8 * @unit_base;
	width: 80 * @unit_base;
}
.ui-time-picker-container-ampm {
	float: left;
	height: inherit;
	margin-left: 8 * @unit_base;
	width: 100 * @unit_base;
	padding-top: 40 * @unit_base;
}
.ui-number-picker-label {
	display: block;
	width: 80 * @unit_base;
}
.ui-number-picker-number {
	width: 80 * @unit_base;
	display: block;
}
.ui-time-picker-am-pm {
	margin-left: 32 * @unit_base;
}
.ui-time-picker-no-am-pm {
	margin-left: 86 * @unit_base;
}
