/***************************************************************************
                  toggle switch
***************************************************************************/
.ui-switch-text {
	margin-top: @fixed_toggleswitch_text_margin_top;
	margin-bottom: @fixed_toggleswitch_text_margin_bottom;
	font-size: @fixed_toggleswitch_text_font_size;
	padding: 0;
}
.ui-switch-sub-text {
	margin-top: @fixed_toggleswitch_sub_text_margin_top;
	margin-bottom: @fixed_toggleswitch_sub_text_margin_bottom;
	font-size: @fixed_toggleswitch_sub_text_font_size;
	color: @color_switch_sub_text;
}

.ui-toggleswitch {
	width: @fixed_toggleswitch_width;
	height: @fixed_toggleswitch_height;

	& .ui-switch-input {
		&::before {
			-webkit-mask-image: @image_toggle_mask;
			-webkit-mask-size: @fixed_toggleswitch_width;
			// when the xml code is changed, all the bg-color variables must be changed.
			background-color: @color_toggle_off_bg_press;
			.transition-duration(@toggle_transition_duration);
		}
		&:active {
			&::before {
				.transition-duration(0);
				background-color: @color_toggle_off_bg_dim;
			}
			&~ .ui-switch-activation,
			~ .ui-switch-button{
				.transition-duration(0);
				background-color: @color_toggle_off_handler_off_dim;
				&::before {
					background-color: @color_toggle_off_handler_dim;
				}
			}
		}
	}

	& .ui-switch-activation,
	.ui-switch-button {
		width: @fixed_toggleswitch_handler_width;
		height: @fixed_toggleswitch_handler_height;
		-webkit-mask-image: @image_toggle_mask;
		-webkit-mask-size: @fixed_toggleswitch_width;
		-webkit-mask-position: @fixed_toggleswitch_handle_position;
		background-color: @color_toggle_off_handler_off;
		.transition-duration(@toggle_transition_duration);

		&::before {
			-webkit-mask-image: @image_toggle_mask;
			-webkit-mask-size: @fixed_toggleswitch_width;
			-webkit-mask-repeat: no-repeat;
			-webkit-mask-position: @fixed_toggleswitch_on_position;
			background-color: @color_toggle_off_handler;
		}
	}

	& .ui-switch-input:checked {
		&~ .ui-switch-activation,
		~ .ui-switch-button {
			width: @fixed_toggleswitch_handler_width;
			height: @fixed_toggleswitch_handler_height;
			-webkit-mask-position: @fixed_toggleswitch_handle_position;
			background-color: @color_toggle_on_handler_on;
			.transform(translate3d(@fixed_toggleswitch_handle_on_margin_left,0,0));
			&::before {
				-webkit-mask-position: @fixed_toggleswitch_off_position;
				background-color: @color_toggle_on_handler;
			}
		}

		&::before {
			background-color: @color_toggle_on_bg_press;
		}

		&:active {
			&::before {
				background-color: @color_toggle_on_bg_dim;
			}
			&~ .ui-switch-activation, ~ .ui-switch-button {
				background-color: @color_toggle_on_handler_on_dim;
				&::before {
					background-color: @color_toggle_on_handler_dim;
				}
			}
		}
	}

	&.ui-switch-large {
		width: @fixed_toggleswitch_large_width;
		height: @fixed_toggleswitch_large_height;

		& .ui-switch-activation, .ui-switch-button {
			width: @fixed_toggleswitch_large_handler_width;
			height: @fixed_toggleswitch_large_handler_height;
			-webkit-mask-image: @image_toggle_large_mask;
			-webkit-mask-size: @fixed_toggleswitch_large_width;
			-webkit-mask-position: @fixed_toggleswitch_large_handle_position;
			&::before {
				-webkit-mask-image: @image_toggle_large_mask;
				-webkit-mask-size: @fixed_toggleswitch_large_width;
				-webkit-mask-position: @fixed_toggleswitch_large_on_position;
			}
		}

		& .ui-switch-input {
			&::before {
				-webkit-mask-image: @image_toggle_large_mask;
				-webkit-mask-size: @fixed_toggleswitch_large_width;
			}
		}

		& .ui-switch-input:checked {
			&~ .ui-switch-activation,
			~ .ui-switch-button {
				width: @fixed_toggleswitch_large_handler_width;
				height: @fixed_toggleswitch_large_handler_height;
				-webkit-mask-position: @fixed_toggleswitch_large_handle_position;
				.transform(translate3d(@fixed_toggleswitch_large_handle_on_margin_left,0,0));
				&::before {
					-webkit-mask-position: @fixed_toggleswitch_large_off_position;
				}
			}
		}
	}
}
