.genlist-call {
	position: absolute;
	background-image: url("./images/b_logs_gradient_bg.png");
	width: 100%;
}
.genlist-message {
	position: absolute;
	background-image: url("./images/b_logs_gradient_bg2.png");
	width: 100%;
}
.genlist-call-inner-icon {
	width: 64px;
	height: 90px;
	margin-left: 6px;
	background-image: url("./images/b_logs_icon_body_btn_call_nor.png");
	float: left;
}
.genlist-call-inner-text {
	font-size: 34px;
	float: right;
	margin: 19px 16px 19px 6px;
	height: 52px;
	width: 228px;
	text-align: center;
}
.genlist-message-inner-icon {
	width: 64px;
	height: 90px;
	margin-right: 6px;
	background-image: url("./images/b_logs_icon_actionbar_btn_msg_nor.png");
	float: right;
}
.genlist-message-inner-text {
	font-size: 34px;
	float: right;
	margin: 19px 6px 19px 16px;
	height: 52px;
	width: 228px;
	text-align: center;
}
