@import "../common/checkboxradio.less";

input[type="checkbox"] {
	&::before {
		content: "";
		-webkit-mask-image: url(images/Controller_icon/tw_btn_check_holo_dark.png);
		-webkit-mask-repeat: no-repeat;
		background-color: @color_checkboxradio_check;
		width: 0;
		height: 56px;
		position: absolute;
		-webkit-transition: width 150ms;
	}
	&:checked::before {
		width: 56px;
	}
}

input[type="radio"] {
	&::before {
		content: "";
		background-color: @color_checkboxradio_radio;
		-webkit-mask-image: url(images/Controller_icon/tw_btn_radio_holo_dark.png);
		-webkit-mask-repeat: no-repeat;
		width: 56px;
		height: 56px;
		position: absolute;
		-webkit-transform: scale3d(0,0,0);
		-webkit-transition: -webkit-transform 150ms;
	}
	&:checked::before {
		-webkit-transform: scale3d(1,1,1);
	}
}
