@font_size_default: 16px;	// Default unit font size. DO NOT USE THIS VALUE IN WIDGET CSS!

@rem_base: (1rem/@font_size_default);
@em_base: 1em/@font_size_default;	// WARNING: Don't use em unit!	This value is to be removed.
@px_base: 1px;

@unit_base: @rem_base;