/***************************************************************************
                   Footer Style (New style)
***************************************************************************/
@temp_unit_base: 1px;

.ui-page, .ui-popup {
	.ui-expandable-footer {

		bottom: -55 * @temp_unit_base;
		text-indent: -9999 * @temp_unit_base;

		/*
		* TODO: delete top value in oribis device
		*/
		top: 262 * @temp_unit_base;
		&.ui-expand .ui-btn.ui-btn-footer-icon {
			line-height: 145 * @temp_unit_base;
			font-size: 28 * @temp_unit_base;
			text-indent: -4 * @temp_unit_base;

		}
		.ui-btn.ui-btn-footer-icon::before {
			top: 15 * @temp_unit_base;
		}
		&.ui-grid-col-2.ui-expand .ui-btn.ui-btn-footer-icon:first-child {
			line-height: 145 * @temp_unit_base;
			font-size: 28 * @temp_unit_base;
			text-indent: 58 * @temp_unit_base;

		}
		&.ui-grid-col-2.ui-expand .ui-btn.ui-btn-footer-icon:last-child {
			line-height: 145 * @temp_unit_base;
			font-size: 28 * @temp_unit_base;
			text-indent: -58 * @temp_unit_base;

		}
	}
	.ui-footer {
		&.ui-expandable-footer {
			height: 153 * @temp_unit_base;
			position: fixed;
		}
	}
	.ui-popup-footer {
		&.ui-expandable-footer {
			height: 153 * @temp_unit_base;
			position: absolute;
			transform: translate(0, 0, 0);
		}
	}
}