@import "../common/layout.less";

/***************************************************************************
                   Common Style

***************************************************************************/
/***************************************************************************
                   Development Tip
  If you want to implement specific css code of circle device,
  you should implement specific code here.
  But when you implement code, you should check duplicate value
  between common/layout.less and this file.
  If you have duplicate value, please change static value to variable value.
***************************************************************************/
.ui-header {
	.ui-title {
		text-align: center;
		padding-top: @fixed_header_title_padding_top;

		&.ui-icon {
			padding-left: 0;
			background: none !important;
		}
	}

	&.ui-has-more {
		.ui-title {
			padding-right: 0;
		}

		.ui-more {
			display:none !important;
		}
	}
}

.ui-header-small {
	height: @fixed_header_has_sub_title_height;
	.ui-title {
		padding-top: @fixed_header_has_sub_title_padding_top;
	}
}
