/************************
Listview
*************************/
.ui-listview li {
	font-size: @font_size_list_item;
	min-height: @list_item_min_height;
	padding: @list_item_padding;
	> a {
		padding: @list_item_anchor_padding;
		margin: @list_anchor_margin;
	}
}