/***************************************************************************
                  Body
***************************************************************************/
@color_bg: B011;
@color_text: T0811;

/***************************************************************************
                   Checkbox/Radio
***************************************************************************/
@color_checkboxradio_radio: W013L2;
@color_checkboxradio_check: W012L2;

/****************************************************************************
		Toggle Switch
****************************************************************************/
@color_switch_text: T0811;
@color_switch_sub_text: T161;
@color_toggle_on_bg: W014L1;
@color_toggle_on_bg_press: W014L1P;
@color_toggle_on_bg_dim: W014L1D;
@color_toggle_off_bg: W014L2;
@color_toggle_off_bg_press: W014L2P;
@color_toggle_off_bg_dim: W014L2D;
@color_toggle_on_handler: W014L3;
@color_toggle_on_handler_press: W014L3P;
@color_toggle_on_handler_dim: W014L3D;
@color_toggle_off_handler: W014L4;
@color_toggle_off_handler_press: W014L4P;
@color_toggle_off_handler_dim: W014L4D;
@color_toggle_on_handler_on: W014L5;
@color_toggle_on_handler_on_press: W014L5P;
@color_toggle_on_handler_on_dim: W014L5D;
@color_toggle_off_handler_off: W014L6;
@color_toggle_off_handler_off_press: W014L6P;
@color_toggle_off_handler_off_dim: W014L6D;
@image_toggle_mask: url(images/Controller_icon/toggle_list_circle.png);
@image_toggle_large_mask: url(images/Controller_icon/toggle_circle.png);

/***************************************************************************
                   Option Popup
***************************************************************************/
@color_option_popup_bg: W011;
@color_option_popup_list_border: B212;
@color_option_popup_list_text: T181;