#circleprogress-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

#result {
    font-size: 30px;
    bottom: 50px;
    position: fixed;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}

#pageRotaryEvent::after {
	content: "This component is not supported in rectangular device";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	display: -webkit-flex;
	background-color: rgba(0, 0, 0, 0.6);
	color: rgba(0,149,255,1);
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	-webkit-align-items: center;
	-webkit-justify-content: center;
}

@media all and (-tizen-geometric-shape: circle) {
	#pageRotaryEvent::after {
		content: none;
	}
}
