<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../lib/tau/mobile/theme/default/tau.min.css">
	<link rel="stylesheet" href="../../css/custom.css">
	<script type="text/javascript" src="../../lib/tau/mobile/js/tau.min.js" data-build-remove="false"></script>
</head>
<body>
<div data-role="page" id="activityindicator-demo">
    <div data-role="header" data-position="fixed">
        <h1>Activity Indicator</h1>
    </div><!-- /header -->
    <div data-role="content">
        <p class="activity-p">1. Large Indicator</p>
        <div class="activity-bg">
            <div data-role="activity-indicator" data-size="large" id="activity-large" class="activity-circle"></div>
        </div>
        <p class="activity-p">2. Medium Indicator</p>
        <div class="activity-bg">
            <div data-role="activity-indicator" data-size="medium" id="activity-medium" class="activity-circle"></div>
        </div>
        <p class="activity-p">3. Small Indicator</p>
        <div class="activity-bg">
            <div data-role="activity-indicator" data-size="small" id="activity-small" class="activity-circle"></div>
        </div>
    </div><!-- /content -->
</div><!-- /page -->
</body>
</html>