<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../lib/tau/mobile/theme/default/tau.min.css">
	<link rel="stylesheet" href="../../css/custom.css">
	<script type="text/javascript" src="../../lib/tau/mobile/js/tau.min.js" data-build-remove="false"></script>
</head>
<body>
<div data-role="page" id="h-handler-demo">
	<style>
		div.horizontal {
			display: inline-block;
			white-space: nowrap;
		}
		div.horizontal div.item {
			display: inline-block;
			white-space: normal;
			width: 200px;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			vertical-align: top;
			text-align: center;
			line-height: 200px;
			background-color: black;
			color: white;
			maring-top: 5px;
		}
	</style>

	<div data-role="header" data-position="fixed">
		<h1>Horizontal Handler</h1>
	</div><!-- /header -->
	<div data-role="content" data-direction="x" data-handler="true">
		<div class="horizontal">
			<div class="item">1</div>
			<div class="item">2</div>
			<div class="item">3</div>
			<div class="item">4</div>
			<div class="item">5</div>
			<div class="item">6</div>
			<div class="item">7</div>
			<div class="item">8</div>
			<div class="item">9</div>
		</div>
	</div><!-- /content -->
</div><!-- /page -->
</body>
</html>
