<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../lib/tau/mobile/theme/default/tau.min.css">
	<link rel="stylesheet" href="../../css/custom.css">
	<script type="text/javascript" src="../../lib/tau/mobile/js/tau.min.js" data-build-remove="false"></script>
</head>
<body>
<div data-role="page" id="handler-demo">
	<div data-role="header" data-position="fixed">
		<h1>Handler</h1>
	</div><!-- /header -->
	<div data-role="content">
		<ul data-role="listview">
			<li class="ui-li-anchor"><a href="handler-horizontal.html">Horizontal handler</a></li>
			<li class="ui-li-anchor"><a href="handler-vertical.html">Vertical handler</a></li>
		</ul>
	</div><!-- /content -->
</div><!-- /page -->
</body>
</html>
