<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet"  href="../../lib/tau/mobile/theme/default/tau.css">
	<script type="text/javascript" src="../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<div data-role="page" id="demo-page">
	<div data-role="header" data-position="fixed">
		<h1>Controls</h1>
	</div>
	<div data-role="content">
		<ul data-role="listview">
			<li><a href="button/index.html">Button</a></li>
			<li><a href="dropdownmenu.html">Dropdown Menu</a></li>
			<li><a href="toggleswitch.html">Toggle</a></li>
			<li><a href="checkbox.html">Check Box</a></li>
			<li><a href="radio.html">Radio Button</a></li>
			<li><a href="floatingbutton/index.html">Floating Button</a></li>
			<li><a href="#">Input Box</a></li>
			<li><a href="#">Token Text Area</a></li>
			<li><a href="#">Search Filter Bar</a></li>
			<li><a href="activityindicator.html">Activity Indicator</a></li>
			<li><a href="#">Progress Indicator</a></li>
			<li><a href="#">Slider</a></li>
			<li><a href="pageindicator.html">Page Indicator</a></li>
			<li><a href="handler.html">Handler</a></li>
			<li><a href="#">Fast Scroll</a></li>
			<li><a href="#">Picker</a></li>
		</ul>
	</div>
</div>
</body>
</html>
