<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../lib/tau/mobile/theme/default/tau.min.css">
	<link rel="stylesheet" href="../../css/custom.css">
	<script type="text/javascript" src="../../lib/tau/mobile/js/tau.min.js" data-build-remove="false"></script>
</head>
<body>
<div data-role="page" id="demo-page">
	<div data-role="header" data-position="fixed">
		<h1>Controls</h1>
	</div>
	<div data-role="content">
		<ul data-role="listview">
			<li class="ui-li-anchor"><a href="button/index.html">Button</a></li>
			<li class="ui-li-anchor"><a href="dropdownmenu.html">Dropdown Menu</a></li>
			<li class="ui-li-anchor"><a href="toggleswitch.html">Toggle</a></li>
			<li class="ui-li-anchor"><a href="checkbox.html">Check Box</a></li>
			<li class="ui-li-anchor"><a href="radio.html">Radio Button</a></li>
			<li class="ui-li-anchor"><a href="floatingactions/index.html">Floating Actions</a></li>
			<li class="ui-li-anchor"><a href="textinput.html">Text Input</a></li>
			<li class="ui-li-anchor"><a href="#">Token Text Area</a></li>
			<li class="ui-li-anchor"><a href="#">Search Filter Bar</a></li>
			<li class="ui-li-anchor"><a href="activityindicator.html">Activity Indicator</a></li>
			<li class="ui-li-anchor"><a href="progressindicator.html">Progress Indicator</a></li>
			<li class="ui-li-anchor"><a href="slider.html">Slider</a></li>
			<li class="ui-li-anchor"><a href="pageindicator.html">Page Indicator</a></li>
			<li class="ui-li-anchor"><a href="handler.html">Handler</a></li>
			<li class="ui-li-anchor"><a href="#">Fast Scroll</a></li>
			<li class="ui-li-anchor"><a href="#">Picker</a></li>
		</ul>
	</div>
</div>
</body>
</html>
