<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../lib/tau/mobile/theme/default/tau.min.css">
	<link rel="stylesheet" href="../../css/custom.css">
	<script type="text/javascript" src="../../lib/tau/mobile/js/tau.min.js" data-build-remove="false"></script>
</head>
<body>
<div class="ui-page" id="page-indicator-page">
    <div class="ui-header" data-position="fixed">
        <h1>Controls</h1>
    </div>
    <div class="ui-content ui-scrollview-clip">
    <div class="ui-page-indicator" id="pageIndicator" data-number-of-pages="4" style="position:absolute; transform: translate3d(-50%, -100%, 0); left: 50%; bottom: 0;"></div>
    <div id="hsectionchanger" class="ui-section-changer">
        <!-- section changer has only one child. -->
        <div>
            <section class="ui-section-active">
                <ul data-role="listview">
                    <li class="ui-li-anchor"><a href="#">List 1</a></li>
                    <li class="ui-li-anchor"><a href="#">List 2</a></li>
                    <li class="ui-li-anchor"><a href="#">List 3</a></li>
                    <li class="ui-li-anchor"><a href="#">List 4</a></li>
                    <li class="ui-li-anchor"><a href="#">List 5</a></li>
                    <li class="ui-li-anchor"><a href="#">List 6</a></li>
                    <li class="ui-li-anchor"><a href="#">List 7</a></li>
                </ul>
            </section>
            <section>
                <ul data-role="listview">
                    <li class="ui-li-anchor"><a href="#">List 1</a></li>
                    <li class="ui-li-anchor"><a href="#">List 2</a></li>
                </ul>
            </section>
            <section>
                <ul data-role="listview">
                    <li class="ui-li-anchor"><a href="#">List 1</a></li>
                    <li class="ui-li-anchor"><a href="#">List 2</a></li>
                    <li class="ui-li-anchor"><a href="#">List 3</a></li>
                </ul>
            </section>
            <section>
                <ul data-role="listview">
                    <li class="ui-li-anchor"><a href="#">List 1</a></li>
                    <li class="ui-li-anchor"><a href="#">List 2</a></li>
                    <li class="ui-li-anchor"><a href="#">List 3</a></li>
                    <li class="ui-li-anchor"><a href="#">List 4</a></li>
                </ul>
            </section>
        </div>
    </div>
    </div>
    <script src="./pageindicator.js"></script>
</div>
</body>
</html>
