<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"  href="../../lib/tau/mobile/theme/default/tau.css">
	<script type="text/javascript" src="../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<div data-role="page" id="page-indicator-page">
    <div data-role="header" data-position="fixed">
        <h1>Controls</h1>
    </div>
    <div data-role="content" class="ui-scrollview-clip">
    <div data-role="page-indicator" id="pageIndicator" data-number-of-pages="4" style="position:absolute; transform: translate3d(-50%, -100%, 0); left: 50%; bottom: 0;"></div>
    <div data-role="section-changer" id="hsectionchanger" class="ui-section-changer">
        <!-- section changer has only one child. -->
        <div>
            <section class="ui-section-active">
                <ul data-role="listview">
                    <li><a href="#">List 1</a></li>
                    <li><a href="#">List 2</a></li>
                    <li><a href="#">List 3</a></li>
                    <li><a href="#">List 4</a></li>
                    <li><a href="#">List 5</a></li>
                    <li><a href="#">List 6</a></li>
                    <li><a href="#">List 7</a></li>
                </ul>
            </section>
            <section>
                <ul data-role="listview">
                    <li><a href="#">List 1</a></li>
                    <li><a href="#">List 2</a></li>
                </ul>
            </section>
            <section>
                <ul data-role="listview">
                    <li><a href="#">List 1</a></li>
                    <li><a href="#">List 2</a></li>
                    <li><a href="#">List 3</a></li>
                </ul>
            </section>
            <section>
                <ul data-role="listview">
                    <li><a href="#">List 1</a></li>
                    <li><a href="#">List 2</a></li>
                    <li><a href="#">List 3</a></li>
                    <li><a href="#">List 4</a></li>
                </ul>
            </section>
        </div>
    </div>
    </div>
    <script src="./pageindicator.js"></script>
</div>
</body>
</html>
