<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"  href="../../lib/tau/mobile/theme/default/tau.css">
    <script type="text/javascript" src="../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>

</head>
<body>
<div class="ui-page" id="progressindicator-demo">
    <div class="ui-header" data-position="fixed">
        <h1>Activity Indicator</h1>
    </div><!-- /header -->
    <div class="ui-content">
        <ul class="ui-listview">
            <li class="ui-group-index">Progress(activitybar)</li>
            <li><div class="ui-progressbar" id="progressActivity" data-type="activitybar" data-value="100"></div></li>
            <li class="ui-group-index">Progress(progressbar)</li>
            <li><div class="ui-progressbar" id="progressBar"></div></li>
        </ul>
    </div><!-- /content -->
</div><!-- /page -->
</body>
</html>