<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../lib/tau/mobile/theme/default/tau.min.css">
	<link rel="stylesheet" href="../../css/style.css">
	<script type="text/javascript" src="../../lib/tau/mobile/js/tau.min.js" data-build-remove="false"></script>
</head>
<body>
<div class="ui-page" id="demo-page">
	<div class="ui-header" data-position="fixed">
		<h1>Controls</h1>
	</div>
	<div class="ui-content">
		<ul class="ui-listview">
			<li class="ui-li-anchor"><a href="scrollhandler/vertical.html">Vertical ScrollHandler</a></li>
			<li class="ui-li-anchor"><a href="scrollhandler/horizontal.html">Horizontal ScrollHandler</a></li>
		</ul>
	</div>
</div>
</body>
</html>
