<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet"  href="../../lib/tau/mobile/theme/default/tau.css">
	<script type="text/javascript" src="../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<div class="ui-page" id="search-bar-page">
	<div data-role="header">
		<a class="ui-header-btn ui-header-btn-left ui-header-btn-icon btn-icon-back"></a>
		<a class="ui-header-btn ui-header-btn-right ui-header-btn-icon ui-btn-icon ui-icon-call"></a>
		<input type="search" name="search" id="search-bar" data-clear-btn="true"/>
	</div>
	<div class="ui-content" id="search-input-content">
		<ul id="searchList" class="ui-listview ui-colored-list">
			<li class="ui-li-static">List item 01</li>
			<li class="ui-li-static">List item 02</li>
			<li class="ui-li-static">List item 03</li>
			<li class="ui-li-static">List item 04</li>
			<li class="ui-li-static">List item 05</li>
			<li class="ui-li-static">List item 06</li>
			<li class="ui-li-static">List item 07</li>
			<li class="ui-li-static">List item 08</li>
			<li class="ui-li-static">List item 09</li>
			<li class="ui-li-static">List item 10</li>
			<li class="ui-li-static">List item 21</li>
			<li class="ui-li-static">List item 22</li>
			<li class="ui-li-static">List item 23</li>
			<li class="ui-li-static">List item 24</li>
			<li class="ui-li-static">List item 25</li>
			<li class="ui-li-static">List item 26</li>
			<li class="ui-li-static">List item 27</li>
			<li class="ui-li-static">List item 28</li>
			<li class="ui-li-static">List item 29</li>
			<li class="ui-li-static">List item 30</li>
		</ul>
	</div>
	<script>
		document.getElementById("search-bar").focus();
	</script>
</div>
</body>
</html>