<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../../lib/tau/mobile/theme/default/tau.css">
		<script type="text/javascript" src="../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
	</head>
	<body>
		<div data-role="page" id="textenveloperPage" data-dom-cache="true">
			<div data-role="header" data-position="fixed">
				<h1>Text Enveloper</h1>
			</div>
			<div data-role="content">
				<div id="textEnveloper" data-role="textenveloper"></div>
				<ul data-role="listview">
					<li class="ui-li-static">List 1</li>
					<li class="ui-li-static">List 2</li>
					<li class="ui-li-static">List 3</li>
				</ul>
			</div>
			<script src="textenveloper.js"></script>
		</div>
	</body>
</html>
