<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet"  href="../../lib/tau/mobile/theme/default/tau.css">
	<script type="text/javascript" src="../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<div data-role="page" id="switch-demo">
	<div data-role="header">
		<h1>Toggle switch</h1>
	</div>

	<div class="content" data-role="content">
		<p>1-1. Proper way of definding toggleswitch with &lt;input&gt; tag</p>
		<input type="checkbox" name="toggle-1" id="toggle-1" data-role="toggleswitch"/>

		<p>1-2.Proper way of definding disabled toggleswitch with &lt;input&gt; tag</p>
		<input type="checkbox" name="toggle-2" id="toggle-2" data-role="toggleswitch" disabled/>

		<p>2. Define toggleswitch based on &lt;select&gt; tag and data-role="toggleswitch"</p>
		<select name="flip-1" id="flip-1" data-role="toggleswitch">
			<option value="off"></option>
			<option value="on"></option>
		</select>

		<h3>To display toggleswithc in jqm style, set text for option tag with data-role="slider"</h3>

		<p>1. Define toggleswitch like slider based on &lt;select&gt; tag and data-role="slider" without text in options</p>
		<select name="flip-2" id="flip-2" data-role="slider">
			<option value="off"></option>
			<option value="on"></option>
		</select>

		<p>2. Define short toggleswitch like slider based on &lt;select&gt; tag and data-role="slider"</p>
		<div data-role="fieldcontain">
			<label for="flip-3">Make text short to use Text toggle switch</label>
			<select name="flip-3" id="flip-3" data-role="slider">
				<option value="nope">Nope</option>
				<option value="yep">Yep</option>
			</select>
		</div>

		<p>3. Define long toggleswitch like slider based on &lt;select&gt; tag and data-role="slider" with filling the text in options</p>
		<div class ="containing-element">
			<label for="flip-4">Set element width to use long Text toggle switch: </label>
			<select name="flip-4" id="flip-4" data-role="slider">
				<option value="off">Long toggle off</option>
				<option value="on">Long toggle on</option>
			</select>
		</div>

	</div>
	<link rel="stylesheet" href="toggleswitch.css" />
</div>
</body>
</html>
