<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,user-scalable=no"/>
	<script type="text/javascript">
		var tauConfig = {
			disableRouter: true
		}
	</script>
	<link rel="stylesheet" href="custom.css">
	<link rel="stylesheet"  href="../lib/tau/theme/default/tau.css">
	<title>Backbone router + TAU widget</title>
</head>
<body>
<div id="main">
	<header>
		<h2>List of highest-grossing films</h2>
		<div id="openBtn" data-role="button" data-icon="naviframe-drawer" class="ui-drawer-button"></div>
	</header>
	<ul id="list" class="ui-listview"></ul>

	<div data-role="drawer" data-position="left" id="leftdrawer">
		<ul data-role="listview">
			<li class="ui-drawer-main-list"><a href="#sort/name">Sort by name</a></li>
			<li class="ui-drawer-main-list"><a href="#sort/year">Sort by year</a></li>
			<li class="ui-drawer-main-list"><a href="#sort/profit">Sort by profit</a></li>
		</ul>
	</div>
</div>

<div id="details">
	<header>
		<h2 class="ui-title">Movie details</h2>
	</header>
	<div data-role="content">
		<div id="details-content">
			<!-- will be filled in JS -->
		</div>
		<div id="show-profit" class="ui-btn" data-rel="popup">Show profit</div>
		<!-- Popup -->
		<div id="profit-popup" class="ui-popup" class="center_title_1btn">
			<div class="ui-popup-title">
				<h1>Profit</h1>
			</div>
			<div class="ui-popup-text">
				<span id="profit">1000000</span>$
			</div>
			<div class="ui-popup-button-bg">
				<a class="ui-btn" data-inline="true" id="profit-popup-close">Button</a>
			</div>
		</div>
	</div>
</div>





<script type="text/template" id="details-template">
	<div>Movie <%- name %> was produced in <%- year %></div>
</script>

<script type="text/template" id="movies-template">
	<% _.each(movies, function(movie) { %>
	<li><a href="#details/<%- movie.id %>"><%- movie.name %></a></li>
	<% }); %>
</script>

<script type="text/template" id="popup-template">
</script>



<script src="../lib/tau/js/jquery.js"></script>
<script src="../lib/backbone/underscore.js"></script>
<script src="../lib/backbone/backbone.js"></script>
<script src="../lib/tau/js/tau.full.js" data-build-remove="false"></script>
<script type="text/javascript" src="js/models/movie.js"></script>
<script type="text/javascript" src="js/collection/movies.js"></script>
<script type="text/javascript" src="js/routes/router.js"></script>
<script type="text/javascript" src="js/views/main-view.js"></script>
<script type="text/javascript" src="js/views/details-view.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>

