<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../../css/custom.css">
	<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>

<tau-page class="ui-page" id="ButtonNolist">
		<div class="ui-header" data-position="fixed">
				<h1>BUTTONS</h1>
		</div>

		<tau-scrollview class="ui-content">
		*Default Button
		<button is="tau-formbutton">Button</button>

		HTML Code:
		<textarea is="tau-textinput" style="width:80%;padding:1em;background-color:whitesmoke;color:black;border-style:inset;font-size:20px" class="formfield" readonly="readonly" disabled><button is="tau-formbutton" >Button</button></textarea>
		<br><br>

		*Inline Button, Inline Button With Icon<br>
		<button is="tau-formbutton" inline="true">DataInline True</button>
		<button is="tau-formbutton" inline="true" icon="call" iconpos="right">Icon Text</button>
		<button is="tau-formbutton" inline="true" icon="call" iconpos="left">Icon Text</button>
		<button is="tau-formbutton" inline="true" icon="star" style="nobg"></button>
		<button is="tau-formbutton" inline="true" icon="rename" style="circle"></button><br/>

		HTML Code:
		<textarea is="tau-textinput" style="width:80%;padding:1em;background-color:whitesmoke;color:black;border-style:inset;font-size:20px" readonly="readonly" disabled><tau-button inline="true">DataInline True</tau-button>
		<button is="tau-formbutton"  inline="true" icon="call" iconpos="right">Icon Text</button>
		<button is="tau-formbutton"  inline="true" icon="call" iconpos="left">Icon Text</button>
		<button is="tau-formbutton"  inline="true" icon="favorite" style="nobg"></button>
		<button is="tau-formbutton"  inline="true" icon="rename" style="circle"></button></textarea><br/><br/>

		*Default Button (A tag)
		<tau-button href="#buttonTest" class="ui-btn">A Tag Button</tau-button>

		HTML Code:
		<textarea is="tau-textinput" style="width:80%;padding:1em;background-color:whitesmoke;color:black;border-style:inset;font-size:20px" readonly="readonly" disabled><tau-button href="#buttonTest" class="ui-btn">A Tag Button</tau-button></textarea>
		<br><br>

		*Button Icon Position top, bottom (with inline)
		<button is="tau-formbutton"  icon="call" iconpos="top">PositionTop</button><br/>
		<button is="tau-formbutton"  icon="call" iconpos="bottom">PositionBottom</button><br/>
		<button is="tau-formbutton"  icon="call" iconpos="top" inline="true">PositionTop</button>
		<button is="tau-formbutton"  icon="call" iconpos="bottom" inline="true">PositionBottom</button><br/>

		HTML Code:
		<textarea is="tau-textinput" style="width:80%;padding:1em;background-color:whitesmoke;color:black;border-style:inset;font-size:20px" readonly="readonly" disabled><tau-button icon="call" iconpos="top">PositionTop</tau-button>
		<button is="tau-formbutton"  icon="call" iconpos="bottom">PositionBottom</button>
		<button is="tau-formbutton"  icon="call" iconpos="top" inline="true">PositionTop</button>
		<button is="tau-formbutton"  icon="call" iconpos="bottom" inline="true">PositionBottom</button></textarea><br/><br/>

		*Custom Button:<br>
		<button is="tau-formbutton"  inline="true" icon="call">0</button>
		<button is="tau-formbutton"  inline="true" icon="call" iconpos="top">1</button>
		<button is="tau-formbutton"  inline="true" icon="call" iconpos="bottom">2</button>
		<button is="tau-formbutton"  inline="true" icon="call" style="width:150px;height:150px">3</button>
		<button is="tau-formbutton"  inline="true" icon="call" style="circle"></button><br/>

		HTML Code:
		<textarea is="tau-textinput" style="width:80%;padding:1em;background-color:whitesmoke;color:black;border-style:inset;font-size:20px" readonly="readonly" disabled><tau-button inline="true" icon="call">0</tau-button>
		<button is="tau-formbutton"  inline="true" icon="call" iconpos="top">1</button>
		<button is="tau-formbutton"  inline="true" icon="call" iconpos="bottom">2</button>
		<button is="tau-formbutton"  inline="true" icon="call" style="width:150px;height:150px">3</button></textarea>

		CSS Code:<br>
		<textarea is="tau-textinput" style="width:80%;padding:1em;background-color:whitesmoke;color:black;border-style:inset;font-size:20px" readonly="readonly" disabled>.ui-icon-test{
		background-size: 100% 100%;
		background-image: url(00_button_call);
		}
		.ui-icon-test2{
				background-position:0% 0%;
				background-size:50% 50%;
				background-image: url(00_button_call);
		}</textarea>

		*Input Type = "Button"
		<input is="tau-inputbutton" value="Test button"/>

		HTML Code:
		<textarea is="tau-textinput" style="width:80%;padding:1em;background-color:whitesmoke;color:black;border-style:inset;font-size:20px" readonly="readonly" disabled><tau-button type="button" value="test button"></tau-button></textarea>
		<br><br>

		Button No text
		<tau-button class="ui-btn" id="button1test" inline="false" style="circle"></tau-button>
		<br><br>
		<tau-button class="ui-btn" id="button1test2" inline="false"></tau-button>
		<br><br>
		<tau-button class="ui-btn" id="button1test3" inline="true" style="circle"></tau-button>
		<br><br>
		<tau-button class="ui-btn" id="button1test4" inline="true"></tau-button>
	</tau-scrollview>
</tau-page>
</body>
</html>
