<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../../css/custom.css">
	<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>

<tau-page class="ui-page" id="ButtonDemo">
	<div class="ui-header" data-position="fixed">
		<h1>Buttons</h1>
	</div>
	<tau-scrollview class="ui-content">
		<tau-listview class="ui-listview">
			<li class="ui-group-index">Basic Box Buttons</li>
			<li class="ui-li-static li-has-right-btn">Button<tau-button inline="true">Button</tau-button></li>
			<li class="ui-li-static li-has-right-btn">Button<tau-button inline="true" icon="arrow-r">Button</tau-button></li>
			<li class="ui-li-static li-has-right-btn">Button<tau-button inline="true" icon="arrow-r" iconpos="left">Button</tau-button></li>
			<li class="ui-li-static li-has-right-btn">Button<tau-button inline="true" icon="call" iconpos="right">Button</tau-button></li>

			<li class="ui-group-index">Circle Buttons</li>
			<li class="ui-li-static li-has-right-circle-btn">Add<tau-button inline="true" icon="add" style="circle"></tau-button></li>
			<li class="ui-li-static li-has-right-circle-btn">Delete<tau-button inline="true" icon="delete" style="circle"></tau-button></li>
			<li class="ui-li-static li-has-right-circle-btn">Cancel<tau-button inline="true" icon="cancel" style="circle"></tau-button></li>
			<li class="ui-li-static li-has-right-circle-btn">Reorder<tau-button inline="true" icon="reorder" style="circle"></tau-button></li>

			<li class="ui-group-index">No Background Buttons</li>
			<li class="ui-li-static li-has-right-circle-btn">Add<tau-button inline="false" icon="add" style="nobg"></tau-button></li>
			<li class="ui-li-static li-has-right-circle-btn">Delete<tau-button inline="true" icon="delete" style="nobg"></tau-button></li>
			<li class="ui-li-static li-has-right-circle-btn">Cancel<tau-button inline="true" icon="cancel" style="nobg"></tau-button></li>
			<li class="ui-li-static li-has-right-circle-btn">Reorder<tau-button inline="true" icon="reorder" style="nobg"></tau-button></li>

			<li class="ui-group-index">Icon Buttons</li>
			<li class="ui-li-static li-has-right-btn">data-icon = &quot;arrow-l&quot; <tau-button inline="true" icon="arrow-l"></tau-button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = &quot;arrow-r&quot; <tau-button inline="true" icon="arrow-r"></tau-button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = &quot;arrow-u&quot; <tau-button inline="true" icon="arrow-u"></tau-button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = &quot;arrow-d&quot; <tau-button inline="true" icon="arrow-d"></tau-button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = &quot;delete&quot; <tau-button inline="true" icon="delete"></tau-button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = &quot;check&quot; <tau-button inline="true" icon="check"></tau-button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = &quot;gear&quot; <tau-button inline="true" icon="gear"></tau-button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = &quot;refresh&quot; <tau-button inline="true" icon="refresh"></tau-button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = &quot;forward&quot; <tau-button inline="true" icon="forward"></tau-button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = &quot;back&quot; <tau-button inline="true" icon="back"></tau-button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = &quot;grid&quot; <tau-button inline="true" icon="grid"></tau-button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = &quot;info&quot; <tau-button inline="true" icon="info"></tau-button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = &quot;home&quot; <tau-button inline="true" icon="home"></tau-button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = &quot;alert&quot; <tau-button inline="true" icon="alert"></tau-button></li>

			<li class="ui-group-index">Custom buttons</li>
			<li class="ui-li-anchor"><a href="buttonNoList.html">Buttons Pages(not in list) </a></li>
		</tau-listview>
	</tau-scrollview>
</tau-page>

</body>
</html>
