<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"  href="../../../lib/tau/mobile/theme/default/tau.css">
    <script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
    <div class="ui-page" id="demo-page">
        <div class="ui-header" data-position ="fixed" >
            <h1>Search Input</h1>
        </div>
        <div class="ui-content" id="search-input-content">
            <div class="search-input-area" >
                <input type="search" name="search" id="demo-page-search-input" value="" />
            </div>
            <ul class="ui-listview">
                <li class="ui-li-static">Hairston</li>
                <li class="ui-li-static">Hansbrough</li>
                <li class="ui-li-static">Allred</li>
                <li class="ui-li-static">Hanrahan</li>
                <li class="ui-li-static">Egan</li>
                <li class="ui-li-static">Dare</li>
                <li class="ui-li-static">Edmonson</li>
                <li class="ui-li-static">Calip</li>
                <li class="ui-li-static">Baker</li>
                <li class="ui-li-static">Fazekas</li>
                <li class="ui-li-static">Garrity</li>
                <li class="ui-li-static">Hansen</li>
                <li class="ui-li-static">Feigenbaum</li>
                <li class="ui-li-static">Fillmore</li>
                <li class="ui-li-static">Darden</li>
                <li class="ui-li-static">Davis</li>
                <li class="ui-li-static">Fitzgerald</li>
                <li class="ui-li-static">Carr</li>
                <li class="ui-li-static">Danilovic</li>
                <li class="ui-li-static">Dark</li>
                <li class="ui-li-static">Alexander</li>
                <li class="ui-li-static">Allen</li>
                <li class="ui-li-static">Edwards</li>
                <li class="ui-li-static">Garrett</li>
                <li class="ui-li-static">Gardner</li>
                <li class="ui-li-static">Carroll</li>
                <li class="ui-li-static">Garner</li>
                <li class="ui-li-static">Finn</li>
                <li class="ui-li-static">Edelin</li>
                <li class="ui-li-static">Gay</li>
            </ul>
        </div>
        <script src="searchinput.js"></script>
    </div>
</body>
</html>